Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

:pipeline: Upload Cargo Audit:
  label: ':pipeline: Upload Cargo Audit'
  command: .buildkite/pipeline.cargo-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload NPM Audit:
  label: ':pipeline: Upload NPM Audit'
  command: .buildkite/pipeline.npm-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Yarn Audit:
  label: ':pipeline: Upload Yarn Audit'
  command: .buildkite/pipeline.yarn-audit.sh | buildkite-agent pipeline upload

Revert MANIFEST_UNKNOWN workaround (#1697)
  .buildkite/pipeline.merge.yml
  .buildkite/scripts/build_and_upload_images.sh
Due: none

How about libsasl for rdkafka
  src/rust/Dockerfile
Due: none

set NO_VENDOR correctly; set sasl2 to static linking
  src/rust/Dockerfile
Due: none

WIP wait for Vault to boot prior to configuring
  nomad/local/start_detach.sh
Due: none

SASL static, zlib static
  src/rust/Dockerfile
  src/rust/kafka/Cargo.toml
Due: :pipeline: Upload Cargo Audit

PR comment updates
  src/js/engagement_view/src/components/engagementView/sidebar/tables/lensTable/lensTable.tsx
  src/js/engagement_view/src/components/engagementView/sidebar/tables/lensTable/lensTableStyles.tsx
  src/js/engagement_view/src/components/engagementView/sidebar/tables/lensTable/selectLens.tsx
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
  src/js/engagement_view/src/theme.tsx
  src/js/engagement_view/src/types/LensAndNodeTableTypes.tsx
Due: none

Add skeleton for uid-allocator
  docker-bake.hcl
  nomad/grapl-core.nomad
  nomad/local/grapl-local-infra.nomad
  pulumi/grapl/__main__.py
  src/proto/graplinc/grapl/api/uid_allocator/v1beta1/uid_allocator.proto
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/bin/generate_sqlx_data.sh
  src/rust/rust-proto-new/Cargo.toml
  src/rust/rust-proto-new/src/graplinc/grapl/api/uid_allocator/v1beta1.rs
  src/rust/rust-proto-new/src/lib.rs
  src/rust/uid-allocator/Cargo.toml
  src/rust/uid-allocator/migrations/20220405205523_counter-table.sql
  src/rust/uid-allocator/src/lib.rs
  src/rust/uid-allocator/src/main.rs
Due: :pipeline: Upload Cargo Audit

Update lock
  src/rust/Cargo.lock
Due: :pipeline: Upload Cargo Audit

Add comment to protobuf
  src/proto/graplinc/grapl/api/uid_allocator/v1beta1/uid_allocator.proto
Due: none

Format
  nomad/grapl-core.nomad
  pulumi/grapl/__main__.py
  src/proto/graplinc/grapl/api/uid_allocator/v1beta1/uid_allocator.proto
  src/rust/rust-proto-new/src/graplinc/grapl/api/uid_allocator/v1beta1.rs
  src/rust/uid-allocator/src/lib.rs
Due: none

Add CODEOWNERS
  .github/CODEOWNERS
Due: none

Add env-logger
  src/rust/Cargo.lock
  src/rust/organization-management/Cargo.toml
  src/rust/plugin-registry/Cargo.toml
Due: :pipeline: Upload Cargo Audit

Fix up tomls
  src/rust/Cargo.lock
  src/rust/organization-management/Cargo.toml
  src/rust/plugin-registry/Cargo.toml
  src/rust/uid-allocator/Cargo.toml
Due: :pipeline: Upload Cargo Audit

Rust-Proto-New-ify plugin_sdk/generators
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_server.rs
  src/rust/rust-proto-new/src/lib.rs
  src/rust/rust-proto-new/tests/proto_serde_tests.rs
  src/rust/rust-proto-new/tests/test_utils/strategies.rs
Due: none

Rust-Proto-New-ify plugin_sdk/generators (#1701)
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_server.rs
  src/rust/rust-proto-new/src/lib.rs
  src/rust/rust-proto-new/tests/proto_serde_tests.rs
  src/rust/rust-proto-new/tests/test_utils/strategies.rs
Due: none

Example generator works but i think the GeneratorApiError is useless
  src/rust/Cargo.lock
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/src/example_generator.rs
  src/rust/plugin-sdk/generator-sdk/src/server.rs
Due: :pipeline: Upload Cargo Audit

Make env vars stuff a little more reasonable
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
  src/rust/plugin-sdk/generator-sdk/src/examples/example_generator.rs
  src/rust/plugin-sdk/generator-sdk/src/server.rs
Due: none

Remove plugin_sdk from rust-proto
  src/rust/rust-proto/src/lib.rs
  src/rust/rust-proto/src/plugin_sdk/generators.rs
  src/rust/rust-proto/src/plugin_sdk/mod.rs
Due: none

Move example generator to its own dir
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/src/example_generator.rs
Due: :pipeline: Upload Cargo Audit

Remove the server::ApiError antipattern. Error types are defined at Service level.
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_registry/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_registry/v1beta1_server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_work_queue/v1beta1_server.rs
Due: none

Add a very simple generator
  src/rust/Cargo.lock
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/src/client.rs
  src/rust/plugin-sdk/generator-sdk/src/example_generator.rs
  src/rust/plugin-sdk/generator-sdk/src/server.rs
  src/rust/rust-proto-new/Cargo.toml
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_server.rs
  src/rust/rust-proto-new/src/lib.rs
  src/rust/rust-proto-new/src/protocol/status.rs
  src/rust/rust-proto-new/src/protocol/tls.rs
Due: :pipeline: Upload Cargo Audit

Add a real error type
  src/rust/plugin-sdk/generator-sdk/src/example_generator.rs
Due: none

shuttle-docker-to-dist
  Makefile
  docker-bake.hcl
  src/rust/Dockerfile
Due: none

Rename to export-rust-build-artifacts-to-dist
  Makefile
  docker-bake.hcl
  src/rust/Dockerfile
Due: none

'shuttle-rust-to-dist': a way to pull binary artifacts out of `rust-build` into `dist/`. (#1699)
  Makefile
  docker-bake.hcl
  src/rust/Dockerfile
Due: none

updates from PR change, attempt to upgrade react-router
  src/js/engagement_view/src/components/reusableComponents/collapsibleDrawer.tsx
  src/js/engagement_view/src/components/reusableComponents/drawer.tsx
  src/js/engagement_view/src/components/reusableComponents/drawerList.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

Fix hax_docker_plugin.nomad
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
Due: none

Fix build_and_upload_images which had a leftover 'push'
  .buildkite/scripts/build_and_upload_images.sh
Due: none

Implement a real, example Generator using the Plugin SDK. (#1702)
  src/rust/Cargo.lock
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/src/client.rs
  src/rust/plugin-sdk/generator-sdk/src/examples/example_generator.rs
  src/rust/plugin-sdk/generator-sdk/src/server.rs
  src/rust/rust-proto-new/Cargo.toml
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_registry/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_registry/v1beta1_server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_work_queue/v1beta1_server.rs
  src/rust/rust-proto-new/src/lib.rs
  src/rust/rust-proto-new/src/protocol/status.rs
  src/rust/rust-proto-new/src/protocol/tls.rs
  src/rust/rust-proto/src/lib.rs
  src/rust/rust-proto/src/plugin_sdk/generators.rs
  src/rust/rust-proto/src/plugin_sdk/mod.rs
Due: :pipeline: Upload Cargo Audit

Fix build_and_upload_images which had a leftover 'push' (#1703)
  .buildkite/scripts/build_and_upload_images.sh
Due: none

Simplify trait ProtobufSerializable<T> into ProtobufSerializable
  src/rust/rust-proto-new/src/graplinc/common/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/graph/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_registry/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/pipeline/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/pipeline/v1beta2.rs
  src/rust/rust-proto-new/src/lib.rs
Due: none

Remove unnecessary f_: PhantomData on service structs
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_registry/v1beta1_server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1_server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_work_queue/v1beta1_server.rs
Due: none

Separate pipeline_ingress into a types/client/server file
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1/client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1/server.rs
Due: none

Refactor file structure for generator sdk
  src/rust/plugin-sdk/generator-sdk/src/client.rs
  src/rust/plugin-sdk/generator-sdk/src/examples/example_generator.rs
  src/rust/plugin-sdk/generator-sdk/src/server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1/client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1/server.rs
  src/rust/rust-proto-new/src/lib.rs
Due: none

Clean up a few patterns in rust-proto-new (#1705)
  src/rust/plugin-sdk/generator-sdk/src/client.rs
  src/rust/plugin-sdk/generator-sdk/src/examples/example_generator.rs
  src/rust/plugin-sdk/generator-sdk/src/server.rs
  src/rust/rust-proto-new/src/graplinc/common/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/graph/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1/client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1/server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_registry/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_registry/v1beta1_server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1/client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1/server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/plugin_work_queue/v1beta1_server.rs
  src/rust/rust-proto-new/src/graplinc/grapl/pipeline/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/pipeline/v1beta2.rs
  src/rust/rust-proto-new/src/lib.rs
Due: none

Hook up more of the mutation stuff in rust-proto-new
  docker-bake.hcl
  src/proto/graplinc/grapl/api/graph_mutation/v1beta1/graph_mutation.proto
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/graph-mutation-service/Cargo.toml
  src/rust/graph-mutation-service/src/main.rs
  src/rust/rust-proto-new/Cargo.toml
  src/rust/rust-proto-new/src/graplinc/grapl/api/graph_mutation/v1beta1/client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/graph_mutation/v1beta1/messages.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/graph_mutation/v1beta1/mod.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/graph_mutation/v1beta1/server.rs
  src/rust/rust-proto-new/src/lib.rs
Due: :pipeline: Upload Cargo Audit

update make file to allow for building dependencies. Add new yarn.lock file with dependency upgrades.
  src/js/engagement_view/Makefile
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

Use Cloudsmith Apt repo proxy to install workstation tooling
  etc/chromeos/lib/installs.sh
  etc/chromeos/setup_chromeos.sh
Due: none

add active link to nav links for navigation bar with update to react router dom
  src/js/engagement_view/src/components/reusableComponents/collapsibleDrawer.tsx
  src/js/engagement_view/src/components/reusableComponents/drawer.tsx
  src/js/engagement_view/src/components/reusableComponents/drawerList.tsx
  src/js/engagement_view/src/components/styles/analyzersAndGeneratorsStyles.tsx
  src/js/engagement_view/src/theme.tsx
Due: none

Move uid-allocator-db to its own group
  nomad/local/grapl-local-infra.nomad
  src/rust/uid-allocator/src/main.rs
Due: none

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
