Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload AMI Build, :pipeline: Upload UX Build, :pipeline: Upload AMI Test

make build-lambda-zips-rust:
  command:
  - make build-lambda-zips-rust
  artifact_paths:
  - dist/*-lambda.zip
  agents:
    queue: docker

make build-lambda-zips-js:
  command:
  - make build-lambda-zips-js
  artifact_paths:
  - dist/*-lambda.zip
  agents:
    queue: docker

:pipeline: Upload AMI Build:
  label: ':pipeline: Upload AMI Build'
  command: buildkite-agent pipeline upload .buildkite/pipeline.merge.ami-build.yml

:pipeline: Upload UX Build:
  label: ':pipeline: Upload UX Build'
  command: buildkite-agent pipeline upload .buildkite/pipeline.merge.ux-build.yml

:pipeline: Upload AMI Test:
  label: ':pipeline: Upload AMI Test'
  command: buildkite-agent pipeline upload .buildkite/pipeline.verify.ami-test.yml

Upload JS/TS coverage reports to coverage.io in CI
  .buildkite/pipeline.verify.yml
  test/docker-compose.unit-tests-js.yml
Due: none

Simplify engagement_view Dockerfile
  docker-compose.build.yml
  src/js/engagement_view/Dockerfile
  test/docker-compose.unit-tests-js.yml
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

Create new release candidate with updated deployment artifacts
  pulumi/grapl/Pulumi.testing.yaml
Due: none

Simplify graplctl invocations in e2e tests
  test/docker-compose.e2e-tests.yml
Due: none

Add some makefile targets to aid UX development against Local Grapl
  .github/CODEOWNERS
  LOCAL_UI_WORKFLOW.md
  Makefile
  docker-compose.local-dev.yml
Due: none

Use Tarpaulin to gather Rust code coverage statistics
  .buildkite/pipeline.verify.yml
  src/rust/Dockerfile
  test/docker-compose.unit-tests-rust.yml
Due: make build-lambda-zips-rust

Remove duplicate Rust unit test steps
  .buildkite/pipeline.verify.yml
Due: none

Run buf from a container for protobuf linting
  .buildkite/pipeline.verify.yml
  .github/CODEOWNERS
  EDITOR_SETUP.md
  Makefile
  docker-compose.check.yml
  etc/install_buf.sh
Due: none

Remove src/python/graplinc; clean up protobuf codegen
  src/BUILD
  src/proto/BUILD
  src/proto/graplinc/README.python-codegen.md
  src/python/grapl_analyzerlib/grapl_analyzerlib/BUILD
  src/python/graplinc/README.md
  src/python/graplinc/graplinc/grapl/api/BUILD
  src/python/graplinc/graplinc/grapl/api/__init__.py
  src/python/graplinc/graplinc/grapl/api/graph/__init__.py
  src/python/graplinc/graplinc/grapl/api/graph/v1beta1/__init__.py
  src/python/repl/BUILD
Due: none

remove unneeded line
  src/python/grapl_analyzerlib/grapl_analyzerlib/BUILD
Due: none

Use our hcl-formatter image to lint and format all HCL files
  .buildkite/pipeline.verify.yml
  .buildkite/scripts/format_nomad.sh
  .buildkite/scripts/lint_nomad.sh
  .buildkite/scripts/lint_packer.sh
  Makefile
  docker-compose.check.yml
Due: none

Respecify analyzerlib needs graplinc
  .github/CODEOWNERS
  src/python/grapl_analyzerlib/grapl_analyzerlib/BUILD
Due: none

Remove src/python/graplinc; protobuf codegen creates correct `graplinc.` structure now. (#1126)
  .github/CODEOWNERS
  src/BUILD
  src/proto/BUILD
  src/proto/graplinc/README.python-codegen.md
  src/python/grapl_analyzerlib/grapl_analyzerlib/BUILD
  src/python/graplinc/README.md
  src/python/graplinc/graplinc/grapl/api/BUILD
  src/python/graplinc/graplinc/grapl/api/__init__.py
  src/python/graplinc/graplinc/grapl/api/graph/__init__.py
  src/python/graplinc/graplinc/grapl/api/graph/v1beta1/__init__.py
  src/python/repl/BUILD
Due: none

Abstract the calling of our various "check" services
  Makefile
Due: none

Add support for shellcheck to mac
  pants.toml
Due: none

Fix up a few methods
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
Due: none

Fix a minor issue in test_envelope.py
  src/python/grapl-common/tests/test_envelope.py
Due: none

Seed the Envelope through the Analyzer Executor
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/graplinc/graplinc/grapl/api/services/__init__.py
  src/python/graplinc/graplinc/grapl/api/services/v1beta1/__init__.py
Due: none

Remove some old pulumi files
  pulumi/Pulumi.dev.yaml
  pulumi/Pulumi.sbxcob.yaml
Due: none

Reformat code
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/tests/test_envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/rust/generators/sysmon-generator/src/models/process/create.rs
Due: make build-lambda-zips-rust

Fix up some clippy lints
  docs/queryable.md
  src/rust/Cargo.toml
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/rust-proto/build.rs
Due: make build-lambda-zips-rust

Add Python wrappers around the protobuf
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
Due: none

Seed through services
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/python/graplinc-grapl-api/setup.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/derive-dynamic-node/examples/ex.rs
  src/rust/derive-dynamic-node/tests/derive_session.rs
  src/rust/generators/generic-subgraph-generator/src/models/mod.rs
  src/rust/generators/graph-generator-lib/src/lib.rs
  src/rust/generators/sysmon-generator/src/models/process/create.rs
  src/rust/graph-merger/src/main.rs
  src/rust/graph-merger/src/reverse_resolver.rs
  src/rust/graph-merger/src/service.rs
  src/rust/graph-merger/src/upsert_util.rs
  src/rust/graph-merger/src/upserter.rs
  src/rust/grapl-service/src/serialization/zstd_proto_graph.rs
  src/rust/node-identifier/src/dynamic_sessiondb.rs
  src/rust/node-identifier/src/lib.rs
  src/rust/rust-proto/build.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/sqs-executor/src/lib.rs
  src/rust/sqs-executor/src/retriever/event_retriever.rs
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Add tests for proto uuid. Add comments for more protobuf
  src/proto/graplinc/grapl/api/services/v1beta1/types.proto
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/tests/test_envelope.py
Due: none

Rename Meta to Metadata
  src/proto/graplinc/grapl/api/services/v1beta1/types.proto
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/rust-proto/src/services.rs
  src/rust/sqs-executor/src/lib.rs
  src/rust/sqs-executor/src/retriever/event_retriever.rs
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Rename module from api.services to pipeline
  src/proto/graplinc/grapl/pipeline/v1beta1/types.proto
  src/python/grapl-common/grapl_common/envelope.py
  src/python/graplinc-grapl-api/setup.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/rust-proto/build.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/rust-proto/src/lib.rs
  src/rust/rust-proto/src/pipeline.rs
  src/rust/sqs-executor/src/lib.rs
  src/rust/sqs-executor/src/retriever/event_retriever.rs
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Reformat code
  src/python/grapl-common/grapl_common/envelope.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/sqs-executor/src/lib.rs
Due: make build-lambda-zips-rust

Rename Meta to Metadata. Remove client_id. Remove redundant rust-proto entry in workspace
  src/proto/graplinc/grapl/api/services/v1beta1/types.proto
  src/rust/Cargo.toml
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Use our codecov Buildkite plugin for coverage collection
  .buildkite/pipeline.verify.yml
Due: none

Update Pants to 2.6.0
  3rdparty/python/constraints.txt
  pants.toml
Due: none

wip tonic/grpc poc - bad commit
  pulumi/grapl/Pulumi.frontend-testing.yaml
  src/rust/grapl-user-management/Cargo.toml
  src/rust/grapl-user-management/build.rs
  src/rust/grapl-user-management/proto/helloworld.proto
  src/rust/grapl-user-management/proto/user-management.proto
  src/rust/grapl-user-management/proto/usermgt.proto
  src/rust/grapl-user-management/src/client.rs
  src/rust/grapl-user-management/src/main.rs
  src/rust/grapl-user-management/src/server.rs
  src/rust/grapl-usermgt-tonic/Cargo.toml
  src/rust/grapl-usermgt-tonic/proto/usermgt.proto
  src/rust/grapl-usermgt-tonic/src/client.rs
  src/rust/grapl-usermgt-tonic/src/main.rs
  src/rust/grapl-usermgt-tonic/src/server.rs
Due: make build-lambda-zips-rust

Reformat some code
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/rust/generators/sysmon-generator/src/serialization.rs
Due: make build-lambda-zips-rust

Fix python build
  src/proto/graplinc/grapl/pipeline/BUILD
  src/proto/graplinc/grapl/pipeline/v1beta1/types.proto
  src/python/graplctl/tests/BUILD
  src/python/graplinc/graplinc/grapl/pipeline/BUILD
  src/python/graplinc/graplinc/grapl/pipeline/__init__.py
  src/python/graplinc/graplinc/grapl/pipeline/v1beta1/__init__.py
  src/rust/generators/sysmon-generator/src/serialization.rs
  src/rust/graph-merger/tests/test_merging.rs
  src/rust/rust-proto/src/lib.rs
Due: make build-lambda-zips-rust

fix a rebase error
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
Due: none

formatting
  src/rust/Cargo.toml
  src/rust/analyzer-dispatcher/Cargo.toml
  src/rust/derive-dynamic-node/Cargo.toml
  src/rust/endpoint-plugin/Cargo.toml
  src/rust/generators/generic-subgraph-generator/Cargo.toml
  src/rust/generators/graph-generator-lib/Cargo.toml
  src/rust/generators/osquery-generator/Cargo.toml
  src/rust/generators/sysmon-generator/Cargo.toml
  src/rust/graph-merger/Cargo.toml
  src/rust/grapl/Cargo.toml
  src/rust/node-identifier/Cargo.toml
  src/rust/sqs-executor/Cargo.toml
Due: make build-lambda-zips-rust

buff up our buf rules, add to lints
  Makefile
  buf.yaml
Due: none

fix typechecking issues
  src/python/grapl-common/grapl_common/envelope.py
Due: none

add python-proto library
  .github/CODEOWNERS
  src/python/python-proto/BUILD
  src/python/python-proto/README.md
  src/python/python-proto/python_proto/__init__.py
  src/python/python-proto/python_proto/api.py
  src/python/python-proto/python_proto/pipeline.py
  src/python/python-proto/tests/BUILD
  src/python/python-proto/tests/test_api.py
  src/python/python-proto/tests/test_pipeline.py
Due: none

clean up the protobufs a little, update pants builds to work with them
  src/proto/google/protobuf/wrappers.proto
  src/proto/graplinc/BUILD
  src/proto/graplinc/grapl/api/graph/v1beta1/types.proto
  src/proto/graplinc/grapl/pipeline/BUILD
Due: none

Path conditions:
  make build-lambda-zips-rust: any of: src/rust/, docker-compose.lambda-zips.rust.yml
  make build-lambda-zips-js: any of: src/js/, docker-compose.lambda-zips.js.yml
  :pipeline: Upload AMI Build: any of: packer/, .buildkite/scripts/build_packer_ci.sh, .buildkite/scripts/record_artifacts.sh, .buildkite/scripts/lib/packer.sh, .buildkite/scripts/lib/packer_constants.sh, .buildkite/pipeline.merge.ami-build.yml
  :pipeline: Upload UX Build: any of: src/js/engagement_view/, .buildkite/scripts/upload_ux_assets.sh, .buildkite/pipeline.merge.ux-build.yml
  :pipeline: Upload AMI Test: any of: packer/, .buildkite/scripts/test_packer.sh
