Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload AMI Build, :pipeline: Upload UX Build, :pipeline: Upload AMI Test

make build-lambda-zips-rust:
  command:
  - make build-lambda-zips-rust
  artifact_paths:
  - dist/*-lambda.zip
  agents:
    queue: docker

make build-lambda-zips-js:
  command:
  - make build-lambda-zips-js
  artifact_paths:
  - dist/*-lambda.zip
  agents:
    queue: docker

:pipeline: Upload AMI Build:
  label: ':pipeline: Upload AMI Build'
  command: buildkite-agent pipeline upload .buildkite/pipeline.merge.ami-build.yml

:pipeline: Upload UX Build:
  label: ':pipeline: Upload UX Build'
  command: buildkite-agent pipeline upload .buildkite/pipeline.merge.ux-build.yml

:pipeline: Upload AMI Test:
  label: ':pipeline: Upload AMI Test'
  command: buildkite-agent pipeline upload .buildkite/pipeline.verify.ami-test.yml

Clean up our "USE_LOCALSTACK_SENTINEL_VALUE" nomad stuff (#1166)
  Makefile
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
  nomad/local/nomad_cli_tools.sh
  nomad/local/run_integration_tests.sh
  pulumi/grapl/Pulumi.local-grapl.yaml
  pulumi/grapl/__main__.py
  test/docker-compose.integration-tests.build.yml
  test/docker-compose.integration-tests.yml
Due: none

Add health check for dgraph-alpha using http health endpoint
  nomad/grapl-core.nomad
Due: none

Fix hcl syntax and formatting
  nomad/grapl-core.nomad
Due: none

Use nomad syntax for consul health checks. Arguments are different than consul's json config
  nomad/grapl-core.nomad
Due: none

health check is failing
  nomad/grapl-core.nomad
Due: none

Nomad - remove some defaults, pass in AWS access/secretkey
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
  pulumi/grapl/__main__.py
Due: none

format
  pulumi/grapl/__main__.py
Due: none

remove analyzers bucket
  pulumi/grapl/__main__.py
Due: none

Nomad - remove more defaults from grapl-core.nomad; ensure keys exist when copying keys to integration tests (#1171)
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
  pulumi/grapl/__main__.py
Due: none

Update Toolchain plugin to 0.14.0
  pants.toml
Due: none

Health check now passes when using expose
  nomad/grapl-core.nomad
Due: none

Add health check for dgraph-zero
  nomad/grapl-core.nomad
Due: none

Fix dgraph-zero name, remove debugging defaults
  nomad/grapl-core.nomad
Due: none

hold
  3rdparty/python/BUILD
  3rdparty/python/requirements.txt
  Makefile
  docker-compose.build.yml
  docker-compose.yml
  local-grapl.env
  nomad/grapl-core.nomad
  pulumi/infra/dynamodb.py
  src/js/engagement_view/Dockerfile
  src/js/engagement_view/build.sh
  src/js/engagement_view/src/components/login/Login.tsx
  src/js/engagement_view/src/components/login/utils/passwordHashing.tsx
  src/js/engagement_view/src/services/login/checkLoginService.ts
  src/js/engagement_view/src/services/login/loginService.tsx
  src/js/graphql_endpoint/modules/jwt.ts
  src/js/graphql_endpoint/server.ts
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

Hook up User Session Table to nomad
  docker-compose.build.yml
  nomad/grapl-core.nomad
  pulumi/grapl/__main__.py
Due: none

Wow, it actually serves engagement view, neat
  Makefile
  docker-compose.build.yml
  docker-compose.yml
  nomad/grapl-core.nomad
  nomad/local/stop_detach.sh
  pulumi/grapl/__main__.py
  src/js/engagement_view/Dockerfile
  src/rust/grapl-config/src/lib.rs
Due: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload UX Build

Use the grapl-config tracing subscriber
  src/rust/grapl-web-ui/src/main.rs
Due: make build-lambda-zips-rust

Add local grapl creds instructions; add note to LoginNotification
  docs/development/local_grapl_credentials.md
  src/js/engagement_view/src/components/reusableComponents/notifications/LoginNotification.tsx
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

working in docker
  docker-compose.yml
  src/rust/Dockerfile
  src/rust/org-management/src/main.rs
Due: make build-lambda-zips-rust

Add more docs
  docker-compose.yml
  docs/development/local_grapl_credentials.md
Due: none

I got Engagement Edge tests working going through Grapl Web Client
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
  src/python/engagement_edge/tests/test_engagement_edge.py
  src/python/grapl-tests-common/grapl_tests_common/clients/grapl_web_client.py
Due: none

Engagement Edge tests now run.
  docs/development/local_grapl_credentials.md
  nomad/local/integration-tests.nomad
  src/js/engagement_view/src/components/reusableComponents/notifications/LoginNotification.tsx
  src/python/engagement_edge/tests/test_engagement_edge.py
  src/python/grapl-tests-common/grapl_tests_common/clients/grapl_web_client.py
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

Remove unused or unneeded things
  Makefile
  docker-compose.yml
  local-grapl.env
  nomad/local/integration-tests.nomad
  pulumi/infra/dynamodb.py
  pulumi/infra/web_ui.py
Due: none

Add a port to graphql endpoint
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
  src/python/graphql_endpoint_tests/test_graphql_endpoint.py
  src/python/grapl-tests-common/grapl_tests_common/clients/graphql_endpoint_client.py
  src/python/grapl-tests-common/grapl_tests_common/clients/grapl_web_client.py
Due: none

For some reason I don't get response bodies from graphql query by lens
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
  pulumi/grapl/__main__.py
Due: none

still broken - new rpcs, working on a return type
  src/rust/org-management/proto/orgmanagement.proto
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust

Enable automatic retries on e2e tests for now
  .buildkite/pipeline.verify.yml
Due: none

Remove old Nomad/Consul Pulumi code
  pulumi/README.md
  pulumi/grapl/__main__.py
  pulumi/infra/ami_artifacts.py
  pulumi/infra/ec2_cluster.py
  pulumi/infra/nomad_cluster.py
  pulumi/infra/nomad_server_fleet.py
Due: none

Remove Packer templates, tests, and associated code
  .buildkite/pipeline.merge.ami-build.yml
  .buildkite/pipeline.merge.yml
  .buildkite/pipeline.verify.ami-test.yml
  .buildkite/pipeline.verify.yml
  .buildkite/scripts/build_packer_ci.sh
  .buildkite/scripts/build_packer_local.sh
  .buildkite/scripts/lib/BUILD
  .buildkite/scripts/lib/example_packer_artifact.json
  .buildkite/scripts/lib/extract_ami_id_dict.jq
  .buildkite/scripts/lib/extract_ami_id_dict_test.sh
  .buildkite/scripts/lib/packer.sh
  .buildkite/scripts/lib/packer_constants.sh
  .buildkite/scripts/record_artifacts.sh
  .buildkite/scripts/tests_in_ci/packer_integration_test.sh
  .buildkite/shared/scripts/diff.sh
  .github/CODEOWNERS
  Makefile
  packer/README.md
  packer/hax_change_this_to_trigger_ami_build.txt
  packer/nomad-server-client/configs/consul-config/grapl-client.json
  packer/nomad-server-client/configs/consul-config/grapl-server.json
  packer/nomad-server-client/configs/nomad-config/grapl-client.hcl
  packer/nomad-server-client/configs/nomad-config/grapl-server.hcl
  packer/nomad-server-client/configs/osquery-config/osquery.conf
  packer/nomad-server-client/configs/vector-config/vector.toml
  packer/nomad-server-client/image.pkr.hcl
  packer/nomad-server-client/setup_nomad_consul.sh
  packer/nomad-server-client/setup_osquery.sh
  packer/nomad-server-client/setup_vector.sh
Due: :pipeline: Upload AMI Build, :pipeline: Upload AMI Test

Instructions on ratel in Nomad
  docs/development/ratel.md
  nomad/grapl-core.nomad
Due: none

Speed up graphql endpoint tests by reusing actix session
  src/python/graphql_endpoint_tests/test_graphql_endpoint.py
Due: none

I believe integration tests work, except I need to speed up hypothesis + actix sesh
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
Due: none

format
  src/python/graphql_endpoint_tests/test_graphql_endpoint.py
Due: none

Remove my tweaks to the login notifications stuff
  src/js/engagement_view/src/components/reusableComponents/notifications/LoginNotification.tsx
  src/python/grapl-tests-common/grapl_tests_common/clients/engagement_edge_client.py
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

change port number for web ui.
  docs/development/local_grapl_credentials.md
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
Due: none

clean up.
  src/rust/Dockerfile
  src/rust/grapl-web-ui/src/authn/user.rs
  src/rust/grapl-web-ui/src/routes/login.rs
Due: make build-lambda-zips-rust

Remove unused imports. Fix graphql test failure at unit test time.
  src/python/graphql_endpoint_tests/test_graphql_endpoint.py
  src/python/provisioner/provisioner/app.py
Due: none

Sysmon and OSQuery generators
  nomad/grapl-core.nomad
  pulumi/grapl/__main__.py
Due: none

Improve the Engagement View build situation.
  Makefile
  src/js/engagement_view/Makefile
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

add async_yields_async to clippy allow list while https://github.55860.com/tokio-rs/tracing/issues/1450 is open.
  src/rust/bin/lint
Due: make build-lambda-zips-rust

Path conditions:
  make build-lambda-zips-rust: any of: src/rust/, docker-compose.lambda-zips.rust.yml
  make build-lambda-zips-js: any of: src/js/, docker-compose.lambda-zips.js.yml
  :pipeline: Upload AMI Build: any of: packer/, .buildkite/scripts/build_packer_ci.sh, .buildkite/scripts/record_artifacts.sh, .buildkite/scripts/lib/packer.sh, .buildkite/scripts/lib/packer_constants.sh, .buildkite/pipeline.merge.ami-build.yml
  :pipeline: Upload UX Build: any of: src/js/engagement_view/, .buildkite/scripts/upload_ux_assets.sh, .buildkite/pipeline.merge.ux-build.yml
  :pipeline: Upload AMI Test: any of: packer/, .buildkite/scripts/test_packer.sh
