Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit, :pipeline: Upload Cargo Udeps

:pipeline: Upload Cargo Audit:
  label: ':pipeline: Upload Cargo Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload NPM Audit:
  label: ':pipeline: Upload NPM Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.npm-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Yarn Audit:
  label: ':pipeline: Upload Yarn Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.yarn-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Cargo Udeps:
  label: ':pipeline: Upload Cargo Udeps'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-udeps.sh | buildkite-agent pipeline upload

Format
  src/python/python-proto/python_proto/tests/strategies.py
Due: none

remove unused imports from node-identifier
  src/rust/node-identifier/src/dynamic_sessiondb.rs
Due: none

move testing to dev dependencies
  src/js/frontend/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Add logging. Fix upstreams.
  nomad/grapl-core.nomad
  src/rust/analyzer-dispatcher/src/main.rs
Due: none

Remove invalid analyzer-execution-sidecar image
  pulumi/grapl/__main__.py
Due: none

Revert change
  pulumi/grapl/__main__.py
Due: none

Remove analzyer
  pulumi/grapl/__main__.py
Due: none

Enable dnsmasq as a system job
  nomad/dns.nomad
  nomad/local/grapl-local-infra.nomad
  pulumi/grapl/__main__.py
Due: none

Update deprecated pants cli syntax for pants 2.14
  Makefile
Due: none

Fix sysmon e2e test - merged graphs for some reason is more than 36
  src/rust/e2e-tests/tests/sysmon_log_e2e_test.rs
Due: none

Fix sysmon e2e test - merged graphs for some reason is more than 36 (#1978)
  src/rust/e2e-tests/tests/sysmon_log_e2e_test.rs
Due: none

Implementation of graph-query-proxy
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/graph-query-proxy/Cargo.toml
  src/rust/graph-query-proxy/src/config.rs
  src/rust/graph-query-proxy/src/main.rs
  src/rust/graph-query-proxy/src/server.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Remove unused deps
  src/rust/Cargo.lock
  src/rust/graph-query-proxy/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

add analyzer excution sidecar
  src/proto/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/analyzers.proto
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/plugin-execution-sidecar/analyzer-execution-sidecar.rs
  src/rust/plugin-execution-sidecar/src/work.rs
  src/rust/plugin-execution-sidecar/src/work/analyzer_work_processor.rs
  src/rust/plugin-execution-sidecar/src/work/plugin_work_processor.rs
  src/rust/plugin-work-queue/src/server.rs
  src/rust/rust-proto/src/client_factory/services.rs
  src/rust/rust-proto/src/client_factory/services/analyzer.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto/tests/proto_serde_tests.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: none

updates for review comments
  src/proto/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/analyzers.proto
  src/rust/plugin-execution-sidecar/analyzer-execution-sidecar.rs
  src/rust/plugin-execution-sidecar/src/work/analyzer_work_processor.rs
Due: none

Implementation of graph-query-proxy
  src/rust/Cargo.lock
  src/rust/graph-query-proxy/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Remove unused deps
  src/rust/graph-query-proxy/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Remove improper todo from Cargo.toml
  src/rust/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

python-proto updates
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/test_api_analyzers.py
Due: none

format python
  src/python/python-proto/python_proto/tests/test_api_analyzers.py
Due: none

add tracing to async-cache
  src/rust/Cargo.lock
  src/rust/async-cache/Cargo.toml
  src/rust/async-cache/src/lib.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Update graph-merger and node-identifier to use graph-mutation
  nomad/grapl-core.nomad
  src/rust/Cargo.lock
  src/rust/graph-mutation/Cargo.toml
  src/rust/graph-mutation/src/graph_mutation.rs
  src/rust/uid-allocator/src/client.rs
  src/rust/uid-allocator/tests/uid_allocator.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Move over to graph-mutation-service in graph-merger and node-identifier
  src/proto/graplinc/grapl/api/graph/v1beta1/types.proto
  src/rust/Cargo.lock
  src/rust/graph-merger/Cargo.toml
  src/rust/graph-merger/src/config.rs
  src/rust/graph-merger/src/lib.rs
  src/rust/graph-merger/src/main.rs
  src/rust/graph-merger/src/reverse_resolver.rs
  src/rust/graph-merger/src/service.rs
  src/rust/graph-merger/src/upsert_util.rs
  src/rust/graph-merger/src/upserter.rs
  src/rust/graph-merger/tests/integration_test.rs
  src/rust/graph-merger/tests/test_merging.rs
  src/rust/node-identifier/Cargo.toml
  src/rust/node-identifier/src/config.rs
  src/rust/node-identifier/src/dynamic_sessiondb.rs
  src/rust/node-identifier/src/error.rs
  src/rust/node-identifier/src/lib.rs
  src/rust/node-identifier/src/main.rs
  src/rust/node-identifier/src/node_identifier.rs
  src/rust/node-identifier/src/sessiondb.rs
  src/rust/node-identifier/src/sessions.rs
  src/rust/node-identifier/src/static_mapping_db.rs
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/node-identifier/tests/sessiondb_integration_tests.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph/v1beta1.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Add static table
  pulumi/grapl/__main__.py
Due: none

Fix up the Python to use IdentifiedEdge and IdentifiedEdgeList
  nomad/grapl-core.nomad
  src/python/python-proto/python_proto/api/graph/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/strategies.py
  src/rust/rust-proto/src/graplinc/grapl/api/graph/v1beta1.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: none

Get Updates seeded through
  buf.yaml
  src/proto/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/analyzers.proto
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/e2e-tests/src/test_utils/predicates.rs
  src/rust/graph-merger/src/lib.rs
  src/rust/graph-merger/src/main.rs
  src/rust/graph-merger/src/service.rs
  src/rust/node-identifier/src/dynamic_sessiondb.rs
  src/rust/node-identifier/src/lib.rs
  src/rust/node-identifier/src/main.rs
  src/rust/node-identifier/src/node_identifier.rs
  src/rust/node-identifier/src/sessions.rs
  src/rust/node-identifier/src/static_mapping_db.rs
  src/rust/plugin-execution-sidecar/src/work/analyzer_work_processor.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_mutation/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/messages.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: none

Fix up typechecking around Updates
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/test_api_analyzers.py
Due: none

Fix up python test strategy
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/strategies.py
  src/python/python-proto/python_proto/tests/test_api_analyzers.py
Due: none

Add the static mapping table variable
  nomad/grapl-core.nomad
Due: none

Move service block
  nomad/grapl-core.nomad
Due: none

Provision uid keyspace and scylla
  src/rust/analyzer-dispatcher/tests/analyzer_dispatcher_integration_tests.rs
  src/rust/e2e-tests/tests/sysmon_log_e2e_test.rs
  src/rust/graph-merger/tests/integration_test.rs
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/node-identifier/tests/sessiondb_integration_tests.rs
Due: none

remove npm removal from makefile, update dependencies
  src/js/frontend/Makefile
  src/js/frontend/package.json
  src/js/frontend/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
  :pipeline: Upload Cargo Udeps: any of: **/Cargo.toml, **/Cargo.lock
