Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock

Add :dev note
  Makefile
Due: none

Remove commented default arguments. These will be managed via environmental variables going forward
  src/python/grapl-common/grapl_common/grapl_tracer.py
Due: none

Enable optional single-package Rust builds instead of full workspace via CARGO_BUILD_PACKAGE_SPEC
  Makefile
  docker-bake.hcl
  src/rust/Dockerfile
Due: none

Update the version of some hashicorp utils, awscliv2
  .gitpod/Dockerfile
Due: none

Do a make build-local-infrastructure upon init
  .gitpod.yml
Due: none

Do some formatting; still gotta solve some hadolint stuff
  .github/CODEOWNERS
  .gitpod/BUILD
  .gitpod/setup-grapl-sso.sh
Due: none

Passes Hadolint
  .gitpod/Dockerfile
Due: none

Curl tlsv1.2
  .gitpod/Dockerfile
Due: none

Use docker labs 1.3 syntax
  .gitpod/Dockerfile
Due: none

Initial Gitpod support, mostly taken from pipeline-infrastructure's draft. (#1530)
  .github/CODEOWNERS
  .gitpod.yml
  .gitpod/.bashrc.d/100-grapl
  .gitpod/BUILD
  .gitpod/Dockerfile
  .gitpod/setup-grapl-sso.sh
Due: none

fix syntax errors, format, upgrade CRITICAL dependencies
  src/js/engagement_view/src/setupProxy.tsx
  src/js/engagement_view/src/tests/engagementView/testData/baseData.tsx
  src/js/engagement_view/yarn.lock
  src/js/graphql_endpoint/package-lock.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

resolve yarn / tsx errors from react-scripts / material-ui-core upgrade
  src/js/engagement_view/node_modules/.gitignore
  src/js/engagement_view/package.json
  src/js/engagement_view/src/components/engagementView/sidebar/tables/lensTable/lensTable.tsx
  src/js/engagement_view/src/components/generators/generatorFrame.tsx
  src/js/engagement_view/src/components/uploadPlugin/utils/pluginTable.tsx
  src/js/engagement_view/src/index.css
  src/js/engagement_view/src/setupProxy.tsx
  src/js/engagement_view/src/tests/engagementView/testData/baseData.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

upgrade packages
  src/js/engagement_view/.yarnrc.yml
  src/js/engagement_view/package.json
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

remove generator files - only dependencies
  src/js/engagement_view/src/components/generators/generatorFrame.tsx
Due: none

comment
  src/js/engagement_view/src/setupProxy.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

update react router to use routes instead of switch
  src/js/engagement_view/componentMap/components.txt
  src/js/engagement_view/src/App.tsx
  src/js/engagement_view/src/routes/index.ts
  src/js/engagement_view/src/routes/routes.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

comment out yarn version in yarnrc.yml file
  src/js/engagement_view/.yarnrc.yml
Due: none

rebase main
  src/js/engagement_view/.yarnrc.yml
Due: none

resolve comments from pr, reenable yarn release just out of curiouity
  .gitignore
Due: none

comment out file in yarnrc.yml
  src/js/engagement_view/.yarnrc.yml
Due: none

Enable corepack
  etc/chromeos/lib/installs.sh
Due: none

Set engagement view to use yarn 3.1.1
  src/js/engagement_view/build-env.Dockerfile
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

React dependency upgrades (#1531)
  .gitignore
  src/js/engagement_view/.yarnrc.yml
  src/js/engagement_view/componentMap/components.txt
  src/js/engagement_view/node_modules/.gitignore
  src/js/engagement_view/package.json
  src/js/engagement_view/src/App.tsx
  src/js/engagement_view/src/components/engagementView/sidebar/tables/lensTable/lensTable.tsx
  src/js/engagement_view/src/components/uploadPlugin/utils/pluginTable.tsx
  src/js/engagement_view/src/index.css
  src/js/engagement_view/src/routes/index.ts
  src/js/engagement_view/src/routes/routes.tsx
  src/js/engagement_view/src/setupProxy.tsx
  src/js/engagement_view/src/tests/engagementView/testData/baseData.tsx
  src/js/engagement_view/yarn.lock
  src/js/graphql_endpoint/package-lock.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Set the node version
  src/js/engagement_view/package.json
  src/js/graphql_endpoint/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

This is now unnecessary
  src/js/engagement_view/.yarnrc.yml
Due: none

Ignore .node directories generated by corepack
  .gitignore
Due: none

debug hunk error
  src/js/engagement_view/Makefile
Due: none

Try bumping yarn version
  src/js/engagement_view/Makefile
  src/js/engagement_view/package.json
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

We need the node_modules dir
  src/js/engagement_view/node_modules/.gitkeep
Due: none

Revert yarn version bump
  src/js/engagement_view/package.json
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Add yarn command so corepack sets up yarn
  src/js/engagement_view/Makefile
Due: none

Will this work in CI?
  src/js/engagement_view/Makefile
Due: none

Revert "Will this work in CI?"
  src/js/engagement_view/Makefile
Due: none

Revert to using yarn set version in dockerfile
  src/js/engagement_view/build-env.Dockerfile
Due: none

Formatted stuff
  firecracker/rootfs/BUILD
  firecracker/rootfs/Dockerfile
  firecracker/rootfs/bake.hcl
  firecracker/rootfs/docker_runtime/create_rootfs_image.sh
  firecracker/rootfs/generate_firecracker_rootfs.sh
  pants.toml
Due: none

Add a Dockerized way to build a rootfs. Currently, the rootfs is mostly empty.
  Makefile
  firecracker/rootfs/Dockerfile.rootfs
  firecracker/rootfs/bake.hcl
  firecracker/rootfs/docker_runtime/create_rootfs_image.sh
  firecracker/rootfs/generate_firecracker_rootfs.sh
Due: none

resolve hadolint issues
  firecracker/rootfs/Dockerfile
Due: none

Quick test - do our CI boxes have fuse set up already? Probably not
  .buildkite/pipeline.verify.yml
Due: none

Explain why we use fuse
  firecracker/rootfs/generate_firecracker_rootfs.sh
Due: none

Make sure we tarball it up such that extracting it results in 1 unnested file
  firecracker/rootfs/docker_runtime/create_rootfs_image.sh
Due: none
