Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock

Remove a comment about rdkafka dependencies
  src/rust/Dockerfile
Due: none

Run Jaegar as part of local grapl
  nomad/local/nomad_run_local_infra.sh
  nomad/local/observability.nomad
Due: none

Jaegar -> Jaeger and formatting
  nomad/local/observability.nomad
Due: none

Update comment
  nomad/local/observability.nomad
Due: none

Have pulumi send traces to Jaeger
  docker-compose.yml
Due: none

Send pulumi traces to Jaeger
  docker-compose.yml
Due: none

Add tracing to graphql endpoint
  src/js/graphql_endpoint/Dockerfile
  src/js/graphql_endpoint/package-lock.json
  src/js/graphql_endpoint/package.json
  src/js/graphql_endpoint/server.ts
  src/js/graphql_endpoint/tracing.ts
  src/js/graphql_endpoint/tsconfig.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Add bindgen feature for zstd crate
  src/rust/analyzer-dispatcher/Cargo.toml
  src/rust/generators/generic-subgraph-generator/Cargo.toml
  src/rust/generators/graph-generator-lib/Cargo.toml
  src/rust/graph-merger/Cargo.toml
  src/rust/grapl-service/Cargo.toml
  src/rust/node-identifier/Cargo.toml
Due: :pipeline: Upload Cargo Audit

Use variable for the trace url
  docker-compose.yml
Due: none

Use a variable for the trace URL
  docker-compose.yml
Due: none

Improve error reporting, making the errors much more useful by reporting the value that failed and the position in the input where it was found.
  src/rust/sysmon-parser/src/error.rs
  src/rust/sysmon-parser/src/event_data/file_create.rs
  src/rust/sysmon-parser/src/event_data/network_connect.rs
  src/rust/sysmon-parser/src/event_data/process_creation.rs
  src/rust/sysmon-parser/src/event_data/process_terminated.rs
  src/rust/sysmon-parser/src/lib.rs
  src/rust/sysmon-parser/src/system.rs
  src/rust/sysmon-parser/src/util.rs
Due: none

No need for the export
  docker-compose.yml
Due: none

Remove unnecessary export
  docker-compose.yml
Due: none

Ignore local grapl generated file
  .gitignore
Due: none

Remove unused dependencies for `graph-merger` crate
  src/rust/Cargo.lock
  src/rust/graph-merger/Cargo.toml
Due: :pipeline: Upload Cargo Audit

Instrument botocore python calls
  3rdparty/python/BUILD
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
  src/python/grapl-common/grapl_common/grapl_tracer.py
Due: none

Clarify which packages we must install in Rust Dockerfile, and why
  src/rust/Dockerfile
Due: none

format BUILD file
  3rdparty/python/BUILD
Due: none

clean up graphql tracing instrumentation
  src/js/graphql_endpoint/server.ts
  src/js/graphql_endpoint/tracing.ts
Due: none

Instrument graphql-endpoint for tracing
  src/js/graphql_endpoint/Dockerfile
  src/js/graphql_endpoint/package-lock.json
  src/js/graphql_endpoint/package.json
  src/js/graphql_endpoint/server.ts
  src/js/graphql_endpoint/tracing.ts
  src/js/graphql_endpoint/tsconfig.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Fix type error
  src/python/grapl-common/grapl_common/grapl_tracer.py
Due: none

Update Pulumi to 3.25.1
  3rdparty/python/constraints.txt
  Dockerfile.pulumi
Due: none

Instrument python code for tracing
  3rdparty/python/BUILD
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
  src/python/analyzer_executor/src/run.py
  src/python/engagement-creator/engagement_creator/run.py
  src/python/grapl-common/grapl_common/grapl_tracer.py
  src/python/provisioner/provisioner/app.py
Due: none

Remove unused import
  src/python/grapl-common/grapl_common/grapl_tracer.py
Due: none

Don't upgrade pants to rc version
  3rdparty/python/constraints.txt
Due: none

Remove unused dependencies for `model-plugin-deployer` crate
  src/rust/Cargo.lock
  src/rust/model-plugin-deployer/Cargo.toml
Due: :pipeline: Upload Cargo Audit

Remove unused dependencies for `sqs-executor` crate
  src/rust/Cargo.lock
  src/rust/sqs-executor/Cargo.toml
Due: :pipeline: Upload Cargo Audit

Fix dependencies correctly
  3rdparty/python/requirements.txt
Due: none

working tests
  127.0.0.1:5080:
  nomad/local/integration-tests.nomad
  pulumi/grapl/__main__.py
  pulumi/integration_tests/__main__.py
  src/proto/graplinc/grapl/api/organization_management/v1beta1/organization_management.proto
  src/rust/Dockerfile
  src/rust/organization-management/Cargo.toml
  src/rust/organization-management/migrations/20210930040957_org-mgt-migrations.sql
  src/rust/organization-management/migrations/20220224235727_organization-management.sql
  src/rust/organization-management/rebuild-sqlx.sh
  src/rust/organization-management/sqlx-data.json
  src/rust/organization-management/src/client.rs
  src/rust/organization-management/src/server.rs
  src/rust/organization-management/tests/create_organization.rs
  src/rust/organization-management/tests/create_user.rs
  src/rust/organization-management/tests/test_create_organization.rs
  src/rust/organization-management/tests/test_create_user.rs
  src/rust/plugin-registry/Cargo.toml
  src/rust/plugin-registry/tests/test_create_plugin.rs
  src/rust/rust-proto/src/organization_management.rs
Due: :pipeline: Upload Cargo Audit

Set env var for trace endpoint
  nomad/grapl-core.nomad
  nomad/grapl-ingress.nomad
  nomad/grapl-provision.nomad
Due: none

create user and create org tests pass
  src/proto/graplinc/grapl/api/organization_management/v1beta1/organization_management.proto
  src/rust/organization-management/README.md
  src/rust/organization-management/sqlx-data.json
  src/rust/organization-management/src/server.rs
  src/rust/organization-management/tests/test_create_organization.rs
  src/rust/organization-management/tests/test_create_user.rs
  src/rust/rust-proto/src/organization_management.rs
Due: none

rename organization table to organizations table
  src/rust/organization-management/migrations/20220224235727_organization-management.sql
  src/rust/organization-management/sqlx-data.json
  src/rust/organization-management/src/server.rs
  src/rust/organization-management/tests/test_create_organization.rs
Due: none

formatting, add to codeowners
  .github/CODEOWNERS
  nomad/local/integration-tests.nomad
  pulumi/grapl/__main__.py
  src/rust/organization-management/README.md
  src/rust/organization-management/src/client.rs
  src/rust/organization-management/src/server.rs
  src/rust/organization-management/tests/test_create_organization.rs
  src/rust/organization-management/tests/test_create_user.rs
  src/rust/plugin-registry/Cargo.toml
  src/rust/rust-proto/src/organization_management.rs
Due: :pipeline: Upload Cargo Audit

format and add comments to protobuf for lint
  src/proto/graplinc/grapl/api/organization_management/v1beta1/organization_management.proto
Due: none

comment to satisfy proto lint
  src/proto/graplinc/grapl/api/organization_management/v1beta1/organization_management.proto
Due: none

Remove unused dependencies for `generator-sdk` crate
  src/rust/Cargo.lock
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
Due: :pipeline: Upload Cargo Audit

Remove unused dependencies for `plugin-work-queue` crate
  src/rust/Cargo.lock
  src/rust/plugin-work-queue/Cargo.toml
Due: :pipeline: Upload Cargo Audit

Fix dependencies?
  3rdparty/python/constraints.txt
Due: none
