Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload UX Build, :pipeline: Upload Cargo Audit

Path conditions:
  make build-lambda-zips-rust: any of: src/rust/, docker-compose.lambda-zips.rust.yml
  make build-lambda-zips-js: any of: src/js/, docker-compose.lambda-zips.js.yml
  :pipeline: Upload UX Build: any of: src/js/engagement_view/, .buildkite/scripts/upload_ux_assets.sh, .buildkite/pipeline.merge.ux-build.yml
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock

Remove pulumi fargate and lambda files
  pulumi/grapl/__main__.py
  pulumi/infra/analyzer_dispatcher.py
  pulumi/infra/analyzer_executor.py
  pulumi/infra/api.py
  pulumi/infra/e2e_test_runner.py
  pulumi/infra/fargate_service.py
  pulumi/infra/graph_merger.py
  pulumi/infra/graphql.py
  pulumi/infra/node_identifier.py
  pulumi/infra/osquery_generator.py
  pulumi/infra/pipeline_dashboard.py
  pulumi/infra/provision_lambda.py
  pulumi/infra/queue_driven_lambda.py
  pulumi/infra/service.py
  pulumi/infra/sysmon_generator.py
Due: none

Remove metric forwarder
  .github/CODEOWNERS
  Makefile
  docker-compose.lambda-zips.rust.yml
  nomad/local/nomad_run_local_infra.sh
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/infra/metric_forwarder.py
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/metric-forwarder/Cargo.toml
  src/rust/metric-forwarder/based_on_github_repo.md
  src/rust/metric-forwarder/src/accumulate_metrics.rs
  src/rust/metric-forwarder/src/cloudwatch_logs_parse.rs
  src/rust/metric-forwarder/src/cloudwatch_send.rs
  src/rust/metric-forwarder/src/deser_logs_data.rs
  src/rust/metric-forwarder/src/error.rs
  src/rust/metric-forwarder/src/main.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

revert run_local_infra thing
  nomad/local/nomad_run_local_infra.sh
Due: none

Okay, now I have a robust nomad job plan thing
  nomad/local/nomad_run_local_infra.sh
  src/rust/Cargo.lock
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

Revert "Okay, now I have a robust nomad job plan thing"
  nomad/local/nomad_run_local_infra.sh
  src/rust/Cargo.lock
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

Remove pulumi fargate stuff, metric forwarder (#1212)
  .github/CODEOWNERS
  Makefile
  docker-compose.lambda-zips.rust.yml
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
  pulumi/infra/analyzer_dispatcher.py
  pulumi/infra/analyzer_executor.py
  pulumi/infra/api.py
  pulumi/infra/e2e_test_runner.py
  pulumi/infra/fargate_service.py
  pulumi/infra/graph_merger.py
  pulumi/infra/graphql.py
  pulumi/infra/metric_forwarder.py
  pulumi/infra/node_identifier.py
  pulumi/infra/osquery_generator.py
  pulumi/infra/pipeline_dashboard.py
  pulumi/infra/provision_lambda.py
  pulumi/infra/queue_driven_lambda.py
  pulumi/infra/service.py
  pulumi/infra/sysmon_generator.py
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/metric-forwarder/Cargo.toml
  src/rust/metric-forwarder/based_on_github_repo.md
  src/rust/metric-forwarder/src/accumulate_metrics.rs
  src/rust/metric-forwarder/src/cloudwatch_logs_parse.rs
  src/rust/metric-forwarder/src/cloudwatch_send.rs
  src/rust/metric-forwarder/src/deser_logs_data.rs
  src/rust/metric-forwarder/src/error.rs
  src/rust/metric-forwarder/src/main.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

Remove the weird shellcheck stuff
  nomad/local/nomad_run_local_infra.sh
Due: none

Migrate chromeos install sections to their own sections
  bin/setup_chromeos.sh
Due: none

Ignore shellcheck issues with finding /home/thomas
  bin/setup_chromeos.sh
Due: none

Remove UX artifact build gate
  .buildkite/pipeline.merge.yml
Due: none

Update the list of containers now that we've added new ones and ported some lambdas to containers
  .buildkite/scripts/build_and_upload_containers.sh
  docker-compose.build.yml
Due: none

Another stab at preventing the unexpected exit-code-2 at nomad job run (via nomad job plan) (#1213)
  nomad/local/nomad_run_local_infra.sh
  src/rust/Cargo.lock
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

Add container_repo to image so that nomad in AWS can pull down containers
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
Due: none

Use correct tag variable
  nomad/grapl-core.nomad
Due: none

We need to build the front-end first, otherwise the docker container build step will fail
  .buildkite/scripts/build_and_upload_containers.sh
Due: none

Initial docker lint
  Makefile
  localstack/BUILD
  pants.toml
  src/python/BUILD
  src/rust/BUILD
Due: make build-lambda-zips-rust

Use pants to lint buildkite shell code
  .buildkite/BUILD
  .buildkite/pipeline.cargo-audit.sh
Due: none

Fix provision pipeline by adding a required second argument
  .buildkite/pipeline.provision.yml
Due: none

Enable using graphql_endpoint and web_ui now that they've been built and uploaded to cloudsmith
  pulumi/grapl/__main__.py
Due: none

Switch to explicitly using an org name for the nomad project
  .buildkite/pipeline.provision.yml
  .buildkite/pipeline.verify.yml
Due: none

Switch to explicit 3 part pulumi stacks
  .buildkite/pipeline.provision.yml
  .buildkite/pipeline.verify.yml
  .buildkite/shared/steps/pulumi_preview.sh
Due: none

Autofix local nomad chrome workaround
  etc/chromeos/BUILD
  etc/chromeos/lib/BUILD
  etc/chromeos/lib/installs.sh
  etc/chromeos/setup_chromeos.sh
  nomad/local/start_detach.sh
Due: none

flesh out kafka stuff
  pulumi/grapl/__main__.py
  pulumi/infra/kafka.py
Due: none

Use either stack reference or override for nomad address
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
Due: none

Fix broken linting and typechecking
  pulumi/grapl/__main__.py
Due: none

Autofix local nomad chrome workaround (#1221)
  etc/chromeos/BUILD
  etc/chromeos/lib/BUILD
  etc/chromeos/lib/installs.sh
  etc/chromeos/setup_chromeos.sh
  nomad/local/start_detach.sh
Due: none

db running, not provisioning
  src/rust/Dockerfile
  src/rust/init-sql.sh
  src/rust/init.sql
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust

remove in progress insert
  src/rust/init.sql
Due: make build-lambda-zips-rust

Transfer code ownership of `nomad` directory
  .github/CODEOWNERS
Due: none

reenabled client
  docker-compose.build.yml
  docker-compose.yml
  src/rust/Cargo.lock
  src/rust/init.sql
  src/rust/org-management/Cargo.toml
  src/rust/org-management/src/client.rs
  src/rust/org-management/src/lib.rs
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

comment
  docker-compose.yml
Due: none

move org management service and docker files
  docker-compose.build.yml
  local-grapl.env
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/init.sql
  src/rust/org-management/Cargo.toml
  src/rust/org-management/build.rs
  src/rust/org-management/migrations/20210930040957_org-mgt-migrations.sql
  src/rust/org-management/proto/orgmanagement.proto
  src/rust/org-management/sqlx-data.json
  src/rust/org-management/src/client.rs
  src/rust/org-management/src/lib.rs
  src/rust/org-management/src/main.rs
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

added postgres to nomad file
  nomad/local/grapl-local-infra.nomad
  nomad/local/nomad_run_local_infra.sh
Due: none

comment out client & grpc method
  src/rust/org-management/sqlx-data.json
  src/rust/org-management/src/client.rs
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust

Remove query! macro, use regular query
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust

Org Management now comes up correctly in Nomad!
  docker-compose.build.yml
  docker-compose.yml
  nomad/grapl-core.nomad
  nomad/local/grapl-local-infra.nomad
  pulumi/grapl/__main__.py
  pulumi/infra/postgres.py
  src/rust/org-management/Cargo.toml
  src/rust/org-management/build.rs
  src/rust/org-management/src/lib.rs
  src/rust/org-management/src/main.rs
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

remove some complexity
  nomad/grapl-core.nomad
Due: none

It appears to work, which is surprising
  nomad/grapl-core.nomad
Due: none

Okay, localhost:1234 works
  docs/development/local_grapl_credentials.md
  nomad/grapl-core.nomad
Due: none
