Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit, :pipeline: Upload Cargo Udeps

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
  :pipeline: Upload Cargo Udeps: any of: **/Cargo.toml, **/Cargo.lock

add 'assert eventual health' to test_deploy_plugin
  .github/CODEOWNERS
  src/rust/Cargo.lock
  src/rust/consul-client/src/models.rs
  src/rust/e2e-tests/src/test_utils.rs
  src/rust/e2e-tests/src/test_utils/plugin_health.rs
  src/rust/e2e-tests/tests/sysmon_log_e2e_test.rs
  src/rust/grapl-web-ui/src/routes/api/plugin/create.rs
  src/rust/grapl-web-ui/tests/api/plugin.rs
  src/rust/grapl-web-ui/tests/api/test_app.rs
  src/rust/plugin-registry/src/server/get_plugin_health.rs
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Fix instances of Clippy's `partialeq_to_none` lint
  src/rust/plugin-work-queue/tests/pwq_integration_test.rs
Due: none

Fix instances of Clippy's `needless_borrow` lint
  src/rust/graph-query/src/node_query.rs
  src/rust/rust-proto/build.rs
Due: none

Updated nightly rustfmt toolchain to 'nightly-2022-11-02'
  src/rust/bin/format
Due: none

Updated Rust to 1.65.0
  .buildkite/pipeline.verify.yml
  src/rust/rust-toolchain.toml
Due: none

remove comment about nomad_client_gen - WRONG
  src/rust/consul-client/src/lib.rs
Due: none

Update a doc on assert_eventual_health
  src/rust/e2e-tests/src/test_utils/plugin_health.rs
Due: none

no bool, do a mapping of CheckHealthResponse to PluginHealthStatus
  src/rust/Cargo.lock
  src/rust/consul-client/Cargo.toml
  src/rust/consul-client/src/models.rs
  src/rust/plugin-registry/src/server/get_plugin_health.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Plugin health should be checked from Consul health, not Nomad job status (#2087)
  .github/CODEOWNERS
  nomad/grapl-core.nomad
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/consul-client/Cargo.toml
  src/rust/consul-client/src/lib.rs
  src/rust/consul-client/src/models.rs
  src/rust/derive-dynamic-node/Cargo.toml
  src/rust/e2e-tests/src/test_utils.rs
  src/rust/e2e-tests/src/test_utils/plugin_health.rs
  src/rust/e2e-tests/tests/sysmon_log_e2e_test.rs
  src/rust/graph-query/Cargo.toml
  src/rust/grapl-web-ui/Cargo.toml
  src/rust/grapl-web-ui/src/routes/api/plugin/create.rs
  src/rust/grapl-web-ui/tests/api/plugin.rs
  src/rust/grapl-web-ui/tests/api/test_app.rs
  src/rust/node-identifier/Cargo.toml
  src/rust/plugin-registry/Cargo.toml
  src/rust/plugin-registry/src/error.rs
  src/rust/plugin-registry/src/server/get_plugin_health.rs
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1.rs
  src/rust/sysmon-parser/Cargo.toml
  src/rust/uid-allocator/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

rename e2e-tests/test_utils to integration-test-utils
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/e2e-tests/src/lib.rs
  src/rust/grapl-web-ui/tests/api/plugin.rs
  src/rust/integration-test-utils/Cargo.toml
  src/rust/integration-test-utils/src/context.rs
  src/rust/integration-test-utils/src/find_node.rs
  src/rust/integration-test-utils/src/lib.rs
  src/rust/integration-test-utils/src/plugin_health.rs
  src/rust/integration-test-utils/src/predicates.rs
  src/rust/integration-test-utils/src/test_fixtures.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

update all references to e2e_tests::test_utils
  src/rust/Cargo.lock
  src/rust/analyzer-dispatcher/Cargo.toml
  src/rust/analyzer-dispatcher/tests/analyzer_dispatcher_integration_tests.rs
  src/rust/e2e-tests/tests/sysmon_log_e2e_test.rs
  src/rust/generator-dispatcher/Cargo.toml
  src/rust/generator-dispatcher/tests/generator_dispatcher_integration_tests.rs
  src/rust/graph-merger/Cargo.toml
  src/rust/graph-merger/tests/integration_test.rs
  src/rust/grapl-web-ui/Cargo.toml
  src/rust/integration-test-utils/src/lib.rs
  src/rust/node-identifier/Cargo.toml
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/plugin-registry/Cargo.toml
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

passes lint
  .github/CODEOWNERS
  src/rust/Cargo.lock
  src/rust/e2e-tests/Cargo.toml
  src/rust/integration-test-utils/src/predicates.rs
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

remove some deps
  src/rust/Cargo.lock
  src/rust/e2e-tests/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Dump otel files to artifacts
  etc/ci_scripts/dump_artifacts/cli.py
  etc/ci_scripts/dump_artifacts/docker_artifacts.py
  etc/ci_scripts/dump_artifacts/nomad_artifacts.py
  nomad/observability.nomad
  pulumi/infra/observability_env_vars.py
Due: none

Split out e2e test utils to integration-test-utils crate (#2091)
  .github/CODEOWNERS
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/analyzer-dispatcher/Cargo.toml
  src/rust/analyzer-dispatcher/tests/analyzer_dispatcher_integration_tests.rs
  src/rust/e2e-tests/src/lib.rs
  src/rust/e2e-tests/tests/sysmon_log_e2e_test.rs
  src/rust/generator-dispatcher/Cargo.toml
  src/rust/generator-dispatcher/tests/generator_dispatcher_integration_tests.rs
  src/rust/graph-merger/Cargo.toml
  src/rust/graph-merger/tests/integration_test.rs
  src/rust/grapl-web-ui/Cargo.toml
  src/rust/grapl-web-ui/tests/api/plugin.rs
  src/rust/integration-test-utils/Cargo.toml
  src/rust/integration-test-utils/src/context.rs
  src/rust/integration-test-utils/src/find_node.rs
  src/rust/integration-test-utils/src/lib.rs
  src/rust/integration-test-utils/src/plugin_health.rs
  src/rust/integration-test-utils/src/predicates.rs
  src/rust/integration-test-utils/src/test_fixtures.rs
  src/rust/node-identifier/Cargo.toml
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/plugin-registry/Cargo.toml
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Rename 'etc/chromeos/setup_chromeos' to 'etc/deb_linux/setup_linux'
  devbox/provision/provision.sh
  etc/deb_linux/BUILD
  etc/deb_linux/lib/BUILD
  etc/deb_linux/lib/installs.sh
  etc/deb_linux/setup_linux.sh
  etc/deb_linux/setup_optional_tools.sh
  etc/hooks/README.md
  nomad/local/start_detach.sh
Due: none

Rename 'etc/chromeos/setup_chromeos' to 'etc/deb_linux/setup_linux' (#2092)
  devbox/provision/provision.sh
  etc/deb_linux/BUILD
  etc/deb_linux/lib/BUILD
  etc/deb_linux/lib/installs.sh
  etc/deb_linux/setup_linux.sh
  etc/deb_linux/setup_optional_tools.sh
  etc/hooks/README.md
  nomad/local/start_detach.sh
Due: none

Add a simpler analyzer
  src/python/grapl-plugin-sdk/example_analyzers/BUILD
  src/python/grapl-plugin-sdk/example_analyzers/process_named_svchost.py
  src/rust/Dockerfile
  src/rust/e2e-tests/tests/sysmon_log_e2e_test.rs
  src/rust/integration-test-utils/src/context.rs
  src/rust/integration-test-utils/src/test_fixtures.rs
Due: none

Back out the custom otel image
  docker-bake.hcl
  nomad/observability.nomad
  otel-collector/BUILD
  otel-collector/Dockerfile
  pulumi/grapl/__main__.py
Due: none

Fix typecheck
  etc/ci_scripts/dump_artifacts/docker_artifacts.py
Due: none

add playwright tests
  src/js/frontend/.gitignore
  src/js/frontend/Dockerfile
  src/js/frontend/e2e-tests/Login.spec.ts
  src/js/frontend/package.json
  src/js/frontend/playwright.config.ts
  src/js/frontend/src/components/tests/integrationTests/Login.test.tsx
  src/js/frontend/yarn.lock
  tatus
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

remove tatus file
  tatus
Due: none

remove 1 day age-out
  src/rust/plugin-work-queue/sqlx-data.json
  src/rust/plugin-work-queue/src/psql_queue.rs
Due: none

protobuf boilerplate for the plugin queue depth APIs
  src/proto/graplinc/grapl/api/plugin_work_queue/v1beta1/plugin_work_queue.proto
  src/rust/plugin-work-queue/src/server.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1_client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1_server.rs
  src/rust/rust-proto/tests/proto_serde_tests.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: none

fix the graph query proxy in hax_docker_analyzer
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
Due: none

timestamp in logger
  src/python/grapl-common/grapl_common/logger.py
Due: none

Okay i have exceptiosn printing out yay
  src/python/grapl-common/grapl_common/logger.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/service_impl.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/client.py
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/server.py
  src/rust/Dockerfile
Due: none

oh snap i have execution hits!
  src/python/grapl-common/grapl_common/retry.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/analyzer.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/client.py
Due: none

cleanup
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/service_impl.py
Due: none

formatting
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
Due: none

one simplification
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/analyzer.py
Due: none

clean up further
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/service_impl.py
Due: none

fix lint
  src/rust/Dockerfile
Due: none

Add a simpler analyzer, which is also now successfully emitting ExecutionHits! (#2093)
  src/python/grapl-common/grapl_common/logger.py
  src/python/grapl-common/grapl_common/retry.py
  src/python/grapl-plugin-sdk/example_analyzers/BUILD
  src/python/grapl-plugin-sdk/example_analyzers/process_named_svchost.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/analyzer.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/service_impl.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/client.py
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/server.py
  src/rust/Dockerfile
  src/rust/e2e-tests/tests/sysmon_log_e2e_test.rs
  src/rust/integration-test-utils/src/context.rs
  src/rust/integration-test-utils/src/test_fixtures.rs
  src/rust/plugin-registry/src/static_files/hax_docker_analyzer.nomad
Due: none

data layer and integration tests
  src/rust/plugin-work-queue/sqlx-data.json
  src/rust/plugin-work-queue/src/psql_queue.rs
  src/rust/plugin-work-queue/src/server.rs
  src/rust/plugin-work-queue/tests/pwq_integration_test.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1_server.rs
Due: none

exercise the NotFound paths
  src/rust/Cargo.lock
  src/rust/plugin-work-queue/Cargo.toml
  src/rust/plugin-work-queue/sqlx-data.json
  src/rust/plugin-work-queue/src/psql_queue.rs
  src/rust/plugin-work-queue/src/server.rs
  src/rust/plugin-work-queue/tests/pwq_integration_test.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

oops
  src/rust/plugin-work-queue/tests/pwq_integration_test.rs
Due: none

updates for review comments
  src/rust/plugin-work-queue/src/server.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1_server.rs
Due: none

Back out an undesirable regression in integration tests being run
  src/rust/Dockerfile
Due: none

Optionally override the list of rust features to test under 'make test-integration-rust'
  docker-bake.hcl
  src/rust/Dockerfile
Due: none
