Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: make lambdas-rust, make lambdas-js, :pipeline: Upload AMI Test

Path conditions:
  make lambdas-rust: any of: src/rust/, docker-compose.lambda-zips.rust.yml
  make lambdas-js: any of: src/js/, docker-compose.lambda-zips.js.yml
  :pipeline: Upload AMI Test: any of: packer/, .buildkite/scripts/test_packer.sh

Pass in values for dgraph, swarm config buckets; dgraph logs group
  pulumi/infra/dgraph_cluster.py
  pulumi/infra/swarm.py
  src/aws-provision/dgraph/dgraph_deploy.py
  src/aws-provision/dgraph/dgraph_deploy.sh
  src/aws-provision/dgraph/dgraph_init.py
  src/python/graplctl/graplctl/dgraph/commands.py
  src/python/graplctl/graplctl/dgraph/lib.py
  src/python/graplctl/graplctl/swarm/commands.py
  src/python/graplctl/graplctl/swarm/lib.py
Due: none

Add graplctl-pulumi.sh wrapper script
  bin/.gitignore
  bin/BUILD
  bin/graplctl-pulumi.sh
  docs/setup/aws.md
Due: none

Remove retries from verify pipeline
  .buildkite/pipeline.verify.yml
Due: none

Create new release candidate with updated deployment artifacts
  pulumi/grapl/Pulumi.testing.yaml
Due: none

Remove stub_env argument to fake_os_env
  src/python/analyzer_executor/tests/test_cache_integration.py
Due: none

Remove UX_BUCKET_URL from engagement-edge
  pulumi/infra/api.py
  pulumi/infra/engagement_edge.py
Due: none

Remove DEPLOYMENT_NAME from engagement_edge lambda environment
  pulumi/infra/engagement_edge.py
  src/python/engagement_edge/engagement_edge/engagement_edge.py
  src/python/engagement_edge/engagement_edge/env_vars.py
Due: none

Pass the Notebook name to engagement-edge directly
  pulumi/infra/engagement_edge.py
  pulumi/infra/engagement_notebook.py
  src/python/engagement_edge/engagement_edge/engagement_edge.py
  test/docker-compose.integration-tests.yml
Due: none

Not exponential backoff
  src/python/grapl_analyzerlib/grapl_analyzerlib/grapl_client.py
Due: none

GraphClient alter now does retries on alters
  src/python/grapl-common/grapl_common/time_utils.py
  src/python/grapl_analyzerlib/grapl_analyzerlib/grapl_client.py
Due: none

woops fixed
  src/python/grapl-common/grapl_common/retry.py
Due: none

Do 10 retries
  src/python/grapl_analyzerlib/grapl_analyzerlib/grapl_client.py
Due: none

Add logger statements to @retry
  src/python/grapl-common/grapl_common/retry.py
  src/python/grapl-tests-common/grapl_tests_common/wait.py
  src/python/grapl_analyzerlib/grapl_analyzerlib/grapl_client.py
Due: none

Okay, I think I fixed it. The retry was unnecessarily retrying
  src/python/e2e-test-runner/e2e_test_runner/test_model_plugin_deployer.py
  src/python/grapl-common/grapl_common/retry.py
Due: none

Revise Pulumi mounts in docker-compose files
  docker-compose.yml
  test/docker-compose.integration-tests.yml
Due: none

Unified env_helpers.ts for our typescript stuff
  src/js/graphql_endpoint/modules/env_helpers.ts
  src/js/graphql_endpoint/modules/jwt.ts
  src/js/graphql_endpoint/modules/schema_client.ts
Due: make lambdas-js

remove unused line from jwt
  src/js/graphql_endpoint/modules/jwt.ts
Due: make lambdas-js

Add a backoff assert
  src/python/e2e-test-runner/e2e_test_runner/test_model_plugin_deployer.py
  src/python/grapl-common/grapl_common/retry.py
  src/python/grapl_analyzerlib/grapl_analyzerlib/grapl_client.py
Due: none

More debugging
  src/python/grapl-model-plugin-deployer/grapl_model_plugin_deployer.py
  src/python/grapl_analyzerlib/grapl_analyzerlib/provision/provision_common.py
Due: none

Clean up some imports
  src/python/grapl_analyzerlib/grapl_analyzerlib/grapl_client.py
  src/python/grapl_analyzerlib/grapl_analyzerlib/provision/provision_common.py
Due: none

Unified env_helpers.ts for our typescript stuff (#1041)
  src/js/graphql_endpoint/modules/env_helpers.ts
  src/js/graphql_endpoint/modules/jwt.ts
  src/js/graphql_endpoint/modules/schema_client.ts
Due: make lambdas-js

GraphClient alter now does retries on alters (#1055)
  src/python/e2e-test-runner/e2e_test_runner/test_model_plugin_deployer.py
  src/python/grapl-common/grapl_common/retry.py
  src/python/grapl-common/grapl_common/time_utils.py
  src/python/grapl-model-plugin-deployer/grapl_model_plugin_deployer.py
  src/python/grapl-tests-common/grapl_tests_common/wait.py
  src/python/grapl_analyzerlib/grapl_analyzerlib/grapl_client.py
  src/python/grapl_analyzerlib/grapl_analyzerlib/provision/provision_common.py
Due: none

Add back libzstd-dev to Rust containers
  src/rust/Dockerfile
Due: make lambdas-rust

Add zlib back to the Rust Dockerfile.
  src/rust/Dockerfile
Due: make lambdas-rust

Fix issue in etc/formatter/Dockerfile where it was calling `USER "${UID}:${GID}"', which was a no-op.
  Makefile
  docker-compose.formatter.yml
  etc/formatter/Dockerfile
Due: none

The 'build-test-typecheck' Make target was calling `docker buildx bake` instead of using DOCKER_BUILDX_BAKE.
  Makefile
Due: none

Switch engagement-view Dockerfile base from alpine to buster, to be more inline with bases used in other grapl Dockerfiles. Also, use an image spec that includes the node version to use.
  src/js/engagement_view/Dockerfile
Due: make lambdas-js

Remove yarn apt package installation from engagement-view Dockerfile, it's already installed in the base node image.
  src/js/engagement_view/Dockerfile
Due: make lambdas-js

engagement-view Dockerfile: remove unnecessary empty CMD from build stage.
  src/js/engagement_view/Dockerfile
Due: make lambdas-js

engagement-view Dockerfile: remove 'yarn add react-scripts' from build stage - it's already installed in the previous deps stage because it's in package.json.
  src/js/engagement_view/Dockerfile
Due: make lambdas-js

Removed broken link for Setup
  README.md
Due: none

Pass DEST_BUCKET_NAME to sysmon-generator directly
  docker-compose.yml
Due: none

Pass DEST_BUCKET_NAME to node-identifier directly
  docker-compose.yml
Due: none

Pass DEST_BUCKET_NAME to osquery-generator directly
  docker-compose.yml
Due: none

Pass analyzers-bucket to graplctl
  pulumi/grapl/__main__.py
  src/python/grapl-tests-common/grapl_tests_common/upload_analyzers.py
  src/python/graplctl/graplctl/upload/commands.py
  src/python/graplctl/graplctl/upload/lib.py
  src/python/graplctl/tests/test_upload.py
  test/docker-compose.e2e-tests.yml
Due: none

Export all "emitter" bucket names
  pulumi/infra/emitter.py
Due: none

Pass DEST_BUCKET_NAME to node-identifier-retry directly
  docker-compose.yml
Due: none

Pass DEST_BUCKET_NAME to graph-merger directly
  docker-compose.yml
Due: none

Pass DEST_BUCKET_NAME to analyzer-dispatcher directly
  docker-compose.yml
Due: none

Pass buckets to sysmon, osquery upload commands
  docker-compose.yml
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/python/grapl-tests-common/grapl_tests_common/upload_test_data.py
  src/python/graplctl/graplctl/upload/commands.py
  src/python/graplctl/tests/test_upload.py
  test/docker-compose.e2e-tests.yml
Due: none
