Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload AMI Build, :pipeline: Upload UX Build, :pipeline: Upload AMI Test

make build-lambda-zips-rust:
  command:
  - make build-lambda-zips-rust
  artifact_paths:
  - dist/*-lambda.zip
  agents:
    queue: docker

make build-lambda-zips-js:
  command:
  - make build-lambda-zips-js
  artifact_paths:
  - dist/*-lambda.zip
  agents:
    queue: docker

:pipeline: Upload AMI Build:
  label: ':pipeline: Upload AMI Build'
  command: buildkite-agent pipeline upload .buildkite/pipeline.merge.ami-build.yml

:pipeline: Upload UX Build:
  label: ':pipeline: Upload UX Build'
  command: buildkite-agent pipeline upload .buildkite/pipeline.merge.ux-build.yml

:pipeline: Upload AMI Test:
  label: ':pipeline: Upload AMI Test'
  command: buildkite-agent pipeline upload .buildkite/pipeline.verify.ami-test.yml

Create service queues always not just for local grapl
  pulumi/grapl/__main__.py
Due: none

fix engagement view unit tests.
  Makefile
  src/js/engagement_view/Makefile
  test/docker-compose.unit-tests-js.yml
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

add self to code owner for src/rust/grapl-web-ui
  .github/CODEOWNERS
Due: none

Run Nomad job in AWS and comment out fargate services
  pulumi/grapl/__main__.py
Due: none

Comment out aws_endpoint and add container_repo
  nomad/grapl-core.nomad
Due: none

fixing Engagement View units tests by adding install step to test target.
  src/js/engagement_view/Makefile
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

remove unused files from engagement view.
  src/js/engagement_view/.dockerignore
  src/js/engagement_view/upload_local.sh
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

Sysmon and OSQuery generators (#1177)
  nomad/grapl-core.nomad
  pulumi/grapl/__main__.py
Due: none

Remove engagement_edge, ux-router, nginx.
  docker-compose.yml
  docs/development/vscode_debugger.rst
  etc/local_grapl/nginx_templates/default.conf.template
  pants.toml
  pulumi/bin/prepare_grapl_ux_dependency.sh
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
  pulumi/infra/api.py
  pulumi/infra/engagement_edge.py
  pulumi/infra/ux.py
  pulumi/infra/ux_router.py
  src/python/Dockerfile
  src/python/e2e-test-runner/e2e_test_runner/test_main.py
  src/python/engagement_edge/BUILD
  src/python/engagement_edge/engagement_edge/BUILD
  src/python/engagement_edge/engagement_edge/__init__.py
  src/python/engagement_edge/engagement_edge/engagement_edge.py
  src/python/engagement_edge/engagement_edge/sagemaker.py
  src/python/engagement_edge/mypy.ini
  src/python/engagement_edge/pytest.ini
  src/python/engagement_edge/requirements.txt
  src/python/engagement_edge/setup.py
  src/python/engagement_edge/tests/BUILD
  src/python/engagement_edge/tests/test_engagement_edge.py
  src/python/grapl-common/grapl_common/debugger/vsc_debugger.py
  src/python/grapl-ux-router/BUILD
  src/python/grapl-ux-router/grapl_ux_router.py
  src/python/grapl-ux-router/mypy.ini
  src/python/grapl-ux-router/pytest.ini
  src/python/grapl-ux-router/requirements.txt
  src/python/grapl-ux-router/tests.Dockerfile
Due: none

fix codeowners.
  .github/CODEOWNERS
Due: none

remove calls to prepare_grapl_ux_dependency.sh from buildkite.
  .buildkite/pipeline.provision.yml
  .buildkite/pipeline.verify.yml
Due: none

stop running make build-ux from node image in buildkite.
  .buildkite/pipeline.verify.yml
Due: none

typo
  src/rust/bin/lint
Due: make build-lambda-zips-rust

add .npm to engagement_view .gitignore.
  src/js/engagement_view/.gitignore
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

Remove package-lock.json from engagement_view since we have yarn.lock instead.
  src/js/engagement_view/Makefile
  src/js/engagement_view/package-lock.json
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

format
  docs/development/ratel.md
  nomad/grapl-core.nomad
Due: none

woops format with bulletpoints
  docs/development/ratel.md
Due: none

remove engagement edge tests from build def file.
  test/docker-compose.integration-tests.build.yml
Due: none

temporarily remove ApiGateway from pulumi.
  docker-compose.yml
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
Due: none

remove engagement edge integration tests from nomad.
  nomad/local/integration-tests.nomad
Due: none

make Actix session cookie encrypted.
  src/rust/grapl-web-ui/src/main.rs
Due: make build-lambda-zips-rust

fix python lint
  pulumi/grapl/__main__.py
Due: none

Unpin wheel dependency
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
Due: none

fix a rebase error
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
Due: none

Remove some old pulumi files
  pulumi/Pulumi.dev.yaml
  pulumi/Pulumi.sbxcob.yaml
Due: none

Rename Meta to Metadata
  src/proto/graplinc/grapl/api/services/v1beta1/types.proto
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/rust-proto/src/services.rs
  src/rust/sqs-executor/src/lib.rs
  src/rust/sqs-executor/src/retriever/event_retriever.rs
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Fix python build
  src/proto/graplinc/grapl/pipeline/BUILD
  src/proto/graplinc/grapl/pipeline/v1beta1/types.proto
  src/python/graplctl/tests/BUILD
  src/python/graplinc/graplinc/grapl/pipeline/BUILD
  src/python/graplinc/graplinc/grapl/pipeline/__init__.py
  src/python/graplinc/graplinc/grapl/pipeline/v1beta1/__init__.py
  src/rust/generators/sysmon-generator/src/serialization.rs
  src/rust/graph-merger/tests/test_merging.rs
  src/rust/rust-proto/src/lib.rs
Due: make build-lambda-zips-rust

Fix up a few methods
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
Due: none

Seed the Envelope through the Analyzer Executor
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/graplinc/graplinc/grapl/api/services/__init__.py
  src/python/graplinc/graplinc/grapl/api/services/v1beta1/__init__.py
Due: none

Reformat code
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/tests/test_envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/rust/generators/sysmon-generator/src/models/process/create.rs
Due: make build-lambda-zips-rust

Rename Meta to Metadata. Remove client_id. Remove redundant rust-proto entry in workspace
  src/proto/graplinc/grapl/api/services/v1beta1/types.proto
  src/rust/Cargo.toml
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Reformat code
  src/python/grapl-common/grapl_common/envelope.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/sqs-executor/src/lib.rs
Due: make build-lambda-zips-rust

Add tests for proto uuid. Add comments for more protobuf
  src/proto/graplinc/grapl/api/services/v1beta1/types.proto
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/tests/test_envelope.py
Due: none

Add Python wrappers around the protobuf
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
Due: none

Fix a minor issue in test_envelope.py
  src/python/grapl-common/tests/test_envelope.py
Due: none

Fix up some clippy lints
  docs/queryable.md
  src/rust/Cargo.toml
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/rust-proto/build.rs
Due: make build-lambda-zips-rust

Reformat some code
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/rust/generators/sysmon-generator/src/serialization.rs
Due: make build-lambda-zips-rust

Rename module from api.services to pipeline
  src/proto/graplinc/grapl/pipeline/v1beta1/types.proto
  src/python/grapl-common/grapl_common/envelope.py
  src/python/graplinc-grapl-api/setup.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/rust-proto/build.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/rust-proto/src/lib.rs
  src/rust/rust-proto/src/pipeline.rs
  src/rust/sqs-executor/src/lib.rs
  src/rust/sqs-executor/src/retriever/event_retriever.rs
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Seed through services
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/python/graplinc-grapl-api/setup.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/derive-dynamic-node/examples/ex.rs
  src/rust/derive-dynamic-node/tests/derive_session.rs
  src/rust/generators/generic-subgraph-generator/src/models/mod.rs
  src/rust/generators/graph-generator-lib/src/lib.rs
  src/rust/generators/sysmon-generator/src/models/process/create.rs
  src/rust/graph-merger/src/main.rs
  src/rust/graph-merger/src/reverse_resolver.rs
  src/rust/graph-merger/src/service.rs
  src/rust/graph-merger/src/upsert_util.rs
  src/rust/graph-merger/src/upserter.rs
  src/rust/grapl-service/src/serialization/zstd_proto_graph.rs
  src/rust/node-identifier/src/dynamic_sessiondb.rs
  src/rust/node-identifier/src/lib.rs
  src/rust/rust-proto/build.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/sqs-executor/src/lib.rs
  src/rust/sqs-executor/src/retriever/event_retriever.rs
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Path conditions:
  make build-lambda-zips-rust: any of: src/rust/, docker-compose.lambda-zips.rust.yml
  make build-lambda-zips-js: any of: src/js/, docker-compose.lambda-zips.js.yml
  :pipeline: Upload AMI Build: any of: packer/, .buildkite/scripts/build_packer_ci.sh, .buildkite/scripts/record_artifacts.sh, .buildkite/scripts/lib/packer.sh, .buildkite/scripts/lib/packer_constants.sh, .buildkite/pipeline.merge.ami-build.yml
  :pipeline: Upload UX Build: any of: src/js/engagement_view/, .buildkite/scripts/upload_ux_assets.sh, .buildkite/pipeline.merge.ux-build.yml
  :pipeline: Upload AMI Test: any of: packer/, .buildkite/scripts/test_packer.sh
