Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: make lambdas-rust, make lambdas-js, :pipeline: Upload AMI Test

Path conditions:
  make lambdas-rust: any of: src/rust/, docker-compose.lambda-zips.rust.yml
  make lambdas-js: any of: src/js/, docker-compose.lambda-zips.js.yml
  :pipeline: Upload AMI Test: any of: packer/, .buildkite/scripts/test_packer.sh

remove packer unit test stuff
  .buildkite/scripts/lib/BUILD
  .buildkite/scripts/lib/packer_unit_test.sh
  packer/BUILD
Due: :pipeline: Upload AMI Test

more idiomatic validation for str input; remove an unused env var
  .buildkite/pipeline.verify.ami-test.yml
  .buildkite/scripts/lib/BUILD
  packer/nomad-server-client/image.pkr.hcl
Due: :pipeline: Upload AMI Test

Fix AMI merge again; parallelize client and server builds; and add some half decent testing (#991)
  .buildkite/pipeline.merge.ami-build.yml
  .buildkite/pipeline.verify.ami-test.yml
  .buildkite/scripts/BUILD
  .buildkite/scripts/build_packer_ci.sh
  .buildkite/scripts/build_packer_local.sh
  .buildkite/scripts/lib/packer.sh
  .buildkite/scripts/lib/packer_constants.sh
  .buildkite/scripts/test_packer.sh
  .buildkite/scripts/tests_in_ci/packer_integration_test.sh
  Makefile
  packer/nomad-server-client/image.pkr.hcl
Due: :pipeline: Upload AMI Test

Add multi-region support to record_artifacts. Document many artifact uploads' usecases. Add a test around extract_ami_id_dict.
  .buildkite/pipeline.merge.ami-build.yml
  .buildkite/pipeline.merge.yml
  .buildkite/scripts/lib/BUILD
  .buildkite/scripts/lib/artifacts.sh
  .buildkite/scripts/lib/example_packer_artifact.json
  .buildkite/scripts/lib/extract_ami_id_dict.jq
  .buildkite/scripts/lib/extract_ami_id_dict_test.sh
  .buildkite/scripts/lib/packer.sh
  .buildkite/scripts/merge_artifact_files.sh
  .buildkite/scripts/record_artifacts.sh
Due: none

format
  .buildkite/scripts/lib/extract_ami_id_dict_test.sh
Due: none

also include record_artifacts in the diff watcher
  .buildkite/pipeline.merge.yml
Due: none

Add additional documentation around Pulumi projects and stacks
  pulumi/README.md
Due: none

Add multi-region AMI support to record_artifacts. Fix a `readonly` in record_artifacts. (#997)
  .buildkite/pipeline.merge.ami-build.yml
  .buildkite/pipeline.merge.yml
  .buildkite/scripts/lib/BUILD
  .buildkite/scripts/lib/artifacts.sh
  .buildkite/scripts/lib/example_packer_artifact.json
  .buildkite/scripts/lib/extract_ami_id_dict.jq
  .buildkite/scripts/lib/extract_ami_id_dict_test.sh
  .buildkite/scripts/lib/packer.sh
  .buildkite/scripts/merge_artifact_files.sh
  .buildkite/scripts/record_artifacts.sh
Due: none

Temporarily disable Pants caching plugin
  pants.ci.toml
  pants.toml
Due: none

Fix pipeline merge yaml
  .buildkite/pipeline.merge.yml
Due: none

Lint .buildkite .github etc
  .buildkite/pipeline.merge.yml
  .buildkite/pipeline.verify.yml
  src/js/bin/format.sh
Due: make lambdas-js

Fix pipeline merge yaml (#1000)
  .buildkite/pipeline.merge.yml
Due: none

Missing wait in merge pipeline added in
  .buildkite/pipeline.merge.yml
Due: none

oh and move another wait around
  .buildkite/pipeline.merge.yml
Due: none

Missing wait in merge pipeline added in (#1002)
  .buildkite/pipeline.merge.yml
Due: none

Yaml lint `.buildkite, .github` files (#1001)
  .buildkite/pipeline.merge.yml
  .buildkite/pipeline.verify.yml
  src/js/bin/format.sh
Due: make lambdas-js

Ensure virtualenv is active for all Python containers
  src/python/Dockerfile
  test/docker-compose.integration-tests.yml
  test/docker-compose.typecheck-tests.yml
Due: none

Build Python packages before tests
  Makefile
Due: none

Multiline issues in our yaml caused merge_artifacts issues....
  .buildkite/pipeline.merge.yml
Due: none

Multiline issues in our yaml caused merge_artifacts issues.... (#1003)
  .buildkite/pipeline.merge.yml
Due: none

Re-home Python Dockerfile
  docker-compose.build.yml
  src/python/Dockerfile
  test/docker-compose.integration-tests.yml
  test/docker-compose.typecheck-tests.yml
Due: none

Install grapl-common from wheel
  src/python/Dockerfile
Due: none

Remove unnecessary configuration for grapl-common
  src/python/grapl-common/LICENSE
  src/python/grapl-common/VERSION
  src/python/grapl-common/mypy.ini
  src/python/grapl-common/setup.py
Due: none

Add some additional sub-modules to grapl-common
  src/python/grapl-common/BUILD
Due: none

Re-enable Pants caching with version 0.13.1
  3rdparty/python/constraints.txt
  pants.ci.toml
  pants.toml
Due: none

Switch over to new packer-staging queue for Packer builds
  .buildkite/pipeline.merge.ami-build.yml
  .buildkite/pipeline.verify.ami-test.yml
Due: none

Switch over to new pulumi-staging queue for Pulumi jobs
  .buildkite/pipeline.merge.yml
Due: none

let me grab the makefile stuff
  .buildkite/scripts/lib/extract_ami_id_dict.jq
  .buildkite/scripts/lib/extract_ami_id_dict_test.sh
  .buildkite/scripts/record_artifacts.sh
Due: none

Flatten the AMI IDs map, so that create_rc can use it to do pulumi config set stuff
  .buildkite/scripts/lib/artifacts.sh
  .buildkite/scripts/lib/extract_ami_id_dict.jq
  .buildkite/scripts/lib/extract_ami_id_dict_test.sh
  .buildkite/scripts/record_artifacts.sh
  Makefile
Due: none

lint
  .buildkite/scripts/record_artifacts.sh
Due: none

Flatten the AMI IDs map, so that create_rc can use it to do pulumi config set stuff (#1007)
  .buildkite/scripts/lib/artifacts.sh
  .buildkite/scripts/lib/extract_ami_id_dict.jq
  .buildkite/scripts/lib/extract_ami_id_dict_test.sh
  .buildkite/scripts/record_artifacts.sh
  Makefile
Due: none

Ensure we build Python wheels before building containers in CI
  .buildkite/scripts/build_and_upload_containers.sh
Due: none

Ensure we build Python wheels before building containers in CI (#1008)
  .buildkite/scripts/build_and_upload_containers.sh
Due: none

Expand sections when downloading is broken
  .buildkite/scripts/create_new_rc.sh
  .buildkite/scripts/lib/artifacts.sh
  .buildkite/scripts/upload_lambda_artifacts.sh
Due: none

Change create_rc to pulumi-cicd
  .buildkite/pipeline.merge.yml
Due: none

Hax: change a file to trigger an AMI build
  packer/hax_change_this_to_trigger_ami_build.txt
Due: :pipeline: Upload AMI Test

Buildkite: Use pulumi-cicd for create_rc; expand sections when downloading fails (#1009)
  .buildkite/pipeline.merge.yml
  .buildkite/scripts/create_new_rc.sh
  .buildkite/scripts/lib/artifacts.sh
  .buildkite/scripts/upload_lambda_artifacts.sh
  packer/hax_change_this_to_trigger_ami_build.txt
Due: :pipeline: Upload AMI Test

Add the yarn cache as a cache mount for the engagement-view
  src/js/engagement_view/Dockerfile
Due: make lambdas-js

Use new "rc" queue to create release candidates
  .buildkite/pipeline.merge.yml
Due: none

Treat integration tests as though they were running in CI
  pants.Dockerfile
  test/docker-compose.integration-tests.yml
Due: none
