Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit, :pipeline: Upload Cargo Udeps

:pipeline: Upload Cargo Audit:
  label: ':pipeline: Upload Cargo Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload NPM Audit:
  label: ':pipeline: Upload NPM Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.npm-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Yarn Audit:
  label: ':pipeline: Upload Yarn Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.yarn-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Cargo Udeps:
  label: ':pipeline: Upload Cargo Udeps'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-udeps.sh | buildkite-agent pipeline upload

fix tests
  src/rust/rust-proto/src/graplinc/grapl/api/protocol/status.rs
Due: none

Implementation of graph-query-proxy
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/graph-query-proxy/Cargo.toml
  src/rust/graph-query-proxy/src/config.rs
  src/rust/graph-query-proxy/src/main.rs
  src/rust/graph-query-proxy/src/server.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Remove unused deps
  src/rust/Cargo.lock
  src/rust/graph-query-proxy/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update unzip
  Dockerfile.pulumi
  src/python/Dockerfile
  src/rust/Dockerfile
  src/rust/build-env.Dockerfile
Due: none

Update unzip and curl
  Dockerfile.pulumi
  scylladb/Dockerfile
  src/python/Dockerfile
  src/rust/Dockerfile
Due: none

Remove unused dependencies
  src/rust/async-cache/Cargo.toml
  src/rust/async-cache/src/lib.rs
  src/rust/build-env.Dockerfile
  src/rust/client-executor/Cargo.toml
  src/rust/graph-mutation/Cargo.toml
  src/rust/graph-query-service/Cargo.toml
  src/rust/graph-schema-manager/Cargo.toml
  src/rust/grapl-config/Cargo.toml
  src/rust/plugin-bootstrap/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/rust-proto/Cargo.toml
  src/rust/scylla-provisioner/Cargo.toml
  src/rust/uid-allocator/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Update Cargo.lock
  src/rust/Cargo.lock
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Update curl
  src/rust/build-env.Dockerfile
Due: none

Remove unused dependencies
  src/rust/async-cache/Cargo.toml
  src/rust/async-cache/src/lib.rs
  src/rust/client-executor/Cargo.toml
  src/rust/graph-mutation/Cargo.toml
  src/rust/graph-query-service/Cargo.toml
  src/rust/graph-schema-manager/Cargo.toml
  src/rust/grapl-config/Cargo.toml
  src/rust/plugin-bootstrap/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/rust-proto/Cargo.toml
  src/rust/scylla-provisioner/Cargo.toml
  src/rust/uid-allocator/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Revert lockfile
  src/rust/Cargo.lock
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Remove dead code from node-identifier
  src/rust/node-identifier/src/dynamic_sessiondb.rs
Due: none

Remove improper todo from Cargo.toml
  src/rust/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

add packageManager to package.json
  src/js/frontend/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

run make format-prettier
  src/js/frontend/.prettierrc
  src/js/frontend/package.json
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/App.tsx
  src/js/frontend/src/index.tsx
  src/js/frontend/src/reportWebVitals.ts
  src/js/frontend/src/setupProxy.js
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

formatting
  src/js/graphql_endpoint/modules/dgraph_client.ts
  src/js/graphql_endpoint/modules/env_helpers.ts
  src/js/graphql_endpoint/modules/query_generator.ts
  src/js/graphql_endpoint/modules/root_query.ts
  src/js/graphql_endpoint/modules/schema.ts
  src/js/graphql_endpoint/modules/schema_client.ts
  src/js/graphql_endpoint/modules/schema_to_graphql.ts
  src/js/graphql_endpoint/server.ts
  src/js/graphql_endpoint/tests/query_generator.test.ts
  src/js/graphql_endpoint/tests/schema_to_graphql.test.ts
  src/js/graphql_endpoint/tests/schemas_fixture.ts
  src/js/graphql_endpoint/tracing.ts
Due: none

update prettierrc in formatting directory
  etc/formatter/prettierrc-typescript.toml
Due: none

lockfile
  src/rust/Cargo.lock
  src/rust/grapl-web-ui/src/upstream.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

run eslint
  src/js/frontend/package.json
  src/js/frontend/src/index.tsx
  src/js/frontend/tsconfig.paths.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

prettier
  src/js/frontend/src/index.tsx
Due: none

Remove grapl_analyzerlib from CODEOWNERS
  .github/CODEOWNERS
Due: none

setup eslint again and format using prettier
  src/js/frontend/.eslintignore
  src/js/frontend/.eslintrc.json
  src/js/frontend/package.json
  src/js/frontend/src/App.css
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/index.css
  src/js/frontend/src/index.tsx
  src/js/frontend/test/emptyTest.tsx
  src/js/frontend/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

run make format
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/index.tsx
Due: none

new yarn.lock
  src/js/frontend/yarn.lock
Due: :pipeline: Upload Yarn Audit

note about graphql-codegen
  src/rust/grapl-graphql-codegen/src/main.rs
Due: none

format etc
  docs/conf.py
  docs/development/vscode_debugger.rst
  docs/index.rst
  docs/plugins/models.md
Due: none

Update a few misses, thanks CI!
  docs/index.rst
  src/python/grapl-tests-common/grapl_tests_common/wait.py
Due: none

UGH
  docs/index.rst
Due: none

Remove dead docs. Fix up some message types in python_proto
  docs/conf.py
  docs/nodes/asset_node.rst
  docs/nodes/file_node.rst
  docs/nodes/ip_address.rst
  docs/nodes/ip_connection.rst
  docs/nodes/ip_port.rst
  docs/nodes/lens_node.rst
  docs/nodes/network_connection.rst
  docs/nodes/process.rst
  docs/nodes/process_inbound_connection.rst
  docs/nodes/process_outbound_connection.rst
  docs/nodes/risk_node.rst
  docs/plugins/graph_generators.md
  docs/plugins/index.rst
  docs/plugins/models.md
  src/python/python-proto/python_proto/api/graph/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/test_api_graph.py
Due: none

Remove dead docs
  docs/index.rst
  src/python/python-proto/python_proto/api/graph/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/test_api_graph.py
Due: none

change package manager from npm to yarn in dockerfile, upgrade prettier and node inside of docker, remove references to engagement view
  .buildkite/pipeline.verify.yml
  .buildkite/pipeline.yarn-audit.sh
  etc/formatter/Dockerfile
  src/.dockerignore
Due: none

upgrade to new yarn syntax for prettier formatting
  etc/formatter/Dockerfile
Due: none

Update strategies
  src/python/python-proto/python_proto/tests/strategies.py
Due: none

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
  :pipeline: Upload Cargo Udeps: any of: **/Cargo.toml, **/Cargo.lock
