Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload UX Build, :pipeline: Upload Cargo Audit

Path conditions:
  make build-lambda-zips-rust: any of: src/rust/, docker-compose.lambda-zips.rust.yml
  make build-lambda-zips-js: any of: src/js/, docker-compose.lambda-zips.js.yml
  :pipeline: Upload UX Build: any of: src/js/engagement_view/, .buildkite/scripts/upload_ux_assets.sh, .buildkite/pipeline.merge.ux-build.yml
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock

jesus christ why doesnt this work
  nomad/grapl-core.nomad
Due: none

it doesnt work
  nomad/grapl-core.nomad
Due: none

Move the Ingress gateway to a system job, not a service job
  nomad/grapl-core.nomad
  nomad/grapl-ingress.nomad
  pulumi/grapl/__main__.py
Due: none

Temp set config setting via command since its not in rc yet
  .buildkite/pipeline.verify.yml
Due: none

Nomad "ingress gateway" proxies from localhost:1234 to bridge network for grapl-web-ui (#1224)
  docs/development/local_grapl_credentials.md
  nomad/grapl-core.nomad
  nomad/grapl-ingress.nomad
  pulumi/grapl/__main__.py
Due: none

Start extract networking to standalone networking module
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
  pulumi/infra/cache.py
Due: none

Fix export name
  pulumi/grapl/__main__.py
Due: none

Remove dgraph entirely since we're using nomad instead of docker swarm going forward
  pulumi/grapl/__main__.py
Due: none

Add comment about why we're not setting up the networking in grapl anymore
  pulumi/grapl/__main__.py
Due: none

Apparently we need to set the stack explicitly here
  .buildkite/pipeline.verify.yml
Due: none

Update the GraphQL to build in containers via 'docker run' and to match how Engagement View build is performed.
  .buildkite/pipeline.merge.yml
  .buildkite/pipeline.verify.yml
  Makefile
  docker-compose.build.yml
  src/js/graphql_endpoint/.gitignore
  src/js/graphql_endpoint/.yarn/releases/yarn-3.0.2.cjs
  src/js/graphql_endpoint/.yarn/state/.gitignore
  src/js/graphql_endpoint/.yarnrc.yml
  src/js/graphql_endpoint/Dockerfile
  src/js/graphql_endpoint/Makefile
  src/js/graphql_endpoint/build-env.Dockerfile
  src/js/graphql_endpoint/dist.Dockerfile
  src/js/graphql_endpoint/docker-bake.hcl
  src/js/graphql_endpoint/node_modules/.gitignore
  src/js/graphql_endpoint/package-lock.json
  src/js/graphql_endpoint/start_potentially_with_debugger.sh
  src/js/graphql_endpoint/yarn.lock
  test/docker-compose.unit-tests-js.yml
Due: make build-lambda-zips-js

Fully nomadified but integration tests fail, whyyy
  docker-compose.build.yml
  docker-compose.yml
  local-grapl.env
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
  src/rust/Cargo.lock
  src/rust/Dockerfile
  src/rust/model-plugin-deployer/src/client.rs
  src/rust/model-plugin-deployer/tests/common/mod.rs.ignore
  src/rust/model-plugin-deployer/tests/test_deploy_model.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

tests work, hurrah
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
  src/rust/model-plugin-deployer/tests/test_deploy_model.rs
Due: make build-lambda-zips-rust

I am one error away from a functional, unfeatureful deploy_model RPC
  Makefile
  docker-compose.build.yml
  docker-compose.yml
  local-grapl.env
  src/proto/graplinc/grapl/api/model_plugin_deployer/v1/model_plugin_deployer.proto
  src/proto/graplinc/grapl/api/model_plugin_deployer/v1/model_plugin_deployer_health.proto
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/model-plugin-deployer/.gitignore
  src/rust/model-plugin-deployer/Cargo.toml
  src/rust/model-plugin-deployer/README.md
  src/rust/model-plugin-deployer/benches/model_plugin_deployer_benchmark.rs
  src/rust/model-plugin-deployer/build.rs
  src/rust/model-plugin-deployer/src/client.rs
  src/rust/model-plugin-deployer/src/lib.rs
  src/rust/model-plugin-deployer/src/main.rs
  src/rust/model-plugin-deployer/src/server.rs
  src/rust/model-plugin-deployer/tests/common/mod.rs.ignore
  src/rust/model-plugin-deployer/tests/test_deploy_model.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

An attempt at cleaning up Rust MPD, but now engagement view is broken
  Makefile
  local-grapl.env
  nomad/grapl-core.nomad
  nomad/local/integration-tests.nomad
  src/js/engagement_view/node_modules/.gitignore
  src/proto/graplinc/grapl/api/model_plugin_deployer/v1/health.proto
  src/python/grapl-template-generator/grapl_template_generator/grapl-templates/rust-grpc-service/{{cookiecutter.project_slug}}/proto/{{cookiecutter.snake_project_name}}_health.proto
  src/rust/model-plugin-deployer/Cargo.toml
  src/rust/model-plugin-deployer/benches/model_plugin_deployer_benchmark.rs
  src/rust/model-plugin-deployer/src/client.rs
  src/rust/model-plugin-deployer/src/lib.rs
  src/rust/model-plugin-deployer/tests/test_deploy_model.rs
Due: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload UX Build, :pipeline: Upload Cargo Audit

compiles now
  nomad/grapl-core.nomad
  src/js/engagement_view/node_modules/.gitignore
  src/rust/model-plugin-deployer/build.rs
  src/rust/model-plugin-deployer/src/client.rs
Due: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload UX Build

use socketaddr not string
  src/rust/model-plugin-deployer/src/lib.rs
  src/rust/model-plugin-deployer/src/main.rs
Due: make build-lambda-zips-rust

Functionally done, just need to do some proto stuff and codeowners
  src/rust/model-plugin-deployer/src/client.rs
  src/rust/model-plugin-deployer/src/lib.rs
  src/rust/model-plugin-deployer/src/server.rs
  src/rust/model-plugin-deployer/tests/test_deploy_model.rs
Due: make build-lambda-zips-rust

Add some useless documentation to the protos because the linter demands it
  .github/CODEOWNERS
  src/proto/graplinc/grapl/api/model_plugin_deployer/v1/health.proto
  src/proto/graplinc/grapl/api/model_plugin_deployer/v1/model_plugin_deployer.proto
Due: none

Clean up some more lint failures, and add the new from_endpoint to client
  src/proto/graplinc/grapl/api/model_plugin_deployer/v1/model_plugin_deployer.proto
  src/rust/model-plugin-deployer/src/client.rs
  src/rust/model-plugin-deployer/src/server.rs
  src/rust/model-plugin-deployer/tests/test_deploy_model.rs
Due: make build-lambda-zips-rust

Remove unused protos
  src/proto/graplinc/grapl/api/model_plugin_deployer/v1/health.proto
  src/rust/model-plugin-deployer/build.rs
  src/rust/model-plugin-deployer/src/client.rs
  src/rust/model-plugin-deployer/tests/test_deploy_model.rs
Due: make build-lambda-zips-rust

rename stack name and fix tests
  .buildkite/pipeline.verify.yml
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
Due: none

Fix type for cache vpc_id
  pulumi/infra/cache.py
Due: none

Move rules to standalone sg rules so there are no conflicts
  pulumi/infra/cache.py
Due: none

Allow nomad agents to communicate with redis
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/infra/cache.py
Due: none

Update pulumi up in provision to use the same nomad address logic as pulumi preview
  .buildkite/pipeline.provision.yml
  .buildkite/shared/steps/pulumi_preview.sh
  .buildkite/shared/steps/pulumi_up.sh
Due: none

Add new required pulumi config
  .buildkite/pipeline.verify.yml
Due: none

Auto-refresh during preview
  .buildkite/shared/steps/pulumi_preview.sh
Due: none

Remove the sg rule allowing ingress from everything
  pulumi/infra/cache.py
Due: none

Add another refresh
  .buildkite/shared/steps/pulumi_up.sh
Due: none

Pass provider to ingress nomad job
  pulumi/grapl/__main__.py
Due: none

Port docs builds to Myst instead of eol Recommonmark; upgrade Sphinx.
  docs/analyzers/deploying.md
  docs/analyzers/implementing.md
  docs/conf.py
  docs/queryable.md
  docs/requirements.txt
Due: none

Port docs builds to Myst instead of eol Recommonmark; upgrade Sphinx. (#1231)
  docs/analyzers/deploying.md
  docs/analyzers/implementing.md
  docs/conf.py
  docs/queryable.md
  docs/requirements.txt
Due: none

Better typing around Nomad vars to catch bugs
  pulumi/grapl/__main__.py
  pulumi/infra/nomad_job.py
Due: none

very gross WIP
  src/rust/Cargo.lock
  src/rust/Dockerfile
  src/rust/org-management/BUILD
  src/rust/org-management/Cargo.toml
  src/rust/org-management/compile.sh
  src/rust/org-management/init.sql
  src/rust/org-management/proto/orgmanagement.proto
  src/rust/org-management/sqlx-data.json
  src/rust/org-management/src/client.rs
  src/rust/org-management/src/lib.rs
  src/rust/org-management/src/main.rs
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

no bucket dot bucket, now its .bucket_name
  pulumi/grapl/__main__.py
  pulumi/infra/emitter.py
Due: none

Max attempts at getting nomad deployed to aws
  bin/aws/BUILD
  bin/aws/ssm_nomad_agent.sh
  bin/aws/ssm_nomad_server.sh
  pulumi/README.md
Due: none

Better agent script with customizable port
  bin/aws/ssm_nomad_agent.sh
Due: none

ugh format again
  pulumi/infra/emitter.py
Due: none

Remove the refresh line since we no longer need it. Long-term this should be a separate pipeline
  .buildkite/shared/steps/pulumi_preview.sh
  .buildkite/shared/steps/pulumi_up.sh
Due: none
