Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload AMI Build, :pipeline: Upload UX Build, :pipeline: Upload AMI Test

make build-lambda-zips-rust:
  command:
  - make build-lambda-zips-rust
  artifact_paths:
  - dist/*-lambda.zip
  agents:
    queue: docker

make build-lambda-zips-js:
  command:
  - make build-lambda-zips-js
  artifact_paths:
  - dist/*-lambda.zip
  agents:
    queue: docker

:pipeline: Upload AMI Build:
  label: ':pipeline: Upload AMI Build'
  command: buildkite-agent pipeline upload .buildkite/pipeline.merge.ami-build.yml

:pipeline: Upload UX Build:
  label: ':pipeline: Upload UX Build'
  command: buildkite-agent pipeline upload .buildkite/pipeline.merge.ux-build.yml

:pipeline: Upload AMI Test:
  label: ':pipeline: Upload AMI Test'
  command: buildkite-agent pipeline upload .buildkite/pipeline.verify.ami-test.yml

Fix an old issue around engagement-edge testing. (#1107)
  src/python/engagement_edge/engagement_edge/engagement_edge.py
  src/python/engagement_edge/tests/BUILD
  src/python/engagement_edge/tests/test_engagement_edge.py
Due: none

Seed the Envelope through the Analyzer Executor
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/graplinc/graplinc/grapl/api/services/__init__.py
  src/python/graplinc/graplinc/grapl/api/services/v1beta1/__init__.py
Due: none

Seed through services
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/python/graplinc-grapl-api/setup.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/derive-dynamic-node/examples/ex.rs
  src/rust/derive-dynamic-node/tests/derive_session.rs
  src/rust/generators/generic-subgraph-generator/src/models/mod.rs
  src/rust/generators/graph-generator-lib/src/lib.rs
  src/rust/generators/sysmon-generator/src/models/process/create.rs
  src/rust/graph-merger/src/main.rs
  src/rust/graph-merger/src/reverse_resolver.rs
  src/rust/graph-merger/src/service.rs
  src/rust/graph-merger/src/upsert_util.rs
  src/rust/graph-merger/src/upserter.rs
  src/rust/grapl-service/src/serialization/zstd_proto_graph.rs
  src/rust/node-identifier/src/dynamic_sessiondb.rs
  src/rust/node-identifier/src/lib.rs
  src/rust/rust-proto/build.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/sqs-executor/src/lib.rs
  src/rust/sqs-executor/src/retriever/event_retriever.rs
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Add tests for proto uuid. Add comments for more protobuf
  src/proto/graplinc/grapl/api/services/v1beta1/types.proto
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/tests/test_envelope.py
Due: none

Remove some old pulumi files
  pulumi/Pulumi.dev.yaml
  pulumi/Pulumi.sbxcob.yaml
Due: none

buff up our buf rules, add to lints
  Makefile
  buf.yaml
Due: none

Reformat code
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/tests/test_envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/rust/generators/sysmon-generator/src/models/process/create.rs
Due: make build-lambda-zips-rust

Reformat code
  src/python/grapl-common/grapl_common/envelope.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/sqs-executor/src/lib.rs
Due: make build-lambda-zips-rust

Add Python wrappers around the protobuf
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
Due: none

Fix up some clippy lints
  docs/queryable.md
  src/rust/Cargo.toml
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/rust-proto/build.rs
Due: make build-lambda-zips-rust

Reformat some code
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/rust/generators/sysmon-generator/src/serialization.rs
Due: make build-lambda-zips-rust

formatting
  src/rust/Cargo.toml
  src/rust/analyzer-dispatcher/Cargo.toml
  src/rust/derive-dynamic-node/Cargo.toml
  src/rust/endpoint-plugin/Cargo.toml
  src/rust/generators/generic-subgraph-generator/Cargo.toml
  src/rust/generators/graph-generator-lib/Cargo.toml
  src/rust/generators/osquery-generator/Cargo.toml
  src/rust/generators/sysmon-generator/Cargo.toml
  src/rust/graph-merger/Cargo.toml
  src/rust/grapl/Cargo.toml
  src/rust/node-identifier/Cargo.toml
  src/rust/sqs-executor/Cargo.toml
Due: make build-lambda-zips-rust

Fix a minor issue in test_envelope.py
  src/python/grapl-common/tests/test_envelope.py
Due: none

Fix up a few methods
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
Due: none

Rename Meta to Metadata
  src/proto/graplinc/grapl/api/services/v1beta1/types.proto
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/rust-proto/src/services.rs
  src/rust/sqs-executor/src/lib.rs
  src/rust/sqs-executor/src/retriever/event_retriever.rs
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

fix a rebase error
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
Due: none

Rename module from api.services to pipeline
  src/proto/graplinc/grapl/pipeline/v1beta1/types.proto
  src/python/grapl-common/grapl_common/envelope.py
  src/python/graplinc-grapl-api/setup.py
  src/rust/analyzer-dispatcher/src/dispatch_event.rs
  src/rust/rust-proto/build.rs
  src/rust/rust-proto/src/graph_descriptions.rs
  src/rust/rust-proto/src/lib.rs
  src/rust/rust-proto/src/pipeline.rs
  src/rust/sqs-executor/src/lib.rs
  src/rust/sqs-executor/src/retriever/event_retriever.rs
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

Fix python build
  src/BUILD
  src/proto/graplinc/grapl/pipeline/BUILD
  src/proto/graplinc/grapl/pipeline/v1beta1/types.proto
  src/python/graplctl/tests/BUILD
  src/python/graplinc/graplinc/grapl/pipeline/BUILD
  src/python/graplinc/graplinc/grapl/pipeline/__init__.py
  src/python/graplinc/graplinc/grapl/pipeline/v1beta1/__init__.py
  src/rust/generators/sysmon-generator/src/serialization.rs
  src/rust/graph-merger/tests/test_merging.rs
  src/rust/rust-proto/src/lib.rs
Due: make build-lambda-zips-rust

rename protobufs to something more sane, document them, clean up python and rust code
  src/proto/graplinc/grapl/pipeline/v1beta1/types.proto
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/grapl-common/grapl_common/envelope.py
  src/python/grapl-common/tests/test_envelope.py
  src/python/grapl-tests-common/grapl_tests_common/upload_logs.py
  src/rust/rust-proto/src/lib.rs
  src/rust/rust-proto/src/pipeline.rs
Due: make build-lambda-zips-rust

Rename Meta to Metadata. Remove client_id. Remove redundant rust-proto entry in workspace
  src/proto/graplinc/grapl/api/services/v1beta1/types.proto
  src/rust/Cargo.toml
  src/rust/sqs-executor/src/retriever/s3_event_retriever.rs
Due: make build-lambda-zips-rust

formatting
  .buildkite/pipeline.verify.yml
  nomad/grapl-core.nomad
  src/rust/rust-proto/src/pipeline.rs
Due: make build-lambda-zips-rust

Enable Python test coverage gathering with Pants
  .buildkite/pipeline.verify.yml
  pants.toml
Due: none

Provide a TIMEOUT_SECS variable to adjust timeouts for e2e tests
  .buildkite/scripts/e2e_in_aws.sh
  pulumi/infra/e2e_test_runner.py
  src/python/e2e-test-runner/e2e_test_runner/test_main.py
Due: none

Fixed missing nomad lint and linted nomad job (#1106)
  Makefile
  nomad/grapl-core.nomad
Due: none

Create new release candidate with updated deployment artifacts
  pulumi/grapl/Pulumi.testing.yaml
Due: none

Add some sleeps between various provisioning steps in e2e test
  .buildkite/scripts/e2e_in_aws.sh
Due: none

tag @wg-data-infra on relevant code
  .github/CODEOWNERS
Due: none

fix wg-data-infra team reference
  .github/CODEOWNERS
Due: none

remove redundant @colin-grapl tag (Colin is on the @wg-data-infra team)
  .github/CODEOWNERS
Due: none

Accept defeat and max out our timeouts for e2e tests in AWS
  pulumi/infra/e2e_test_runner.py
Due: none

Automatically retry e2e tests in AWS
  .buildkite/pipeline.testing.yml
Due: none

Issue 431: Node Identifier and Retry should be different
  docker-compose.yml
  pulumi/infra/service_queue.py
  src/rust/node-identifier/src/bin/node-identifier.rs
  src/rust/node-identifier/src/lib.rs
Due: make build-lambda-zips-rust

Issue 431: Node Identifier and Retry should be different (#1114)
  docker-compose.yml
  pulumi/infra/service_queue.py
  src/rust/node-identifier/src/bin/node-identifier.rs
  src/rust/node-identifier/src/lib.rs
Due: make build-lambda-zips-rust

Configure the Stale bot to close old PRs
  .github/stale.yml
Due: none

Gather coverage statistics for JavaScript unit tests
  src/js/graphql_endpoint/package.json
  test/docker-compose.unit-tests-js.yml
Due: make build-lambda-zips-js

Clarify the setup of the JavaScript test containers
  test/docker-compose.unit-tests-js.yml
Due: none

Path conditions:
  make build-lambda-zips-rust: any of: src/rust/, docker-compose.lambda-zips.rust.yml
  make build-lambda-zips-js: any of: src/js/, docker-compose.lambda-zips.js.yml
  :pipeline: Upload AMI Build: any of: packer/, .buildkite/scripts/build_packer_ci.sh, .buildkite/scripts/record_artifacts.sh, .buildkite/scripts/lib/packer.sh, .buildkite/scripts/lib/packer_constants.sh, .buildkite/pipeline.merge.ami-build.yml
  :pipeline: Upload UX Build: any of: src/js/engagement_view/, .buildkite/scripts/upload_ux_assets.sh, .buildkite/pipeline.merge.ux-build.yml
  :pipeline: Upload AMI Test: any of: packer/, .buildkite/scripts/test_packer.sh
