Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit, :pipeline: Upload Cargo Udeps

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
  :pipeline: Upload Cargo Udeps: any of: **/Cargo.toml, **/Cargo.lock

add setup proxy, specify node & yarn version in package.json, yarn configurations
  src/js/frontend/.gitignore
  src/js/frontend/.npmrc
  src/js/frontend/.yarnrc
  src/js/frontend/package.json
  src/js/frontend/src/setupProxy.js
  src/js/frontend/tsconfig.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

set up prettier for linting, fix errors
  src/js/frontend/.eslintrc.json
  src/js/frontend/.prettierrc
  src/js/frontend/package.json
  src/js/frontend/src/App.tsx
  src/js/frontend/src/index.tsx
  src/js/frontend/src/reportWebVitals.ts
  src/js/frontend/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

enforce yarn as package manager, throw error if using npm
  src/js/frontend/.npmrc
  src/js/frontend/package.json
  src/js/frontend/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

initial eslint config
  src/js/frontend/.eslintrc.json
  src/js/frontend/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

run formatting
  src/js/frontend/.eslintrc.json
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/setupProxy.js
  src/js/frontend/src/setupTests.ts
  src/js/frontend/tsconfig.json
Due: none

add js/frontend to codeowners
  .github/CODEOWNERS
Due: none

add prettierignore to ignore readme
  src/js/frontend/.prettierignore
Due: none

add prettier ignore to readme
  src/js/frontend/README.md
Due: none

Updated Pants to 2.13.0
  pants.toml
Due: none

Update pants shell script to latest version
  pants
Due: none

Update tool lockfiles
  3rdparty/python/autoflake.lockfile
  3rdparty/python/black.lockfile
  3rdparty/python/coveragepy.lockfile
  3rdparty/python/flake8.lockfile
  3rdparty/python/ipython.lockfile
  3rdparty/python/isort.lockfile
  3rdparty/python/mypy.lockfile
  3rdparty/python/pytest.lockfile
  3rdparty/python/pyupgrade.lockfile
Due: none

Update Python dependencies
  3rdparty/python/constraints.txt
Due: none

updates for review comments
  src/rust/plugin-registry/tests/test_list_plugins.rs
Due: none

Removing some unnecessary Pants targets
  BUILD
Due: none

Address a handful of Pants warnings
  .buildkite/pipeline.verify.yml
  pants.toml
Due: none

Comment the living hell out of execute_client_rpc
  src/rust/rust-proto/src/client_macros.rs
  src/rust/rust-proto/src/graplinc/grapl/api/event_source/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_mutation/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_service/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_schema_manager/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/organization_management/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/pipeline_ingress/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1_client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1_client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/scylla_provisioner/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/uid_allocator/v1beta1.rs
Due: none

Remove broken `make repl` target
  Makefile
  src/python/repl/BUILD
Due: none

add a list_plugins RPC method (#1954)
  src/proto/graplinc/grapl/api/plugin_registry/v1beta1/plugin_registry.proto
  src/rust/plugin-registry/sqlx-data.json
  src/rust/plugin-registry/src/db/client.rs
  src/rust/plugin-registry/src/server/service.rs
  src/rust/plugin-registry/tests/test_list_plugins.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1_client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1_server.rs
  src/rust/rust-proto/tests/proto_serde_tests.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: none

add num_tries
  src/rust/rust-proto/src/client_macros.rs
Due: none

Update call to "dump_artifacts" to account for Pants changes
  Makefile
  pants.toml
Due: none

remove relative path in prettierignore for README.md
  src/js/frontend/.prettierignore
Due: none

Fix main
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1_client.rs
Due: none

let the executor handle retries
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/async-cache/src/lib.rs
  src/rust/generator-dispatcher/src/lib.rs
Due: none

lints and stuff
  src/rust/Cargo.lock
  src/rust/analyzer-dispatcher/Cargo.toml
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/async-cache/src/lib.rs
  src/rust/generator-dispatcher/Cargo.toml
  src/rust/generator-dispatcher/src/lib.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1_client.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

update prettier - still not working as of now. Add logos and update manifest.json
  src/js/frontend/.prettierignore
  src/js/frontend/README.md
  src/js/frontend/public/favicon.ico
  src/js/frontend/public/graplLogo.png
  src/js/frontend/public/graplLogo192.png
  src/js/frontend/public/graplLogo512.png
  src/js/frontend/public/index.html
  src/js/frontend/public/logo192.png
  src/js/frontend/public/logo512.png
  src/js/frontend/public/manifest.json
Due: none

Internal 1009 analyzer dispatcher (#1963)
  .github/CODEOWNERS
  docker-bake.hcl
  nomad/grapl-core.nomad
  pulumi/grapl/__main__.py
  pulumi/infra/kafka.py
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/analyzer-dispatcher/Cargo.toml
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/analyzer-dispatcher/tests/analyzer_dispatcher_integration_tests.rs
  src/rust/async-cache/Cargo.toml
  src/rust/async-cache/src/lib.rs
  src/rust/e2e-tests/src/test_utils/context.rs
  src/rust/generator-dispatcher/src/generator_ids_cache.rs
  src/rust/plugin-work-queue/sqlx-data.json
  src/rust/plugin-work-queue/src/test_utils.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Graph query service in python-proto
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
  src/python/python-proto/python_proto/api/graph_query/__init__.py
  src/python/python-proto/python_proto/api/graph_query/v1beta1/__init__.py
  src/python/python-proto/python_proto/api/graph_query/v1beta1/client.py
  src/python/python-proto/python_proto/api/graph_query/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/strategies.py
  src/python/python-proto/python_proto/tests/test_api_graph_query.py
  src/python/python-proto/python_proto/tests/test_grapl_common.py
Due: none

upgrade to yarn 3.1, add frontend to makefile and set up build instructions for new frontend directory.
  Makefile
  etc/chromeos/lib/installs.sh
  src/js/frontend/.yarnrc
  src/js/frontend/.yarnrc.yml
  src/js/frontend/BUILD
  src/js/frontend/Makefile
  src/js/frontend/build-env.Dockerfile
  src/js/frontend/package.json
  src/js/frontend/src/App.css
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/App.tsx
  src/js/frontend/src/assets/graplLogoFull.svg
  src/js/frontend/src/logo.svg
  src/js/frontend/src/reportWebVitals.ts
  src/js/frontend/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

WIP - Working on resolving format-prettier and lint-js targets. Per this commit, Grapl builds, but JS/TS formatting targets fail
  docker-compose.check.yml
  etc/formatter/Dockerfile
  etc/formatter/format.sh
  etc/formatter/prettierrc-yaml.toml
  src/js/frontend/README.md
  src/js/frontend/package.json
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/index.tsx
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Graph query service in python-proto (#1962)
  3rdparty/python/constraints.txt
  3rdparty/python/requirements.txt
  src/python/python-proto/python_proto/api/graph_query/__init__.py
  src/python/python-proto/python_proto/api/graph_query/v1beta1/__init__.py
  src/python/python-proto/python_proto/api/graph_query/v1beta1/client.py
  src/python/python-proto/python_proto/api/graph_query/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/strategies.py
  src/python/python-proto/python_proto/tests/test_api_graph_query.py
  src/python/python-proto/python_proto/tests/test_grapl_common.py
Due: none

run make format-prettier before make lint-prettier
  src/js/frontend/src/App.tsx
  src/js/frontend/src/index.tsx
  src/js/frontend/src/reportWebVitals.ts
Due: none

update yarnrc, update eslintrc, formatting
  src/js/frontend/.eslintrc.json
  src/js/frontend/.prettierignore
  src/js/frontend/.yarnrc.yml
  src/js/frontend/package.json
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/App.tsx
  src/js/frontend/src/index.tsx
  src/js/frontend/src/reportWebVitals.ts
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Use Consul DNS as dns server
  nomad/grapl-core.nomad
  nomad/grapl-graph-db.nomad
  nomad/grapl-ingress.nomad
  nomad/local/grapl-local-infra.nomad
  nomad/rust-integration-tests.nomad
Due: none

update yarnPath
  Makefile
  src/js/frontend/.yarnrc.yml
Due: none

update yarn version
  .github/CODEOWNERS
  src/js/frontend/.eslintrc.json
  src/js/frontend/build-env.Dockerfile
  src/js/frontend/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

remove .yarnrc file - this was autogenerated with yarn 1 and breaks CI
  src/js/frontend/.yarnrc
Due: none

remove yarn path from yarnrc
  src/js/frontend/.yarnrc.yml
Due: none

run prettier
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/App.tsx
  src/js/frontend/src/index.tsx
  src/js/frontend/src/reportWebVitals.ts
Due: none
