Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

:pipeline: Upload Cargo Audit:
  label: ':pipeline: Upload Cargo Audit'
  command: .buildkite/pipeline.cargo-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload NPM Audit:
  label: ':pipeline: Upload NPM Audit'
  command: .buildkite/pipeline.npm-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Yarn Audit:
  label: ':pipeline: Upload Yarn Audit'
  command: .buildkite/pipeline.yarn-audit.sh | buildkite-agent pipeline upload

Update docker Buildkite plugin version to v3.12.0
  .buildkite/pipeline.verify.yml
Due: none

Prevent `yarn.lock` from mutating when we `yarn build` (#1623)
  .gitattributes
  src/js/engagement_view/Makefile
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

Add node schema method to Node Viewable.
  src/rust/grapl-graphql-codegen/src/node_type.rs
Due: none

Updated Lockfile
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

Add link to ticket about weird placement of source-map-explorer
  .buildkite/pipeline.verify.yml
Due: none

Update comments around docker volume prune
  Makefile
Due: none

Clear out grapl-web-ui/frontend after every build
  Makefile
Due: none

Use react-force-graph-2d which reduces static/js from 15mb to 5mb
  src/js/engagement_view/package.json
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Enforce nomad var requirements with custom validation
  nomad/grapl-core.nomad
Due: none

Make NVM install work on Gitpod (#1611)
  etc/chromeos/lib/installs.sh
Due: none

Much higher interval brings down startup time avg 61s to 53s
  nomad/local/grapl-local-infra.nomad
Due: none

Provision a dev box on EC2 (#1613)
  .dockerignore
  .github/CODEOWNERS
  .gitignore
  devbox/BUILD
  devbox/README.md
  devbox/provision/BUILD
  devbox/provision/Pulumi.yaml
  devbox/provision/__init__.py
  devbox/provision/__main__.py
  devbox/provision/infra/BUILD
  devbox/provision/infra/__init__.py
  devbox/provision/infra/ami.py
  devbox/provision/infra/iam_instance_profile.py
  devbox/provision/infra/policies.py
  devbox/provision/infra/security_group.py
  devbox/provision/provision.sh
  devbox/ssh.sh
  pants.toml
  pulumi/infra/policies.py
Due: none

Remove unnecessary pwds
  Makefile
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Link label rotation (#1616)
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
  src/js/engagement_view/src/components/graphDisplay/graphLayout/labels.tsx
  src/js/engagement_view/src/components/graphDisplay/graphLayout/mergeGraphs.tsx
  src/js/engagement_view/src/components/graphDisplay/graphLayout/vizGraphFromLensScope.tsx
  src/js/engagement_view/src/components/graphDisplay/graphUpdates/updateGraph.tsx
  src/js/engagement_view/src/tests/labels.test.tsx
  src/js/engagement_view/src/types/CustomTypes.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

devbox readme so people know how to actually use it (#1622)
  devbox/README.md
  devbox/provision/provision.sh
Due: none

Fix dgraph healthchecks with multiple nodes
  nomad/grapl-core.nomad
Due: none

Run an initial updateTableStateWithLenses upon loading engagements page instead of waiting 5s (#1621)
  src/js/engagement_view/src/components/engagementView/sidebar/tables/toggleLensTable.tsx
  src/js/engagement_view/src/lib/custom_react_hooks.ts
Due: none

Updated nightly rustfmt toolchain to 'nightly-2022-04-06'
  src/rust/bin/format
Due: none

Send source_map_explorer_result.html to CI artifacts
  .buildkite/pipeline.verify.yml
  .gitignore
  src/js/engagement_view/Makefile
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Updated Rust to 1.60.0
  .buildkite/pipeline.verify.yml
  src/rust/rust-toolchain.toml
Due: none

Download the tc-redirect-tap plugin from cloudsmith
  etc/chromeos/lib/installs.sh
  etc/chromeos/setup_optional_tools.sh
Due: none

Update artifacts Buildkite plugin version to v1.5.0
  .buildkite/pipeline.merge.promote.yml
  .buildkite/pipeline.merge.yml
  .buildkite/pipeline.provision.yml
Due: none

Expand the size of our rootfs image
  firecracker/rootfs/build-rootfs.pkr.hcl
Due: none

Add devbox utilities: devbox-sync.sh (rsync to remote) and devbox-do.sh (sync, then execute something remotely) (#1619)
  devbox/devbox-do.sh
  devbox/devbox-sync.sh
  devbox/lib.sh
  devbox/provision/__main__.py
  devbox/provision/deprovision.sh
  devbox/provision/provision.sh
  devbox/ssh.sh
  etc/chromeos/lib/installs.sh
Due: none

Add tc-redirect-tap CNI plugin
  etc/chromeos/lib/installs.sh
  etc/chromeos/setup_optional_tools.sh
Due: none

Add clean command for dgraph images and volumes
  Makefile
Due: none

add yarn.lock file
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

resolve FE performance issues by properly using ctx.save(), ctx.resto… (#1612)
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

Set up basic CNI networking stuff
  firecracker/cni/BUILD
  firecracker/cni/README.md
  firecracker/cni/build.sh
  firecracker/cni/fctenantplugin.conflist
  src/rust/plugin-registry/src/static_files/plugin.nomad
Due: none

remove dnsmasq from local nomad - fixing messed up merge.
  nomad/local/grapl-local-infra.nomad.orig
Due: none

WIP: testing
  src/rust/Cargo.lock
  src/rust/pipeline-ingress/Cargo.toml
  src/rust/pipeline-ingress/src/main.rs
  src/rust/rust-proto-new/Cargo.toml
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/pipeline/v1beta1.rs
  src/rust/rust-proto-new/tests/integration_test.rs
Due: :pipeline: Upload Cargo Audit

WIP testing
  src/rust/rust-proto-new/tests/integration_test.rs
Due: none

formatting and lints
  src/rust/pipeline-ingress/src/main.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/pipeline/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/pipeline/v1beta2.rs
  src/rust/rust-proto-new/tests/integration_test.rs
Due: none

use the singular form to make the intent clear
  src/proto/graplinc/grapl/api/pipeline_ingress/v1beta1/pipeline_ingress.proto
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
Due: none

first draft of a pipeline-ingress service.
  src/proto/graplinc/grapl/api/pipeline_ingress/v1beta1/pipeline_ingress.proto
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/pipeline-ingress/Cargo.toml
  src/rust/pipeline-ingress/src/main.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/pipeline/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/pipeline/v1beta2.rs
Due: :pipeline: Upload Cargo Audit

first draft of healthchecks
  src/rust/Cargo.lock
  src/rust/pipeline-ingress/src/main.rs
  src/rust/rust-proto-new/Cargo.toml
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/tests/integration_test.rs
Due: :pipeline: Upload Cargo Audit

use bind(0) to assign random ephemeral port in tests
  src/rust/Cargo.lock
  src/rust/pipeline-ingress/src/main.rs
  src/rust/rust-proto-new/Cargo.toml
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/tests/integration_test.rs
Due: :pipeline: Upload Cargo Audit

add telemetry and placeholder integration test
  src/rust/pipeline-ingress/Cargo.toml
  src/rust/pipeline-ingress/src/main.rs
  src/rust/pipeline-ingress/tests/integration_test.rs
Due: :pipeline: Upload Cargo Audit

use ipv4 addresses because docker >_<
  src/rust/rust-proto-new/tests/integration_test.rs
Due: none

fix a bug which was preventing pipeline-ingress from starting and add a whole bunch of instrumentation
  src/rust/Cargo.lock
  src/rust/kafka/Cargo.toml
  src/rust/kafka/src/lib.rs
  src/rust/pipeline-ingress/Cargo.toml
  src/rust/pipeline-ingress/src/main.rs
  src/rust/rust-proto-new/Cargo.toml
  src/rust/rust-proto-new/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto-new/src/lib.rs
Due: :pipeline: Upload Cargo Audit

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
