Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload UX Build, :pipeline: Upload Cargo Audit

Path conditions:
  make build-lambda-zips-rust: any of: src/rust/, docker-compose.lambda-zips.rust.yml
  make build-lambda-zips-js: any of: src/js/, docker-compose.lambda-zips.js.yml
  :pipeline: Upload UX Build: any of: src/js/engagement_view/, .buildkite/scripts/upload_ux_assets.sh, .buildkite/pipeline.merge.ux-build.yml
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock

running into docker issues
  docker-compose.yml
  local-grapl.env
  src/rust/Cargo.lock
  src/rust/Dockerfile
  src/rust/init.sql
  src/rust/org-management/Cargo.toml
  src/rust/org-management/migrations/20210930040957_org-mgt-migrations.sql
  src/rust/org-management/proto/orgmanagement.proto
  src/rust/org-management/src/main.rs
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

Check for bridge networking hack when on cros (and fix a missed gitignore)
  .gitignore
  BUILDING.md
  nomad/local/start_detach.sh
Due: none

Use runtime containers for building Rust srouces instead of building them in the context of container image creation (Dockerfiles).
  .dockerignore
  .github/CODEOWNERS
  .gitignore
  BUILDING.md
  Makefile
  docker-compose.build.yml
  docker-compose.lambda-zips.rust.yml
  src/js/engagement_view/.gitignore
  src/js/engagement_view/.yarn/state/.gitignore
  src/js/engagement_view/.yarnrc.yml
  src/js/engagement_view/Makefile
  src/js/engagement_view/build-env.Dockerfile
  src/rust/.gitignore
  src/rust/Dockerfile
  src/rust/Makefile
  src/rust/build-env.Dockerfile
  src/rust/build-int-tests.sh
  src/rust/dist.Dockerfile
  src/rust/docker-bake.hcl
  src/rust/integration-tests.Dockerfile
  test/docker-compose.integration-tests.build.yml
  test/docker-compose.unit-tests-rust.yml
Due: make build-lambda-zips-rust, make build-lambda-zips-js, :pipeline: Upload UX Build

Remove remains of grapl-network
  Makefile
  docker-compose.yml
  nomad/local/nomad_run_local_infra.sh
Due: none

Add rough setup script for ChromeOS including the CNI setup
  bin/setup_chromeos.sh
Due: none

Nomad: Exit early if local infra failed to deploy
  nomad/local/nomad_run_local_infra.sh
Due: none

Provisioner is now a pex, not a lambda
  Makefile
  docker-compose.build.yml
  src/python/Dockerfile
  src/python/lambdas.Dockerfile
  src/python/provisioner/provisioner/BUILD
Due: none

E2e as pex works now
  nomad/local/e2e-tests.nomad
  src/python/e2e-test-runner/e2e_test_runner/BUILD
  src/python/e2e-test-runner/e2e_test_runner/main.py
Due: none

jesus christ, moving e2e to a pex is hard
  Makefile
  nomad/local/e2e-tests.nomad
  src/python/Dockerfile
  src/python/e2e-test-runner/e2e_test_runner/BUILD
  src/python/e2e-test-runner/e2e_test_runner/main.py
  src/python/e2e-test-runner/e2e_test_runner/schemas.py
  src/python/lambdas.Dockerfile
  src/python/provisioner/provisioner/app.py
  test/docker-compose.e2e-tests.build.yml
Due: none

Update GraphQL to build in containers via 'docker run'.
  Makefile
  docker-compose.build.yml
  docker-compose.lambda-zips.js.yml
  src/js/graphql_endpoint/.gitignore
  src/js/graphql_endpoint/.yarn/releases/yarn-3.0.2.cjs
  src/js/graphql_endpoint/.yarnrc.yml
  src/js/graphql_endpoint/Dockerfile
  src/js/graphql_endpoint/Makefile
  src/js/graphql_endpoint/build-env.Dockerfile
  src/js/graphql_endpoint/dist.Dockerfile
  src/js/graphql_endpoint/docker-bake.hcl
  src/js/graphql_endpoint/package-lock.json
  src/js/graphql_endpoint/package.json
  src/js/graphql_endpoint/yarn.lock
  test/docker-compose.unit-tests-js.yml
Due: make build-lambda-zips-js

Update formatting and linting targets.
  .buildkite/pipeline.verify.yml
  Makefile
Due: none

Change the Engagement View build to use Docker named volumes for caching builds. This benefits CI where each build is on a clean checkout.
  Makefile
  src/js/engagement_view/.gitignore
  src/js/engagement_view/.yarn/state/.gitignore
  src/js/engagement_view/.yarnrc.yml
  src/js/engagement_view/Makefile
  src/js/engagement_view/build-env.Dockerfile
Due: make build-lambda-zips-js, :pipeline: Upload UX Build

Remove Pulumi stack outputs, local-dev.yml
  Makefile
  docker-compose.local-dev.yml
  docker-compose.yml
Due: none

Wait for grapl provision to complete
  nomad/local/nomad_cli_tools.sh
  nomad/local/run_parameterized_job.sh
Due: none

format
  nomad/local/run_parameterized_job.sh
Due: none

Docker Artifacts: no Pulumi docker logs is totally okay, rip out lambda stuff
  etc/ci_scripts/dump_artifacts/docker_artifacts.py
Due: none

lint, of course
  etc/ci_scripts/dump_artifacts/docker_artifacts.py
Due: none

Remove Pulumi stack outputs, unused `docker-compose.yml` entries, local-dev.yml (#1205)
  Makefile
  docker-compose.local-dev.yml
  docker-compose.yml
  nomad/local/nomad_cli_tools.sh
  nomad/local/run_parameterized_job.sh
Due: none

oh shoot i forgot to remove the exception
  etc/ci_scripts/dump_artifacts/docker_artifacts.py
Due: none

Update the GraphQL to build in containers via 'docker run' and to match how Engagement View build is performed.
  .buildkite/pipeline.merge.yml
  .buildkite/pipeline.verify.yml
  Makefile
  docker-compose.build.yml
  pulumi/infra/api.py
  pulumi/infra/graphql.py
  src/js/graphql_endpoint/.gitignore
  src/js/graphql_endpoint/.yarn/releases/yarn-3.0.2.cjs
  src/js/graphql_endpoint/.yarn/state/.gitignore
  src/js/graphql_endpoint/.yarnrc.yml
  src/js/graphql_endpoint/Dockerfile
  src/js/graphql_endpoint/Makefile
  src/js/graphql_endpoint/build-env.Dockerfile
  src/js/graphql_endpoint/dist.Dockerfile
  src/js/graphql_endpoint/docker-bake.hcl
  src/js/graphql_endpoint/node_modules/.gitignore
  src/js/graphql_endpoint/package-lock.json
  src/js/graphql_endpoint/yarn.lock
  test/docker-compose.unit-tests-js.yml
Due: make build-lambda-zips-js

Add more logs to run_local_infra to figure out why stuff quits
  nomad/local/nomad_run_local_infra.sh
Due: none

Docker Artifacts: no Pulumi docker logs is totally okay, rip out lambda stuff (#1207)
  etc/ci_scripts/dump_artifacts/docker_artifacts.py
  nomad/local/nomad_run_local_infra.sh
Due: none

Python integration tests now mounts its Pants cache as a named-docker-volume.
  nomad/local/integration-tests.nomad
  src/python/Dockerfile
  src/python/graphql_endpoint_tests/test_graphql_endpoint.py
Due: none

Reduce max_examples to 25 on long running tests. Print stdout/stderr for passing integ/e2e tests.
  nomad/local/integration-tests.nomad
  src/python/Dockerfile
  src/python/grapl-tests-common/grapl_tests_common/setup_tests.py
  src/python/grapl_analyzerlib/tests/test_process_node.py
Due: none

compilesgit add . ! works in dockergit add . ! reenabling commented out methods
  docker-compose.build.yml
  docker-compose.yml
  src/rust/Cargo.lock
  src/rust/Dockerfile
  src/rust/init-sql.sh
  src/rust/init.sql
  src/rust/org-management/Cargo.toml
  src/rust/org-management/proto/orgmanagement.proto
  src/rust/org-management/sqlx-data.json
  src/rust/org-management/src/server.rs
Due: make build-lambda-zips-rust, :pipeline: Upload Cargo Audit

Remove metric forwarder (not needed) and GraphQL (to Nomad) from Pulumi.
  Makefile
  pulumi/grapl/__main__.py
  pulumi/infra/analyzer_dispatcher.py
  pulumi/infra/analyzer_executor.py
  pulumi/infra/api.py
  pulumi/infra/fargate_service.py
  pulumi/infra/graph_merger.py
  pulumi/infra/graphql.py
  pulumi/infra/metric_forwarder.py
  pulumi/infra/model_plugin_deployer.py
  pulumi/infra/node_identifier.py
  pulumi/infra/osquery_generator.py
  pulumi/infra/queue_driven_lambda.py
  pulumi/infra/service.py
  pulumi/infra/sysmon_generator.py
Due: none

Move run-integration-tests to its own script; use workdir
  src/python/Dockerfile
  src/python/grapl-tests-common/grapl_tests_common/setup_tests.py
  test/run/BUILD
  test/run/integration-tests-from-docker-container.sh
Due: none

codeowners
  .github/CODEOWNERS
Due: none

python integration tests now use a named-docker-volume for the Pants cache. Improve runtime of some hypothesis tests. (#1209)
  .github/CODEOWNERS
  nomad/local/integration-tests.nomad
  src/python/Dockerfile
  src/python/graphql_endpoint_tests/test_graphql_endpoint.py
  src/python/grapl-tests-common/grapl_tests_common/setup_tests.py
  src/python/grapl_analyzerlib/tests/test_process_node.py
  test/run/BUILD
  test/run/integration-tests-from-docker-container.sh
Due: none

A stab at improving the 'failed-to-place-allocation' failure in buildkite
  nomad/local/nomad_run_local_infra.sh
Due: none

A stab at improving the 'failed-to-place-allocation' failure in buildkite (#1210)
  nomad/local/nomad_run_local_infra.sh
Due: none

Deleted source code for model plugin deployer and dgraph-ttl.
  .github/CODEOWNERS
  Makefile
  docker-compose.lambda-zips.js.yml
  pants.toml
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
  pulumi/infra/dgraph_ttl.py
  src/js/graphql_endpoint/Dockerfile
  src/python/grapl-dgraph-ttl/.chalice/config.json
  src/python/grapl-dgraph-ttl/.gitignore
  src/python/grapl-dgraph-ttl/BUILD
  src/python/grapl-dgraph-ttl/grapl_dgraph_ttl.py
  src/python/grapl-dgraph-ttl/pytest.ini
  src/python/grapl-dgraph-ttl/tests/BUILD
  src/python/grapl-dgraph-ttl/tests/test_dgraph_ttl.py
  src/python/grapl-model-plugin-deployer/BUILD
  src/python/grapl-model-plugin-deployer/grapl_model_plugin_deployer.py
  src/python/grapl-model-plugin-deployer/mypy.ini
  src/python/grapl-model-plugin-deployer/pytest.ini
  src/python/grapl-model-plugin-deployer/tests/BUILD
  src/python/grapl-model-plugin-deployer/tests/test_model_plugin_deployer.py
Due: make build-lambda-zips-js

Remove the Create Lambda Zips from buildkite
  .buildkite/pipeline.verify.yml
Due: none

Delete source code for model plugin deployer and dgraph-ttl. (#1211)
  .buildkite/pipeline.verify.yml
  .github/CODEOWNERS
  Makefile
  docker-compose.lambda-zips.js.yml
  pants.toml
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
  pulumi/infra/dgraph_ttl.py
  src/js/graphql_endpoint/Dockerfile
  src/python/grapl-dgraph-ttl/.chalice/config.json
  src/python/grapl-dgraph-ttl/.gitignore
  src/python/grapl-dgraph-ttl/BUILD
  src/python/grapl-dgraph-ttl/grapl_dgraph_ttl.py
  src/python/grapl-dgraph-ttl/pytest.ini
  src/python/grapl-dgraph-ttl/tests/BUILD
  src/python/grapl-dgraph-ttl/tests/test_dgraph_ttl.py
  src/python/grapl-model-plugin-deployer/BUILD
  src/python/grapl-model-plugin-deployer/grapl_model_plugin_deployer.py
  src/python/grapl-model-plugin-deployer/mypy.ini
  src/python/grapl-model-plugin-deployer/pytest.ini
  src/python/grapl-model-plugin-deployer/tests/BUILD
  src/python/grapl-model-plugin-deployer/tests/test_model_plugin_deployer.py
Due: make build-lambda-zips-js
