Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit, :pipeline: Upload Cargo Udeps

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
  :pipeline: Upload Cargo Udeps: any of: **/Cargo.toml, **/Cargo.lock

Keep Rust base images in sync with our current Rust version
  Makefile
  build-support/rust_version.sh
  docker-bake.hcl
  src/rust/Dockerfile
  src/rust/Makefile
Due: none

remove unused model-plugin-deployer
  docker-bake.hcl
  nomad/grapl-core.nomad
  nomad/rust-integration-tests.nomad
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/model-plugin-deployer/.gitignore
  src/rust/model-plugin-deployer/Cargo.toml
  src/rust/model-plugin-deployer/README.md
  src/rust/model-plugin-deployer/build.rs
  src/rust/model-plugin-deployer/src/client.rs
  src/rust/model-plugin-deployer/src/lib.rs
  src/rust/model-plugin-deployer/src/main.rs
  src/rust/model-plugin-deployer/src/server.rs
  src/rust/model-plugin-deployer/tests/test_deploy_model.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

reduce specification in the Cargo.tomls
  src/rust/Cargo.lock
  src/rust/consul-connect/Cargo.toml
  src/rust/derive-dynamic-node/Cargo.toml
  src/rust/endpoint-plugin/Cargo.toml
  src/rust/event-source/Cargo.toml
  src/rust/generator-dispatcher/Cargo.toml
  src/rust/generators/sysmon-generator/Cargo.toml
  src/rust/graph-merger/Cargo.toml
  src/rust/grapl-config/Cargo.toml
  src/rust/grapl-graphql-codegen/Cargo.toml
  src/rust/grapl-observe/Cargo.toml
  src/rust/grapl-utils/Cargo.toml
  src/rust/grapl-web-ui/Cargo.toml
  src/rust/node-identifier/Cargo.toml
  src/rust/organization-management/Cargo.toml
  src/rust/plugin-executor/Cargo.toml
  src/rust/plugin-registry/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/plugin-work-queue/Cargo.toml
  src/rust/rust-proto/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

fix CODEOWNDERS
  .github/CODEOWNERS
Due: none

python-proto for analyzer and graph-query
  .python-version
  3rdparty/python/constraints.txt
  3rdparty/python/mypy.lockfile
  3rdparty/python/requirements.txt
  pants.toml
  src/proto/graplinc/grapl/api/graph_query_service/v1beta1/graph_query_service.proto
  src/proto/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/analyzers.proto
  src/python/Dockerfile
  src/python/analyzer_executor/src/analyzer_executor_lib/analyzer_executor.py
  src/python/analyzer_executor/src/run.py
  src/python/analyzer_executor/tests/test_cache_integration.py
  src/python/grapl_analyzerlib/grapl_analyzerlib/analyzer.py
  src/python/grapl_analyzerlib/mypy.ini
  src/python/python-proto/python_proto/__init__.py
  src/python/python-proto/python_proto/graplinc/grapl/api/graph_query/v1beta1/client.py
  src/python/python-proto/python_proto/graplinc/grapl/api/graph_query/v1beta1/graph_query.py
  src/python/python-proto/python_proto/graplinc/grapl/api/graph_query/v1beta1/messages.py
  src/python/python-proto/python_proto/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/messages.py
  src/python/python-proto/python_proto/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/server.py
  src/python/python-proto/python_proto/proto_helpers.py
  src/rust/Cargo.lock
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Remove the pantsbuild dependencies
  3rdparty/python/constraints.txt
Due: none

Upgrade the python version to 3.10
  .python-version
  build-support/editor_setup.py
  docs/development/vscode_debugger.rst
  pants.toml
  src/python/Dockerfile
  src/python/grapl-tests-common/mypy.ini
  src/python/grapl_analyzerlib/mypy.ini
Due: none

Switch to 3.10.4
  .python-version
Due: none

Keep python versions in sync
  Dockerfile.pulumi
  Makefile
  docker-bake.hcl
  src/python/Dockerfile
Due: none

vendor google.protobuf.any
  src/proto/google/protobuf/any.proto
Due: none

bytes::Bytes everywhere
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/rust-proto/Cargo.toml
  src/rust/rust-proto/build.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/organization_management/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/pipeline_ingress/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_bootstrap/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1_client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/pipeline/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/pipeline/v1beta2.rs
  src/rust/rust-proto/src/lib.rs
  src/rust/rust-proto/src/protocol/tls.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

remove grapl-observe because it is no longer used
  src/rust/grapl-observe/Cargo.toml
  src/rust/grapl-observe/src/dgraph_reporter.rs
  src/rust/grapl-observe/src/lib.rs
  src/rust/grapl-observe/src/macros.rs
  src/rust/grapl-observe/src/metric_error.rs
  src/rust/grapl-observe/src/metric_reporter.rs
  src/rust/grapl-observe/src/statsd_formatter.rs
  src/rust/grapl-observe/src/timers.rs
  src/rust/grapl-observe/src/writer_wrapper.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

update rust-proto dependents for bytes::Bytes change
  src/rust/generator-dispatcher/src/main.rs
  src/rust/generators/sysmon-generator/Cargo.toml
  src/rust/grapl-config/Cargo.toml
  src/rust/grapl-config/src/env_helpers.rs
  src/rust/kafka/src/lib.rs
  src/rust/plugin-registry/src/server/create_plugin.rs
  src/rust/plugin-registry/tests/test_create_plugin.rs
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
  src/rust/plugin-registry/tests/test_get_generators_for_event_source.rs
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/src/client.rs
  src/rust/plugin-sdk/generator-sdk/src/server.rs
  src/rust/plugin-work-queue/Cargo.toml
  src/rust/plugin-work-queue/src/psql_queue.rs
  src/rust/plugin-work-queue/src/server.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

WIP
  src/js/engagement_view/src/components/login/Login.tsx
  src/rust/Cargo.lock
  src/rust/lens-manager/Cargo.toml
  src/rust/lens-manager/src/lib.rs
  src/rust/lens-manager/src/main.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/lens_manager/v1beta1.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/lens_manager/v1beta1/client.rs
  src/rust/rust-proto-new/src/graplinc/grapl/api/lens_manager/v1beta1/server.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

pants tailor and update CODEOWNERS
  .github/CODEOWNERS
  src/proto/google/protobuf/BUILD
Due: none

add google sso button
  src/js/engagement_view/package.json
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
  src/js/engagement_view/src/components/login/Login.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

satisfy buf lints
  src/proto/google/protobuf/v1/BUILD
  src/proto/google/protobuf/v1/any.proto
  src/proto/graplinc/grapl/pipeline/v1beta2/types.proto
  src/rust/rust-proto/Cargo.toml
  src/rust/rust-proto/build.rs
  src/rust/rust-proto/src/graplinc/grapl/pipeline/v1beta2.rs
  src/rust/rust-proto/src/lib.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

make pants ignore the vendored protos, undo package change
  buf.yaml
  pants.toml
  src/proto/google/protobuf/any.proto
  src/proto/google/protobuf/v1/BUILD
  src/proto/graplinc/grapl/pipeline/v1beta2/types.proto
  src/rust/rust-proto/src/graplinc/grapl/pipeline/v1beta2.rs
  src/rust/rust-proto/src/lib.rs
Due: none

Change PutExecute to PushExecute; add plugin_id and tenant_id to some messages
  src/proto/graplinc/grapl/api/plugin_work_queue/v1beta1/plugin_work_queue.proto
  src/rust/generator-dispatcher/src/main.rs
  src/rust/plugin-work-queue/src/server.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1_client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1_server.rs
  src/rust/rust-proto/tests/proto_serde_tests.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: none

Fully remove tenant_id from plugin-work-queue
  src/proto/graplinc/grapl/api/plugin_work_queue/v1beta1/plugin_work_queue.proto
  src/rust/Cargo.lock
  src/rust/generator-dispatcher/src/main.rs
  src/rust/generator-dispatcher/tests/generator_dispatcher_integration_tests.rs
  src/rust/plugin-executor/Cargo.toml
  src/rust/plugin-executor/generator-executor.rs
  src/rust/plugin-work-queue/migrations/20220706222615_remove_tenant_id.sql
  src/rust/plugin-work-queue/sqlx-data.json
  src/rust/plugin-work-queue/src/psql_queue.rs
  src/rust/plugin-work-queue/src/server.rs
  src/rust/plugin-work-queue/src/test_utils.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Move the plugin-executor into sidecar, not grapl-core
  nomad/grapl-core.nomad
  src/rust/Cargo.lock
  src/rust/plugin-executor/Cargo.toml
  src/rust/plugin-executor/generator-executor.rs
  src/rust/plugin-executor/src/generator_client.rs
  src/rust/plugin-executor/src/lib.rs
  src/rust/plugin-registry/src/server/deploy_plugin.rs
  src/rust/plugin-registry/src/server/service.rs
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
  src/rust/plugin-registry/src/static_files/plugin.nomad
  src/rust/plugin-sdk/generator-sdk/src/client.rs
  src/rust/plugin-sdk/generator-sdk/src/client_config.rs
  src/rust/plugin-sdk/generator-sdk/src/lib.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1/client.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

figure out the nomad upstream addr dynamically
  src/rust/plugin-executor/src/generator_client.rs
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/src/lib.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

remove the identity stuff; add logging to example generator
  src/rust/Cargo.lock
  src/rust/plugin-sdk/generator-sdk/Cargo.toml
  src/rust/plugin-sdk/generator-sdk/src/examples/example_generator.rs
  src/rust/plugin-sdk/generator-sdk/src/server.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1/server.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Upgrade to 3.10.5 since pyenv 2.3.2 supports it
  .python-version
Due: none

Update builddocs script for pants python not code python
  docs/build_docs.sh
Due: none

Autoupgrade pyenv with chromeos script
  etc/chromeos/lib/installs.sh
Due: none

Set all python tools to use unique lockfiles
  3rdparty/python/black.lockfile
  3rdparty/python/coveragepy.lockfile
  3rdparty/python/flake8.lockfile
  3rdparty/python/ipython.lockfile
  3rdparty/python/isort.lockfile
  3rdparty/python/mypy.lockfile
  3rdparty/python/pytest.lockfile
  3rdparty/python/pyupgrade.lockfile
  pants.toml
Due: none

Switch to using multiple lockfiles
  3rdparty/python/BUILD
  3rdparty/python/black.lockfile
  3rdparty/python/grapl.lockfile
  3rdparty/python/ipython.lockfile
  3rdparty/python/isort.lockfile
  3rdparty/python/pantsplugin.lockfile
  3rdparty/python/pytest.lockfile
  pants-plugins/BUILD
  pants.toml
Due: none

Update build-docs to work with lockfiles
  docs/build_docs.sh
Due: none

Remove the requirements.txt file now that we've migrated to lockfiles
  3rdparty/python/requirements.txt
Due: none

Change file from requirements.txt to constraints.txt
  docs/build_docs.sh
  docs/constraints.txt
Due: none

Switch BUILD to use constraints file
  3rdparty/python/BUILD
  3rdparty/python/grapl.lockfile
Due: none

Generate lockfile for build-docs
  3rdparty/python/builddocs.lockfile
  docs/BUILD
  pants.toml
Due: none

Tryna debug this shiz
  src/rust/plugin-registry/src/server/deploy_plugin.rs
  src/rust/plugin-registry/src/server/service.rs
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1/client.rs
Due: none

Remove regenerate_constraints check from pipeline
  .buildkite/pipeline.verify.yml
  .buildkite/scripts/ensure_regenerated_constraints.sh
Due: none

Remove unused pants-plugin code
  pants-plugins/BUILD
  pants-plugins/grapl_setup_py/BUILD
  pants-plugins/grapl_setup_py/grapl_setupargs.py
  pants-plugins/grapl_setup_py/register.py
  pants-plugins/macros.py
Due: none

Remove refernces to pants-plugin
  .github/CODEOWNERS
  build-support/editor_setup.py
  pants.toml
Due: none

Remove reference to grapl_setup
  pants.toml
Due: none

Remove unnecessary logging stuff
  src/rust/plugin-executor/src/generator_client.rs
  src/rust/plugin-registry/src/static_files/hax_docker_plugin.nomad
Due: none
