Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit, :pipeline: Upload Cargo Udeps

:pipeline: Upload Cargo Audit:
  label: ':pipeline: Upload Cargo Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload NPM Audit:
  label: ':pipeline: Upload NPM Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.npm-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Yarn Audit:
  label: ':pipeline: Upload Yarn Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.yarn-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Cargo Udeps:
  label: ':pipeline: Upload Cargo Udeps'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-udeps.sh | buildkite-agent pipeline upload

Add automatic retries to the firecracker steps
  .buildkite/pipeline.merge.yml
Due: none

Test adding a default aws region
  nomad/rust-integration-tests.nomad
Due: none

Test where its failing
  src/rust/node-identifier/tests/sessiondb_integration_tests.rs
Due: none

Fix typo
  src/rust/node-identifier/tests/sessiondb_integration_tests.rs
Due: none

Clean up protobufs and rust-proto
  src/proto/graplinc/grapl/api/graph_query_service/v1beta1/graph_query_service.proto
  src/proto/graplinc/grapl/api/lens_manager/v1beta1/lens_manager.proto
  src/proto/graplinc/grapl/api/lens_subscription_service/v1beta1/lens_subscription_service.proto
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/engagement-creator/Cargo.toml
  src/rust/engagement-creator/src/config.rs
  src/rust/engagement-creator/src/main.rs
  src/rust/engagement-creator/src/service.rs
  src/rust/generators/osquery-generator/src/main.rs
  src/rust/generators/sysmon-generator/src/main.rs
  src/rust/graph-query-service/Cargo.toml
  src/rust/graph-query-service/src/config.rs
  src/rust/graph-query-service/src/graph_query.rs
  src/rust/graph-query-service/src/lib.rs
  src/rust/graph-query-service/src/main.rs
  src/rust/graph-query-service/src/node_query.rs
  src/rust/graph-query-service/src/node_view.rs
  src/rust/graph-query-service/src/server.rs
  src/rust/lens-creator/src/main.rs
  src/rust/lens-creator/src/service.rs
  src/rust/lens-manager/Cargo.toml
  src/rust/lens-manager/src/config.rs
  src/rust/lens-manager/src/server.rs
  src/rust/lens-subscriptions/sqlx-data.json
  src/rust/node-identifier/src/main.rs
  src/rust/rust-proto/Cargo.toml
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_service/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_service/v1beta1/mod.rs
  src/rust/rust-proto/src/graplinc/grapl/api/lens_manager/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/lens_manager/v1beta1/server.rs
  src/rust/rust-proto/src/graplinc/grapl/api/lens_subscription_service/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/lens_subscription_service/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/lens_subscription_service/v1beta1/server.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/mod.rs
  src/rust/uid-allocator/src/main.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

cleaner error handling
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1_client.rs
Due: none

flatten error handling in main loop
  src/rust/generator-dispatcher/src/lib.rs
Due: none

Internal 975 generator dispatcher (#1812)
  .github/CODEOWNERS
  docker-bake.hcl
  nomad/grapl-core.nomad
  pulumi/grapl/__main__.py
  pulumi/infra/kafka.py
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/generator-dispatcher/Cargo.toml
  src/rust/generator-dispatcher/src/config.rs
  src/rust/generator-dispatcher/src/generator_ids_cache.rs
  src/rust/generator-dispatcher/src/lib.rs
  src/rust/generator-dispatcher/src/main.rs
  src/rust/generators/sysmon-generator/src/main_legacy.rs
  src/rust/graph-merger/src/main.rs
  src/rust/graph-merger/tests/integration_test.rs
  src/rust/kafka-retry/Cargo.toml
  src/rust/kafka-retry/src/main.rs
  src/rust/kafka/src/config.rs
  src/rust/kafka/src/lib.rs
  src/rust/node-identifier/src/main.rs
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/pipeline-ingress/tests/integration_test.rs
  src/rust/plugin-registry/src/error.rs
  src/rust/plugin-registry/src/server/service.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_registry/v1beta1_client.rs
  src/rust/rust-proto/src/protocol/status.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Fix main tracing issue
  src/rust/grapl-tracing/src/setup_tracing.rs
Due: none

fix error in grapl-tracing and upgrade some deps
  src/rust/Cargo.lock
  src/rust/grapl-tracing/Cargo.toml
  src/rust/grapl-tracing/src/setup_tracing.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

fix generator-dispatcher-retry
  nomad/grapl-core.nomad
Due: none

format-hcl
  nomad/grapl-core.nomad
Due: none

fix error in grapl-tracing and upgrade some deps (#1824)
  nomad/grapl-core.nomad
  src/rust/Cargo.lock
  src/rust/grapl-tracing/Cargo.toml
  src/rust/grapl-tracing/src/setup_tracing.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

I got my topic hack working
  src/rust/kafka/src/config.rs
Due: none

Flesh out with_topic et al
  src/rust/kafka/src/config.rs
Due: none

formatting
  nomad/grapl-core.nomad
  nomad/rust-integration-tests.nomad
  src/proto/graplinc/grapl/api/plugin_work_queue/v1beta1/plugin_work_queue.proto
Due: none

ugh trys and maps
  src/proto/graplinc/grapl/api/plugin_work_queue/v1beta1/plugin_work_queue.proto
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
Due: none

Plugin Work Queue will now produce messages onto the generated-graphs Kafka topic
  nomad/grapl-core.nomad
  pulumi/grapl/__main__.py
  src/rust/Cargo.lock
  src/rust/kafka/src/config.rs
  src/rust/plugin-work-queue/Cargo.toml
  src/rust/plugin-work-queue/src/kafka_produce.rs
  src/rust/plugin-work-queue/src/lib.rs
  src/rust/plugin-work-queue/src/main.rs
  src/rust/plugin-work-queue/src/server.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Fix up the integration tests and consumer topic name stuff
  nomad/rust-integration-tests.nomad
  src/rust/graph-merger/tests/integration_test.rs
  src/rust/kafka/src/config.rs
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/pipeline-ingress/tests/integration_test.rs
Due: none

Change the protos so you can do the Kafka stuff
  src/proto/graplinc/grapl/api/plugin_work_queue/v1beta1/plugin_work_queue.proto
  src/rust/plugin-execution-sidecar/src/plugin_executor.rs
  src/rust/plugin-execution-sidecar/src/work/generator_work_processor.rs
  src/rust/plugin-work-queue/src/server.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: none

Jesse comments
  nomad/grapl-core.nomad
  src/rust/kafka/src/config.rs
  src/rust/plugin-work-queue/src/main.rs
Due: none

rebase woops
  src/rust/kafka/src/config.rs
Due: none

Plugin Work Queue will now write GraphDescriptions to topic "generated-graphs" (#1814)
  nomad/grapl-core.nomad
  nomad/rust-integration-tests.nomad
  pulumi/grapl/__main__.py
  src/proto/graplinc/grapl/api/plugin_work_queue/v1beta1/plugin_work_queue.proto
  src/rust/Cargo.lock
  src/rust/graph-merger/tests/integration_test.rs
  src/rust/kafka/src/config.rs
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/pipeline-ingress/tests/integration_test.rs
  src/rust/plugin-execution-sidecar/src/plugin_executor.rs
  src/rust/plugin-execution-sidecar/src/work/generator_work_processor.rs
  src/rust/plugin-work-queue/Cargo.toml
  src/rust/plugin-work-queue/src/kafka_produce.rs
  src/rust/plugin-work-queue/src/lib.rs
  src/rust/plugin-work-queue/src/main.rs
  src/rust/plugin-work-queue/src/server.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_work_queue/v1beta1.rs
  src/rust/rust-proto/tests/test_utils/strategies.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Add Sign In With Google to grapl-web-ui.
  nomad/grapl-core.nomad
  nomad/rust-integration-tests.nomad
  pulumi/grapl/__main__.py
  pulumi/rust_integration_tests/__main__.py
  src/js/engagement_view/package.json
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
  src/js/engagement_view/src/components/login/Login.tsx
  src/js/engagement_view/src/index.tsx
  src/js/engagement_view/src/services/login/signInWIthGoogleService.tsx
  src/js/engagement_view/yarn.lock
  src/python/provisioner/provisioner/app.py
  src/rust/Cargo.lock
  src/rust/Dockerfile
  src/rust/grapl-web-ui/Cargo.toml
  src/rust/grapl-web-ui/src/authn.rs
  src/rust/grapl-web-ui/src/authn/authenticated_user.rs
  src/rust/grapl-web-ui/src/authn/dynamodb.rs
  src/rust/grapl-web-ui/src/authn/dynamodb_client.rs
  src/rust/grapl-web-ui/src/authn/error.rs
  src/rust/grapl-web-ui/src/authn/mod.rs
  src/rust/grapl-web-ui/src/authn/password.rs
  src/rust/grapl-web-ui/src/authn/role.rs
  src/rust/grapl-web-ui/src/authn/session.rs
  src/rust/grapl-web-ui/src/authn/user.rs
  src/rust/grapl-web-ui/src/authn/web_authenticator.rs
  src/rust/grapl-web-ui/src/config.rs
  src/rust/grapl-web-ui/src/lib.rs
  src/rust/grapl-web-ui/src/main.rs
  src/rust/grapl-web-ui/src/routes/login.rs
  src/rust/grapl-web-ui/src/services/graphql.rs
  src/rust/grapl-web-ui/src/services/model_plugin_deployer.rs
  src/rust/grapl-web-ui/tests/api/check_login.rs
  src/rust/grapl-web-ui/tests/api/main.rs
  src/rust/grapl-web-ui/tests/api/test_app.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit, :pipeline: Upload Cargo Udeps

fix up generator dispatcher
  src/rust/generator-dispatcher/tests/generator_dispatcher_integration_tests.rs
  src/rust/generator-dispatcher/tests/test_utils/context.rs
Due: none

Change them to use a str not socketaddr
  src/rust/rust-proto-clients/src/event_source.rs
  src/rust/rust-proto-clients/src/generator.rs
  src/rust/rust-proto-clients/src/grpc_client.rs
  src/rust/rust-proto-clients/src/grpc_client_config.rs
  src/rust/rust-proto-clients/src/organization_management.rs
  src/rust/rust-proto-clients/src/pipeline_ingress.rs
  src/rust/rust-proto-clients/src/plugin_bootstrap.rs
  src/rust/rust-proto-clients/src/plugin_registry.rs
  src/rust/rust-proto-clients/src/plugin_work_queue.rs
Due: none

Into becomes From
  src/rust/rust-proto-clients/src/services/event_source.rs
  src/rust/rust-proto-clients/src/services/generator.rs
  src/rust/rust-proto-clients/src/services/organization_management.rs
  src/rust/rust-proto-clients/src/services/pipeline_ingress.rs
  src/rust/rust-proto-clients/src/services/plugin_bootstrap.rs
  src/rust/rust-proto-clients/src/services/plugin_registry.rs
  src/rust/rust-proto-clients/src/services/plugin_work_queue.rs
Due: none

ensure http
  src/rust/rust-proto-clients/src/grpc_client.rs
Due: none

My work here is done
  src/rust/Cargo.lock
  src/rust/generator-dispatcher/Cargo.toml
  src/rust/generator-dispatcher/src/generator_ids_cache.rs
  src/rust/generator-dispatcher/src/lib.rs
  src/rust/generator-dispatcher/src/main.rs
  src/rust/graph-merger/Cargo.toml
  src/rust/graph-merger/tests/integration_test.rs
  src/rust/node-identifier/Cargo.toml
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/organization-management/Cargo.toml
  src/rust/organization-management/tests/test_create_organization.rs
  src/rust/organization-management/tests/test_create_user.rs
  src/rust/pipeline-ingress/tests/integration_test.rs
  src/rust/plugin-bootstrap/Cargo.toml
  src/rust/plugin-bootstrap/src/plugin_bootstrap_init.rs
  src/rust/plugin-execution-sidecar/Cargo.toml
  src/rust/plugin-execution-sidecar/src/plugin_executor.rs
  src/rust/plugin-execution-sidecar/src/sidecar_client/generator_client.rs
  src/rust/plugin-execution-sidecar/src/work/generator_work_processor.rs
  src/rust/plugin-execution-sidecar/src/work/plugin_work_processor.rs
  src/rust/plugin-registry/tests/test_create_plugin.rs
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
  src/rust/plugin-registry/tests/test_get_generators_for_event_source.rs
  src/rust/rust-proto-clients/src/generator.rs
  src/rust/rust-proto-clients/src/grpc_client_config.rs
  src/rust/rust-proto-clients/src/lib.rs
  src/rust/rust-proto/src/graplinc/grapl/api/organization_management/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_bootstrap/v1beta1.rs
  src/rust/rust-proto/src/graplinc/grapl/api/plugin_sdk/generators/v1beta1/client.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Another big refactor, introduce GenericGrpcClientConfig
  src/rust/event-source/tests/test_crud_event_source.rs
  src/rust/generator-dispatcher/src/generator_ids_cache.rs
  src/rust/generator-dispatcher/src/main.rs
  src/rust/graph-merger/tests/integration_test.rs
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/organization-management/tests/test_create_organization.rs
  src/rust/organization-management/tests/test_create_user.rs
  src/rust/pipeline-ingress/tests/integration_test.rs
  src/rust/plugin-bootstrap/src/plugin_bootstrap_init.rs
  src/rust/plugin-execution-sidecar/src/plugin_executor.rs
  src/rust/plugin-execution-sidecar/src/sidecar_client/generator_client.rs
  src/rust/plugin-registry/tests/test_create_plugin.rs
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
  src/rust/plugin-registry/tests/test_get_generators_for_event_source.rs
  src/rust/plugin-sdk/generator-sdk/src/test_utils/test_ctx.rs
  src/rust/rust-proto-clients/src/grpc_client.rs
  src/rust/rust-proto-clients/src/grpc_client_config.rs
  src/rust/rust-proto-clients/src/lib.rs
  src/rust/rust-proto-clients/src/services.rs
  src/rust/rust-proto-clients/src/services/event_source.rs
  src/rust/rust-proto-clients/src/services/generator.rs
  src/rust/rust-proto-clients/src/services/organization_management.rs
  src/rust/rust-proto-clients/src/services/pipeline_ingress.rs
  src/rust/rust-proto-clients/src/services/plugin_bootstrap.rs
  src/rust/rust-proto-clients/src/services/plugin_registry.rs
  src/rust/rust-proto-clients/src/services/plugin_work_queue.rs
Due: none

My work here is done
  src/rust/rust-proto-clients/src/organization_management.rs
  src/rust/rust-proto-clients/src/plugin_bootstrap.rs
Due: none

I think this one should work
  src/rust/plugin-sdk/generator-sdk/src/test_utils/test_ctx.rs
  src/rust/rust-proto-clients/src/grpc_client.rs
Due: none

- Refactor route management. - Remove unused MPD upstream.
  nomad/grapl-core.nomad
  nomad/rust-integration-tests.nomad
  src/js/engagement_view/src/components/login/Login.tsx
  src/js/engagement_view/src/services/constants.ts
  src/js/engagement_view/src/services/login/loginService.tsx
  src/js/engagement_view/src/setupProxy.js
  src/js/graphql_endpoint/server.ts
  src/python/grapl-tests-common/grapl_tests_common/clients/graphql_endpoint_client.py
  src/python/grapl-tests-common/grapl_tests_common/clients/grapl_web_client.py
  src/rust/grapl-web-ui/src/config.rs
  src/rust/grapl-web-ui/src/graphql.rs
  src/rust/grapl-web-ui/src/lib.rs
  src/rust/grapl-web-ui/src/routes.rs
  src/rust/grapl-web-ui/src/routes/api.rs
  src/rust/grapl-web-ui/src/routes/api/auth.rs
  src/rust/grapl-web-ui/src/routes/api/auth/check_login.rs
  src/rust/grapl-web-ui/src/routes/api/auth/sign_in_with_google.rs
  src/rust/grapl-web-ui/src/routes/api/auth/sign_in_with_password.rs
  src/rust/grapl-web-ui/src/routes/api/graphql.rs
  src/rust/grapl-web-ui/src/routes/login.rs
  src/rust/grapl-web-ui/src/routes/mod.rs
  src/rust/grapl-web-ui/src/services/graphql.rs
  src/rust/grapl-web-ui/src/services/model_plugin_deployer.rs
  src/rust/grapl-web-ui/tests/api/check_login.rs
Due: none

Add initial db schema manager
  src/proto/graplinc/grapl/api/db_schema_manager/v1beta1/db_schema_manager.proto
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/db-schema-manager/Cargo.toml
  src/rust/db-schema-manager/src/main.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

disable healthchecks in main services per colin request; keep it in integ-tests
  src/rust/Cargo.lock
  src/rust/event-source/tests/test_crud_event_source.rs
  src/rust/generator-dispatcher/Cargo.toml
  src/rust/generator-dispatcher/tests/test_utils/context.rs
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/organization-management/tests/test_create_user.rs
  src/rust/plugin-execution-sidecar/Cargo.toml
  src/rust/plugin-registry/Cargo.toml
  src/rust/plugin-registry/src/server/service.rs
  src/rust/plugin-registry/tests/test_create_plugin.rs
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
  src/rust/plugin-registry/tests/test_get_generators_for_event_source.rs
  src/rust/plugin-sdk/generator-sdk/src/test_utils/test_ctx.rs
  src/rust/rust-proto-clients/src/grpc_client.rs
  src/rust/rust-proto-clients/src/lib.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

one more
  src/rust/pipeline-ingress/tests/integration_test.rs
Due: none

Clean up warnings
  src/rust/graph-merger/src/main.rs
  src/rust/graph-merger/src/service.rs
  src/rust/lens-creator/src/main.rs
  src/rust/lens-manager/src/server.rs
  src/rust/node-identifier/src/error.rs
Due: none

CODEOWNERS
  .github/CODEOWNERS
Due: none

Refactor the healthcheck stuff into the GetGrpcClientOptions
  src/rust/event-source/tests/test_crud_event_source.rs
  src/rust/generator-dispatcher/tests/test_utils/context.rs
  src/rust/node-identifier/tests/integration_test.rs
  src/rust/organization-management/tests/test_create_user.rs
  src/rust/pipeline-ingress/tests/integration_test.rs
  src/rust/plugin-execution-sidecar/src/sidecar_client/generator_client.rs
  src/rust/plugin-registry/tests/test_create_plugin.rs
  src/rust/plugin-registry/tests/test_deploy_plugin.rs
  src/rust/plugin-registry/tests/test_get_generators_for_event_source.rs
  src/rust/plugin-sdk/generator-sdk/src/test_utils/test_ctx.rs
  src/rust/rust-proto-clients/src/grpc_client.rs
  src/rust/rust-proto-clients/src/grpc_client_config.rs
  src/rust/rust-proto-clients/src/services/event_source.rs
  src/rust/rust-proto-clients/src/services/generator.rs
  src/rust/rust-proto-clients/src/services/organization_management.rs
  src/rust/rust-proto-clients/src/services/pipeline_ingress.rs
  src/rust/rust-proto-clients/src/services/plugin_bootstrap.rs
  src/rust/rust-proto-clients/src/services/plugin_registry.rs
  src/rust/rust-proto-clients/src/services/plugin_work_queue.rs
Due: none

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
  :pipeline: Upload Cargo Udeps: any of: **/Cargo.toml, **/Cargo.lock
