Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit, :pipeline: Upload Cargo Udeps

:pipeline: Upload Cargo Audit:
  label: ':pipeline: Upload Cargo Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload NPM Audit:
  label: ':pipeline: Upload NPM Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.npm-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Yarn Audit:
  label: ':pipeline: Upload Yarn Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.yarn-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Cargo Udeps:
  label: ':pipeline: Upload Cargo Udeps'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-udeps.sh | buildkite-agent pipeline upload

working integration tests, formatting
  docker-compose.yml
  nomad/typescript-integration-tests.nomad
  pulumi/typescript_integration_tests/__main__.py
  src/js/frontend/.eslintrc.json
  src/js/frontend/package.json
  src/js/frontend/src/components/login/Login.tsx
  src/js/frontend/src/components/login/LoginForm.tsx
  src/js/frontend/src/components/tests/integrationTests/Login.test.tsx
  src/js/frontend/src/components/tests/unitTests/LoginUnit.test.tsx
  src/js/frontend/src/routes/routes.tsx
  src/js/frontend/src/setupTests.ts
  src/js/frontend/tsconfig.json
  src/js/frontend/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Remove topics from Kafka bootstrap ingestion
  pulumi/infra/kafka.py
Due: none

Rebase
  src/proto/graplinc/grapl/api/graph_query/v1beta1/graph_query.proto
  src/rust/graph-query/src/node_query.rs
  src/rust/graph-query/src/property_query.rs
  src/rust/graph-query/src/visited.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query/v1beta1/messages.rs
Due: none

Finish up graph query proxy stuff
  src/rust/Cargo.lock
  src/rust/graph-query-proxy/src/main.rs
  src/rust/graph-query-proxy/src/server.rs
  src/rust/rust-proto/src/client_factory/services.rs
  src/rust/rust-proto/src/client_factory/services/graph_query_proxy.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/server.rs
  src/rust/rust-proto/src/lib.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Remove unused defaults. We should only have defaults in one area
  pulumi/infra/observability_env_vars.py
Due: none

Add hostname to the tracing tags
  nomad/grapl-core.nomad
  nomad/grapl-graph-db.nomad
  nomad/grapl-provision.nomad
Due: none

made the horrifying discovery i cant mix and match requests and responses
  src/proto/graplinc/grapl/api/graph_query_proxy/v1beta1/graph_query_proxy.proto
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/analyzer.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/analyzer_context.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/query_and_views.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/service_impl.py
  src/python/python-proto/python_proto/api/graph_query_proxy/__init__.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/__init__.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/client.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/test_api_analyzers.py
  src/python/python-proto/python_proto/tests/test_api_graph_query_proxy.py
Due: none

ifjdisfjdsoif
  src/proto/graplinc/grapl/api/graph_query_proxy/v1beta1/graph_query_proxy.proto
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/client.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/test_api_graph_query_proxy.py
  src/rust/graph-query-proxy/src/server.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/server.rs
Due: none

Update Toolchain Plugin to 0.24.0
  pants.toml
Due: none

typechecks
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/analyzer.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/analyzer_context.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/query_and_views.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/service_impl.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/client.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/messages.py
Due: none

remove GraphQuery client from python
  src/python/python-proto/python_proto/api/graph_query/v1beta1/client.py
Due: none

remove unused import
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/messages.py
Due: none

formatting
  src/js/frontend/BUILD
  src/js/frontend/src/components/login/Login.tsx
  src/js/frontend/src/components/login/LoginForm.tsx
  src/js/frontend/src/components/tests/integrationTests/Login.test.tsx
  src/js/frontend/src/components/tests/unitTests/LoginUnit.test.tsx
  src/rust/Cargo.lock
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

use absolute path for frontend in docker file
  src/js/frontend/Dockerfile
Due: none

add typescript integration tests to buildkite
  .buildkite/pipeline.verify.yml
Due: none

remove extra -
  .buildkite/pipeline.verify.yml
Due: none

fix some missing field strings
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/messages.rs
Due: none

Graph query proxy has its own service definition and tenant-id-less messages. (#2040)
  src/proto/graplinc/grapl/api/graph_query_proxy/v1beta1/graph_query_proxy.proto
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/analyzer.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/analyzer_context.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/query_and_views.py
  src/python/grapl-plugin-sdk/grapl_plugin_sdk/analyzer/service_impl.py
  src/python/python-proto/python_proto/api/graph_query_proxy/__init__.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/__init__.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/client.py
  src/python/python-proto/python_proto/api/graph_query_proxy/v1beta1/messages.py
  src/python/python-proto/python_proto/tests/test_api_analyzers.py
  src/python/python-proto/python_proto/tests/test_api_graph_query_proxy.py
  src/rust/Cargo.lock
  src/rust/graph-query-proxy/src/main.rs
  src/rust/graph-query-proxy/src/server.rs
  src/rust/rust-proto/src/client_factory/services.rs
  src/rust/rust-proto/src/client_factory/services/graph_query_proxy.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/client.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/messages.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/mod.rs
  src/rust/rust-proto/src/graplinc/grapl/api/graph_query_proxy/v1beta1/server.rs
  src/rust/rust-proto/src/lib.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

add typescript integration tests to pipeline verify
  pulumi/typescript_integration_tests/Pulumi.testing.yaml
Due: none

remove duplicate env files
  .buildkite/pipeline.merge.yml
  .buildkite/pipeline.provision.yml
  .buildkite/pipeline.testing.yml
  .buildkite/pipeline.verify.yml
Due: none

remove extra character
  .buildkite/pipeline.verify.yml
Due: none

add typescript integration tests to pipeline verify
  .buildkite/pipeline.verify.yml
Due: none

formatting
  .buildkite/pipeline.provision.yml
  .buildkite/pipeline.verify.yml
  pulumi/typescript_integration_tests/__main__.py
Due: none

update working directoryi n docker file
  src/js/frontend/Dockerfile
Due: none

formatting & update integration test target
  src/js/frontend/Dockerfile
  src/js/frontend/README.md
  src/js/frontend/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Use our `python_version.sh` script everywhere
  Makefile
Due: none

Extract `GraplStack` to a shared class
  pulumi/infra/grapl_stack.py
  pulumi/python_integration_tests/__main__.py
  pulumi/rust_integration_tests/__main__.py
Due: none

Resurrect WriteDropper using Moka cache
  src/rust/Cargo.lock
  src/rust/graph-mutation/Cargo.toml
  src/rust/graph-mutation/src/graph_mutation.rs
  src/rust/graph-mutation/src/write_dropper.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

node type test
  src/rust/graph-mutation/src/write_dropper.rs
Due: none

check edges
  src/rust/Cargo.toml
  src/rust/graph-mutation/Cargo.toml
  src/rust/graph-mutation/src/write_dropper.rs
  src/rust/node-identifier/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

better test name i guess
  src/rust/graph-mutation/src/write_dropper.rs
Due: none

Rename `confluent-cloud-py` to `confluent-cloud`
  pulumi/infra/kafka.py
Due: none

Resurrect graph-mutation's write-drop behavior. (#2047)
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/graph-mutation/Cargo.toml
  src/rust/graph-mutation/src/graph_mutation.rs
  src/rust/graph-mutation/src/write_dropper.rs
  src/rust/node-identifier/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Remove the last traces of dashmap from graph-mutation
  src/rust/Cargo.lock
  src/rust/graph-mutation/Cargo.toml
  src/rust/graph-mutation/src/reverse_edge_resolver.rs
  src/rust/graph-mutation/src/write_dropper.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Remove the last traces of dashmap from graph-mutation (#2049)
  src/rust/Cargo.lock
  src/rust/graph-mutation/Cargo.toml
  src/rust/graph-mutation/src/reverse_edge_resolver.rs
  src/rust/graph-mutation/src/write_dropper.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Enable processors in tracing and metrics pipelines
  pulumi/infra/observability_env_vars.py
Due: none

PR comments
  .buildkite/pipeline.provision.yml
  .buildkite/pipeline.testing.yml
  .buildkite/pipeline.verify.yml
  docker-bake.hcl
  nomad/typescript-integration-tests.nomad
Due: none

pr comments & fix formatting
  docker-bake.hcl
  nomad/typescript-integration-tests.nomad
Due: none

workspace dependencies for all three opentelemetry things
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/grapl-tracing/Cargo.toml
  src/rust/uid-allocator/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

Scrape the Nomad agent for metrics
  pulumi/grapl/__main__.py
  pulumi/infra/observability_env_vars.py
Due: none

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
  :pipeline: Upload Cargo Udeps: any of: **/Cargo.toml, **/Cargo.lock
