Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit, :pipeline: Upload Cargo Udeps

:pipeline: Upload Cargo Audit:
  label: ':pipeline: Upload Cargo Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload NPM Audit:
  label: ':pipeline: Upload NPM Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.npm-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Yarn Audit:
  label: ':pipeline: Upload Yarn Audit'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.yarn-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Cargo Udeps:
  label: ':pipeline: Upload Cargo Udeps'
  group: ':lock_with_ink_pen: Dependency Audits'
  command: .buildkite/pipeline.cargo-udeps.sh | buildkite-agent pipeline upload

event_source_id must be absent if PluginType::Analyzer
  src/rust/plugin-registry/tests/test_list_plugins.rs
Due: none

break out generator_ids_cache into a library called async-cache
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/async-cache/Cargo.toml
  src/rust/async-cache/src/lib.rs
  src/rust/generator-dispatcher/Cargo.toml
  src/rust/generator-dispatcher/src/generator_ids_cache.rs
  src/rust/generator-dispatcher/src/lib.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

lints and codeowners
  .github/CODEOWNERS
  src/rust/async-cache/Cargo.toml
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

add rudimentary async-cache unit test
  src/rust/async-cache/src/lib.rs
Due: none

it works, now to clean it up
  Makefile
  src/python/python-proto/python_proto/api/graph/v1beta1/messages.py
  src/python/python-proto/python_proto/common.py
  src/python/python-proto/python_proto/grapl/common/v1beta1/messages.py
  src/python/python-proto/python_proto/metrics.py
  src/python/python-proto/python_proto/pipeline.py
  src/python/python-proto/python_proto/serde.py
  src/python/python-proto/python_proto/tests/test_grapl_common.py
Due: none

It all works correctly huzzah
  src/python/python-proto/python_proto/common.py
  src/python/python-proto/python_proto/pipeline.py
  src/python/python-proto/python_proto/serde.py
  src/python/python-proto/python_proto/tests/helpers.py
Due: none

Revert makefile
  Makefile
Due: none

some cleanup
  src/python/python-proto/python_proto/common.py
Due: none

1. Add `graplinc/grapl/common/v1beta1/types.proto` to python-proto; 2. further genericize python-proto with SelfTypes (#1955)
  src/python/python-proto/python_proto/api/graph/v1beta1/messages.py
  src/python/python-proto/python_proto/common.py
  src/python/python-proto/python_proto/grapl/__init__.py
  src/python/python-proto/python_proto/grapl/common/__init__.py
  src/python/python-proto/python_proto/grapl/common/v1beta1/__init__.py
  src/python/python-proto/python_proto/grapl/common/v1beta1/messages.py
  src/python/python-proto/python_proto/metrics.py
  src/python/python-proto/python_proto/pipeline.py
  src/python/python-proto/python_proto/serde.py
  src/python/python-proto/python_proto/tests/helpers.py
  src/python/python-proto/python_proto/tests/test_grapl_common.py
Due: none

Set up passing in the dev lightstep endpoint
  pulumi/grapl/Pulumi.local-grapl.yaml
  pulumi/grapl/Pulumi.testing.yaml
  pulumi/grapl/__main__.py
  pulumi/infra/observability_env_vars.py
Due: none

WIP docs for Lightstep dev
  docs/development/observability.md
Due: none

Fix TLS error in Lightstep dev workflow
  pulumi/grapl/Pulumi.local-grapl.yaml
  pulumi/infra/observability_env_vars.py
Due: none

Update Lightstep dev docs
  docs/development/observability.md
Due: none

Pass in whether endpoint is secure instead of extrapolating it
  pulumi/grapl/Pulumi.local-grapl.yaml
  pulumi/grapl/__main__.py
  pulumi/infra/observability_env_vars.py
Due: none

Go from Mypy 0.910 to 0.960
  3rdparty/python/mypy.lockfile
  pants.toml
Due: none

Fix build-docs error
  docs/development/observability.md
Due: none

Please the mypy gods
  src/python/python-proto/python_proto/api/graph/v1beta1/messages.py
  src/python/python-proto/python_proto/common.py
  src/python/python-proto/python_proto/grapl/common/v1beta1/messages.py
  src/python/python-proto/python_proto/metrics.py
  src/python/python-proto/python_proto/pipeline.py
  src/python/python-proto/python_proto/serde.py
Due: none

Asdasdas
  pulumi/grapl/__main__.py
Due: none

Upgrade from Mypy 0.910 to 0.960 (#1957)
  3rdparty/python/mypy.lockfile
  pants.toml
  pulumi/grapl/__main__.py
  src/python/python-proto/python_proto/api/graph/v1beta1/messages.py
  src/python/python-proto/python_proto/common.py
  src/python/python-proto/python_proto/grapl/common/v1beta1/messages.py
  src/python/python-proto/python_proto/metrics.py
  src/python/python-proto/python_proto/pipeline.py
  src/python/python-proto/python_proto/serde.py
Due: none

Add lots - but not all - proto messages for analyzers to python-proto
  src/proto/graplinc/grapl/api/plugin_sdk/analyzers/v1beta1/analyzers.proto
  src/python/python-proto/python_proto/BUILD
  src/python/python-proto/python_proto/api/graph/__init__.py
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/__init__.py
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/__init__.py
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/messages.py
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/server.py
  src/python/python-proto/python_proto/serde.py
  src/python/python-proto/python_proto/tests/BUILD
  src/python/python-proto/python_proto/tests/strategies.py
  src/python/python-proto/python_proto/tests/test_api_analyzers.py
  src/python/python-proto/python_proto/tests/test_api_graph.py
  src/python/python-proto/python_proto/tests/test_grapl_common.py
Due: none

test_api is now test_api_graph
  src/python/python-proto/python_proto/tests/test_api.py
Due: none

remove prints
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/messages.py
Due: none

remove comment
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/messages.py
Due: none

Ugh remove MORE
  src/python/python-proto/python_proto/api/plugin_sdk/analyzers/v1beta1/messages.py
Due: none

used create react app to create the frontend. Set up Jest, TSConfig and other dependencies.
  src/js/frontend/.gitignore
  src/js/frontend/.prettierrc
  src/js/frontend/README.md
  src/js/frontend/package.json
  src/js/frontend/public/favicon.ico
  src/js/frontend/public/index.html
  src/js/frontend/public/logo192.png
  src/js/frontend/public/logo512.png
  src/js/frontend/public/manifest.json
  src/js/frontend/public/robots.txt
  src/js/frontend/src/App.css
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/App.tsx
  src/js/frontend/src/index.css
  src/js/frontend/src/index.tsx
  src/js/frontend/src/logo.svg
  src/js/frontend/src/react-app-env.d.ts
  src/js/frontend/src/reportWebVitals.ts
  src/js/frontend/src/setupTests.ts
  src/js/frontend/tsconfig.json
  src/js/frontend/tsconfig.paths.json
  src/js/frontend/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Add missing egress sg rule to postgres
  pulumi/infra/postgres.py
Due: none

Testing
  .buildkite/pipeline.verify.yml
Due: none

Fix typo that breaks scraping
  pulumi/infra/observability_env_vars.py
Due: none

Parse comma-delimited string to Vec for scylla addresses
  src/rust/graph-mutation/src/config.rs
  src/rust/scylla-provisioner/src/config.rs
Due: none

Open all ports for egress
  pulumi/infra/postgres.py
Due: none

initial eslint config
  src/js/frontend/.eslintrc.json
  src/js/frontend/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

set up prettier for linting, fix errors
  src/js/frontend/.eslintrc.json
  src/js/frontend/.prettierrc
  src/js/frontend/package.json
  src/js/frontend/src/App.tsx
  src/js/frontend/src/index.tsx
  src/js/frontend/src/reportWebVitals.ts
  src/js/frontend/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

enforce yarn as package manager, throw error if using npm
  src/js/frontend/.npmrc
  src/js/frontend/package.json
  src/js/frontend/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

clean up some log messages
  src/rust/generator-dispatcher/src/lib.rs
Due: none

add analyzer-dispatcher service
  .github/CODEOWNERS
  nomad/grapl-core.nomad
  pulumi/grapl/__main__.py
  pulumi/infra/kafka.py
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/Dockerfile
  src/rust/analyzer-dispatcher/Cargo.toml
  src/rust/analyzer-dispatcher/src/main.rs
  src/rust/analyzer-dispatcher/tests/analyzer_dispatcher_integration_tests.rs
  src/rust/e2e-tests/src/test_utils/context.rs
Due: :pipeline: Upload Cargo Audit, :pipeline: Upload Cargo Udeps

actually make an image >_>
  docker-bake.hcl
Due: none

add scanner for analyzer executions
  src/rust/analyzer-dispatcher/tests/analyzer_dispatcher_integration_tests.rs
  src/rust/plugin-work-queue/sqlx-data.json
  src/rust/plugin-work-queue/src/test_utils.rs
Due: none

add setup proxy, specify node & yarn version in package.json, yarn configurations
  src/js/frontend/.gitignore
  src/js/frontend/.npmrc
  src/js/frontend/.yarnrc
  src/js/frontend/package.json
  src/js/frontend/src/setupProxy.js
  src/js/frontend/tsconfig.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

run formatting
  src/js/frontend/.eslintrc.json
  src/js/frontend/src/App.test.tsx
  src/js/frontend/src/setupProxy.js
  src/js/frontend/src/setupTests.ts
  src/js/frontend/tsconfig.json
Due: none

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
  :pipeline: Upload Cargo Udeps: any of: **/Cargo.toml, **/Cargo.lock
