Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock

Fix up plugin registry backend service for the grapl-web-ui.
  nomad/grapl-core.nomad
  src/rust/grapl-web-ui/src/config.rs
  src/rust/grapl-web-ui/src/main.rs
  src/rust/grapl-web-ui/src/services/mod.rs
  src/rust/grapl-web-ui/src/services/plugin_registry.rs
Due: none

add cargo lock
  src/rust/Cargo.lock
Due: :pipeline: Upload Cargo Audit

Move the assertion to e2e tests
  .buildkite/pipeline.verify.yml
  .buildkite/scripts/assert_docker_context_size.sh
  .dockerignore
  src/.dockerignore
Due: none

Get the artifacts in plugin.nomad closer to actually working (#1593)
  firecracker/kernel/build.sh
  firecracker/rootfs/scripts/create_rootfs_image.sh
  pulumi/infra/firecracker_assets.py
  pulumi/infra/s3_url.py
  src/rust/grapl-config/src/env_helpers.rs
  src/rust/plugin-registry/src/server/deploy_plugin.rs
  src/rust/plugin-registry/src/server/mod.rs
  src/rust/plugin-registry/src/server/s3_url.rs
  src/rust/plugin-registry/src/static_files/plugin.nomad
Due: none

Remove ETH0 env var that's no longer used
  Makefile
  docker-compose.yml
Due: none

Describe size limit in MB. Automate get-all-docker-contexts.
  .buildkite/scripts/assert_docker_context_size.sh
Due: none

Collect failures instead of failing on first one
  .buildkite/scripts/assert_docker_context_size.sh
Due: none

Use globstar for dist/ things
  .dockerignore
Due: none

Correctly handle dist/**/*.pex
  .dockerignore
Due: none

remove commented out code
  nomad/grapl-core.nomad
  src/rust/grapl-web-ui/Cargo.toml
  src/rust/grapl-web-ui/src/services/plugin_registry.rs
Due: :pipeline: Upload Cargo Audit

work towards adding plugin registry to web-ui in nomad, abandoning for now
  nomad/grapl-core.nomad
  src/rust/grapl-web-ui/src/config.rs
  src/rust/grapl-web-ui/src/services/plugin_registry.rs
Due: none

Assert docker context size (#1594)
  .buildkite/pipeline.verify.yml
  .buildkite/scripts/assert_docker_context_size.sh
  .dockerignore
  src/.dockerignore
Due: none

Fix dgraph healthchecks with multiple nodes
  nomad/grapl-core.nomad
Due: none

Add clean command for dgraph images and volumes
  Makefile
Due: none

Update comments around docker volume prune
  Makefile
Due: none

Update which prebuilt rootfs/kernel we use for local-grapl
  pulumi/grapl/Pulumi.local-grapl.yaml
Due: none

Upgrade Localstack
  localstack/Dockerfile
Due: none

Much higher interval brings down startup time avg 61s to 53s
  nomad/local/grapl-local-infra.nomad
Due: none

Nomad Local Infra - deploy both simultaneously
  nomad/local/nomad_run_local_infra.sh
Due: none

Revert "Much higher interval brings down startup time avg 61s to 53s"
  nomad/local/grapl-local-infra.nomad
Due: none

alpha proxy tcp
  nomad/grapl-core.nomad
Due: none

Use docker volume to save dgraph data.
  nomad/grapl-core.nomad
Due: none

Use docker volume to save dgraph data.
  Makefile
  nomad/grapl-core.nomad
Due: none

HACKS: use e2e tests to upload dropper.xml. tests broken, i said hacks.
  etc/sample_data/dropper.xml
  nomad/e2e-tests.nomad
Due: none

Remove emotion
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Revert "Remove emotion"
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Remove gulp, remove history
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Remove react-async-hook, semantic-ui-react, three, typescript-formatter
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Move testing-library, types to devDependencies
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

update yarn.lock
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

Remove an unused import in index.tsx
  src/js/engagement_view/src/index.tsx
Due: none

Remove stardust-docs
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

remove minimist, prettier
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Apparently we do have to keep minimist
  src/js/engagement_view/package.json
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Auto-instrument browser code
  src/js/engagement_view/package.json
  src/js/engagement_view/src/App.tsx
  src/js/engagement_view/src/contexts/TraceContext.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

don't rm dist on make down.
  Makefile
Due: none

bind dgraph alpha grpc pub port 9080.
  nomad/grapl-core.nomad
Due: none

disable dnsmasq
  nomad/local/grapl-local-infra.nomad
Due: none

Use react-force-graph-2d which reduces static/js from 15mb to 5mb
  src/js/engagement_view/package.json
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Clear out grapl-web-ui/frontend after every build
  Makefile
Due: none
