Repository grapl-security/grapl: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload Cargo Audit, :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

:pipeline: Upload Cargo Audit:
  label: ':pipeline: Upload Cargo Audit'
  command: .buildkite/pipeline.cargo-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload NPM Audit:
  label: ':pipeline: Upload NPM Audit'
  command: .buildkite/pipeline.npm-audit.sh | buildkite-agent pipeline upload

:pipeline: Upload Yarn Audit:
  label: ':pipeline: Upload Yarn Audit'
  command: .buildkite/pipeline.yarn-audit.sh | buildkite-agent pipeline upload

Send source_map_explorer_result.html to CI artifacts
  .buildkite/pipeline.verify.yml
  .gitignore
  src/js/engagement_view/Makefile
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Updated Lockfile
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

Remove unnecessary pwds
  Makefile
  src/js/engagement_view/package.json
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Move gitignored engagement_view things from top-level gitignore
  .gitignore
  src/js/engagement_view/.gitignore
Due: none

Add link to ticket about weird placement of source-map-explorer
  .buildkite/pipeline.verify.yml
Due: none

Update artifacts Buildkite plugin version to v1.5.0
  .buildkite/pipeline.merge.promote.yml
  .buildkite/pipeline.merge.yml
  .buildkite/pipeline.provision.yml
Due: none

Update docker Buildkite plugin version to v3.12.0
  .buildkite/pipeline.verify.yml
Due: none

Updated Rust to 1.60.0
  .buildkite/pipeline.verify.yml
  src/rust/rust-toolchain.toml
Due: none

Updated nightly rustfmt toolchain to 'nightly-2022-04-06'
  src/rust/bin/format
Due: none

Set up basic CNI networking stuff
  firecracker/cni/BUILD
  firecracker/cni/README.md
  firecracker/cni/build.sh
  firecracker/cni/fctenantplugin.conflist
  src/rust/plugin-registry/src/static_files/plugin.nomad
Due: none

Address `clippy::needless-question-mark` violation
  src/rust/sqs-executor/src/rusoto_helpers.rs
Due: none

Add tc-redirect-tap CNI plugin
  etc/chromeos/lib/installs.sh
  etc/chromeos/setup_optional_tools.sh
Due: none

Enforce nomad var requirements with custom validation
  nomad/grapl-core.nomad
Due: none

Remove react component tracing
  src/js/engagement_view/package.json
  src/js/engagement_view/src/App.tsx
  src/js/engagement_view/src/contexts/TraceContext.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload NPM Audit, :pipeline: Upload Yarn Audit

Expand the size of our rootfs image
  firecracker/rootfs/build-rootfs.pkr.hcl
Due: none

Idempotent setup_chromeos rust stuff
  etc/chromeos/lib/installs.sh
Due: none

Upgrade NVM
  etc/chromeos/lib/installs.sh
Due: none

Add an extra --yes
  etc/chromeos/lib/installs.sh
Due: none

Add a universal FORCE_REINSTALL flag; hide pyenv behind this flag
  etc/chromeos/lib/installs.sh
Due: none

hide AWSCLI and carog install sqlx behind force_reinstall check
  etc/chromeos/lib/installs.sh
Due: none

Put docker behind force_reinstall flag
  etc/chromeos/lib/installs.sh
Due: none

format
  etc/chromeos/lib/installs.sh
Due: none

Add cargo_install flags; add a should_reinstall check to rustup
  etc/chromeos/lib/installs.sh
Due: none

Standardize on command -v checks for rustup too
  etc/chromeos/lib/installs.sh
Due: none

spell rustup correctly
  etc/chromeos/lib/installs.sh
Due: none

etc/chromeos/lib/installs.sh - stop reinstalling existing stuff unless FORCE_REINSTALL=1 (#1610)
  etc/chromeos/lib/installs.sh
Due: none

Make NVM install work on Gitpod
  etc/chromeos/lib/installs.sh
Due: none

Make NVM install work on Gitpod (#1611)
  etc/chromeos/lib/installs.sh
Due: none

hold
  etc/local_grapl/dropper/main.py
  etc/sample_data/dropper.xml
  nomad/asdf.py
  nomad/e2e-tests.nomad
  src/js/graphql_endpoint/modules/root_query.ts
  src/js/graphql_endpoint/modules/schema_to_graphql.ts
  src/python/analyzerlib.tgz
  src/python/common.tgz
  src/python/grapl_analyzerlib.tgz
  src/python/grapl_analyzerlib/grapl_analyzerlib/nodes/sysmon.py
  src/python/grapl_analyzerlib/grapl_analyzerlib/nodes/sysmon.py.orig
  src/python/grapl_analyzerlib/grapl_analyzerlib/prelude.py
  src/python/provisioner/provisioner/app.py
  src/rust/Cargo.lock
  src/rust/generators/sysmon-generator/Cargo.toml
  src/rust/generators/sysmon-generator/src/generator.rs
  src/rust/generators/sysmon-generator/src/lib.rs
  src/rust/generators/sysmon-generator/src/model.rs
  src/rust/generators/sysmon-generator/src/model/events.rs
  src/rust/generators/sysmon-generator/src/model/events/file_created.rs
  src/rust/generators/sysmon-generator/src/model/events/network_connection.rs
  src/rust/generators/sysmon-generator/src/model/events/process_created.rs
  src/rust/generators/sysmon-generator/src/model/nodes.rs
  src/rust/generators/sysmon-generator/src/model/nodes/file.rs
  src/rust/generators/sysmon-generator/src/model/nodes/machine.rs
  src/rust/generators/sysmon-generator/src/model/nodes/network_socket_address.rs
  src/rust/generators/sysmon-generator/src/model/nodes/process.rs
  src/rust/generators/sysmon-generator/src/model/schema.graphql
  src/rust/generators/sysmon-generator/src/model/schema.orig.graphql
  src/rust/generators/sysmon-generator/src/models.rs
  src/rust/generators/sysmon-generator/src/models/file.rs
  src/rust/generators/sysmon-generator/src/models/file/create.rs
  src/rust/generators/sysmon-generator/src/models/network.rs
  src/rust/generators/sysmon-generator/src/models/network/inbound.rs
  src/rust/generators/sysmon-generator/src/models/network/outbound.rs
  src/rust/generators/sysmon-generator/src/models/process.rs
  src/rust/generators/sysmon-generator/src/models/process/create.rs
  src/rust/grapl-graphql-codegen/src/edge_rel.rs
Due: :pipeline: Upload Cargo Audit

resolve FE performance issues by properly using ctx.save(), ctx.restore(), and appropriate hooks
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
Due: none

upgrade to react-force-graph-2d from rebase, regenerate yarn.lock file
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

formatting changes from make format
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
Due: none

changes from code review
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
Due: none

resolve FE performance issues by properly using ctx.save(), ctx.resto… (#1612)
  src/js/engagement_view/src/components/graphDisplay/GraphDisplay.tsx
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

add yarn.lock file
  src/js/engagement_view/yarn.lock
Due: :pipeline: Upload Yarn Audit

format
  devbox/provision/provision.sh
  devbox/provision/pulumi/__main__.py
  devbox/ssh.sh
Due: none

Oh allow egress to every port
  devbox/provision/provision.sh
  devbox/provision/pulumi/infra/security_group.py
Due: none

Fix pants tailor check
  pants.toml
Due: none

Remove some comments
  devbox/provision/pulumi/infra/security_group.py
Due: none

fuck me, it works
  devbox/provision/provision.sh
  devbox/provision/pulumi/__init__.py
  devbox/provision/pulumi/__main__.py
  devbox/provision/pulumi/infra/ami.py
  devbox/provision/pulumi/infra/demanaged_policies.py
  devbox/provision/pulumi/infra/iam_instance_profile.py
  devbox/provision/pulumi/infra/security_group.py
  pulumi/infra/policies.py
Due: none

Path conditions:
  :pipeline: Upload Cargo Audit: any of: **/Cargo.toml, **/Cargo.lock
  :pipeline: Upload NPM Audit: any of: **/package.json, **/package-lock.json
  :pipeline: Upload Yarn Audit: any of: **/package.json, **/yarn.lock
